<div class="configuracion" ng-controller="configuracionController">
    <h3><i class="fa fa-cog fw"></i> Configuración {{variable}}</h3>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <div class="seccion">
                <h4>Reporte Desglose</h4>
                <div class="opciones">
                    <input type="checkbox"> Alertas
                </div>
                <h5>Correos para aviso</h5>
                <div class="correos">
                    <input type="text" placeholder="Agregar un nuevo Correo" ng-model="agregar_desglose"/>
                    <div class="boton">
                        <button class="btn btn-default" ng-click="agregar_registro('agregar_desglose')">Registrar</button>
                    </div>
                    <table class="listado table table-striped">
                        <thead>
                            <th>Correos Registrados</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="correo in correos_desglose">
                                <td ng-click="borrar_registro('correos_desglose',$index)">{{correo.correo}}</td>
                                <td ng-click="borrar_registro('correos_desglose',$index)"><i class="fa fa-close fa-fw"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr class="visible-xs" />
        </div>
        <div class="col-sm-6">
            <div class="seccion">
                <h4>Reporte Expediente Proveedor</h4>
                <div class="opciones">
                    <input type="checkbox" /> Alertas
                    <hr />
                    <div class="select">
                        <h5>Dias de vencida Fat.</h5>
                        <select>
                            <option>10</option>
                            <option>20</option>
                            <option>30</option>
                            <option>40</option>
                            <option>50</option>
                        </select>
                    </div>
                </div>
                <h5>Correos para aviso</h5>
                <div class="correos">
                    <input type="text" placeholder="Agregar un nuevo Correo" ng-model="agregar_expro"/>
                    <div class="boton">
                        <button class="btn btn-default" ng-click="agregar_registro('agregar_expro')">Registrar</button>
                    </div>
                    <table class="listado table table-striped">
                        <thead>
                            <th>Correos Registrados</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="correo in correos_desglose">
                                <td ng-click="borrar_registro('correos_desglose',$index)">{{correo.correo}}</td>
                                <td ng-click="borrar_registro('correos_desglose',$index)"><i class="fa fa-close fa-fw"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>