<div class="reportes">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="reporte" ng-click="changeView('desglose')">
                    <i class="fa fa-pie-chart"></i>
                    <p>Desglose</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="reporte" ng-click="changeView('expro')">
                    <i class="fa fa-book"></i>
                    <p>Expediente Proveedor</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="reporte" ng-click="changeView('rcp')">
                    <i class="fa fa-bar-chart"></i>
                    <p>Comparativa vs Proveedor vs asdasdas</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="reporte" ng-click="changeView('flujo')">
                    <i class="fa fa-calculator"></i>
                    <p>Proyección de Flujo Efectivo</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="reporte" ng-click="changeView('monitor')">
                    <i class="fa fa-desktop"></i>
                    <p>Monitor</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="reporte vacio">
                    <i class="fa fa-file-o"></i>
                    <p>Reporte aqui...</p>
                </div>
            </div>
        </div>
    </div>
</div>