/*-----------DEFAULT-----------*/
* {
	margin:0;
	padding:0; 
}
a {
	outline:none;
	text-decoration:none;
	color:#3b7eb7
}
a:hover {
	text-decoration:none;
}
img {
	border-style:none;
}
body {
	font:12px/18px Arial,Helvetica,sans-serif;
	color:#1f1f1f;
	background:#888 url(../images/classy_fabric.png) repeat fixed;
}
fieldset {
	border:#c9c9c9 1px solid;
	padding: 10px;
}
/*------------TYPOGRAPHY--------------*/
p {
	font-size:1em;
	line-height:1.5em;
	/* 18px */ margin:0 0 1.5em 0;
	text-align:justify;
}
h1 {
	font-size:2em;
	/* 24px */ line-height:1.5em;
	/* 36px */ margin-top:0em;
	margin-bottom:0.75em;
}
h2 {
	font-size:1.8333em;
	/* 22px */ line-height:1.6364em;
	/* 36px */ margin-top:0em;
	margin-bottom:0.8182em;
}
h3 {
	font-size:1.6667em;
	/* 20px */ line-height:1.8em;
	/* 36px */ margin-top:0em;
	margin-bottom:0.9em;
}
h4 {
	font-size:1.5em;
	/* 18px */ line-height:1em;
	/* 18px */ margin-top:0em;
	margin-bottom:1em;
}
h5 {
	font-size:1.3333em;
	/* 16px */ line-height:1.125em;
	/* 18px */ margin-top:0em;
	margin-bottom:1.125em;
}
h6 {
	font-size:1.1667em;
	/* 14px */ line-height:1.2857em;
	/* 18px */ margin-top:0em;
	margin-bottom: 1.2857em;
}
/*------------ROUNDED BORDER--------------*/
.top-round {
	border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
}
.bottom-round {
	border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
}
.round-panel {
	-moz-border-radius:5px;
	border-radius:5px;
}
.noboder {
	border:none !important;
}
.noboderR {
	border-right:none !important;
}
.noboderL {
	border-left:none !important;
}
.noboderB {
	border-bottom:none !important;
}
.noboderT {
	border-top:none !important;
}
input[disabled] {
	background:#e1e1e1 none !important;
	border:#333 1px solid;
	color:#888;
}
.clear {
	height:0px;
	display:block;
	clear: both;
}
/*-- Float --*/
.left {
	float:left;
}
.right {
	float: right !important;
}
/*-----------LAYOUT-----------*/
#wrapper {
	width:99.8%;
	margin:0px auto 40px auto;
	background:#fff;
	position:relative;
	box-shadow:0 0 10px #000;
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
}
/*------------------------------ALL BAR BACKGROUND SPRITE--------------------------------*/
#header,#shortcur-bar,#footer,.titlebar,#sidenav li a,#sidenav li a:hover,#sidenav li a.active,#usermenu a:hover,.widget-top,.qq-upload-button,.submit-button,.submit-button-login,#login-header {
	background:url(../images/bar-sprite.png) repeat-x;
}
.search-text,.search-button,.notify-alert a,.msg-alert a,#shortcur-bar ul li a,.mnu-indicator,.user-icon,.nav-icon,.title-icon,.sc-icon,.collapse,.expand,#goTop a,.footer-button,.slide-up,.slide-down,.settings-toggle,.right-toggle,.active-nidicator,.shortcut-panel li a,.shortcut-icon {
	background:url(../images/icon-sprite.png) no-repeat;
}
/*-----------HEADER-----------*/ #header {
	height:58px;
	width:100%;
	border-bottom:#386d85 1px solid;
	background-position:0 -251px;
}
#logo {
	width:200px;
	height:58px;
	float:left;
}
#topbar {
	width:auto;
	height:58px;
	float:left;
}
#usermenu {
	width:160px;
	height:58px;
	float:right;
}
#usermenu .admin-user {
	width:120px;
	height:58px;
	display:block;
	position:relative;
	padding-left:40px;
	line-height:58px;
	color:#1f1f1f;
}
#usermenu a:hover {
	background-position:0 -674px;
}
#usermenu .active {
	background:url(../images/bar-sprite.png) repeat-x 0 -674px;
}
.sub-menu {
	z-index:5;
	background:#a4c5e2;
	height:139px;
	position:absolute;
	width:238px;
	right:-1px;
	border:#6e9bb0 1px solid;
	display:none;
}
.sub-menu ul {
	float:left;
	list-style:none;
	padding-top:20px;
}
.sub-menu ul li a {
	background:none !important;
	z-index:5;
	display:block;
	padding-left:10px;
	padding-bottom:8px;
}
.sub-menu ul li a:hover {
	background:none !important;
	color:#900;
}
.admin-thumb {
	width:80px;
	height:90px;
	float:right;
	margin-right:10px;
	margin-top:25px;
	text-align:right;
}
.admin-thumb img {
	background:#dcddde;
	padding:8px;
	border:#497b91 1px solid;
}
.mnu-indicator {
	height:20px;
	width:20px;
	background-position:-360px -160px;
	position:absolute;
	left:10px;
	top:20px;
}
/*-----------LOGIN-----------*/ #login-wrapper {
	width:370px;
	margin:12% auto;
	overflow:hidden;
	position:relative;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	box-shadow:0 0 10px #000;
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
}
.login-box {
	background:#405b72;
}
.login-box ul {
	padding:10px 15px;
}
.login-box li {
	clear:both;
	list-style:none;
	margin-bottom:7px;
	position:relative;
	color:#fff;
}
.login-box li label {
	display:block;
	width:10em;
	float:left;
	padding-top:4px;
}
.login-text-box {
	width:62%;
	border:#333 1px solid !important;
	padding:5px 3px;
	background:#fff url(../images/input-boxt.png) repeat-x top;
	-moz-border-radius:5px;
	border-radius:5px;
}
.rem-check {
	display:inline-block;
	position:absolute;
	top:2px;
}
.rem-text {
	padding-left:20px;
}
#login-header {
	height:58px;
	background-position:0 -251px;
	border-bottom:#0c0e11 1px solid;
}
.login-left {
	width:150px;
	float:left;
	padding-top:10px;
	text-shadow:0px 1px #e9f3fb;
}
.login-right {
	width:200px;
	float:right;
	text-align:right;
}
.user-icon {
	height:20px;
	width:20px;
	background-position:-380px -180px;
	position:absolute;
	right:18px;
	top:20px;
}
.notify-button {
	width: auto;
	float:right;
	margin-right:10px;
}
.notify-button li {
	width:40px;
	height:40px;
	float:right;
	list-style:none;
	position:relative;
	top:9px;
}
.search-box {
	width:220px;
	float:right;
	height:48px;
	position:relative;
	top:9px;
}
.search-text {
	width:170px;
	height:30px;
	background-position:-140px 0px;
	border:0px;
	padding:5px;
}
.search-button {
	width:40px;
	height:40px;
	background-position:-320px 0px;
	border:0px;
	position:absolute;
	top:0px;
	right:0px;
	cursor:pointer;
	color:transparent;
	text-indent:-999999px;
	display:block;
	line-height:0;
	font-size:0;
}
.msg-alert a {
	width:40px;
	height:40px;
	display:block;
	background-position:-360px 0px;
	text-align:center;
}
.msg-alert a:hover {
	background-position:-360px -40px;
}
.notify-alert a {
	width:40px;
	height:40px;
	display:block;
	background-position:-360px -80px;
	text-align:center;
}
.notify-alert a:hover {
	background-position:-360px -120px;
	text-align:center;
}
.new-alert {
	display:inline-block;
	background:#e03434;
	padding:0 3px;
	color:#FFF;
	-moz-border-radius:4px;
	border-radius:4px;
	position:relative;
	top:-8px;
	border:#952121 1px solid;
	font-weight:bold;
}
#panel-left {
	width:180px;
	height:100%;
	background:#fff;
	position:fixed;
	top:0px;
	border-right:#73767c 1px solid;
	z-index:2;
}
.aside-close {
	top:50px;
	left:-180px;
}
.aside-open {
	top:50px;
	left:0px;
}
.toggle {
	width:30px;
	height:30px;
	background:#000;
	position:absolute;
	top:0px;
	right:-30px;
}
.toggle a {
	height:30px;
	width:30px;
	display:block;
	text-align:center;
	line-height:30px;
	color:#FFF;
}
.settings-toggle {
	height:50px;
	width:30px;
	background-position:-370px -230px;
	display:block;
	position:absolute;
	right:-30px;
	top:60px;
	cursor:pointer;
}
.options-list {
	padding:10px 10px 0 10px;
}
.options-list li {
	clear:left;
	margin-bottom:10px;
	list-style:none;
	border:#999 1px solid;
	padding:5px;
	background:#CCC;
	border-radius:5px;
	-moz-border-radius:5px;
}
.options-list li label {
	display:block;
	margin-bottom:3px;
}
.options-list li .background-list {
	width:auto;
	overflow:hidden;
}
.options-list li .background-list li {
	width:36px;
	height:36px;
	background:#666;
	float:left !important;
	clear:none;
	margin:5px;
	padding:0px;
	border:none;
}
#panel-right {
	width:150px;
	height:100%;
	background:#d0d6d9 url(../images/right-panel-back.png) repeat-x top;
	position:fixed;
	top:0px;
	border-left:#73767c 1px solid;
	z-index:3;
}
.panel-close {
	right:-150px;
}
.panel-open {
	right:-90px;
}
.right-toggle {
	height:60px;
	width:32px;
	background-position:-369px -280px;
	display:block;
	position:absolute;
	left:-31px;
	top:60px;
	cursor:pointer;
}
.shortcut-panel {
	width:auto;
	overflow:hidden;
}
.shortcut-panel li {
	list-style:none;
	width:40px;
	height:40px;
	margin:10px;
}
.shortcut-panel li a {
	width:40px;
	height:40px;
	display:block;
	background-position:-360px -380px;
	position:relative;
}
.shortcut-panel li a:hover {
	background-position:-360px -340px
}
.shortcut-icon {
	height:20px;
	width:20px;
	display:block;
	position:absolute;
	top:10px;
	left:10px;
}
.dboard-x-icon {
	background-position:-90px 0px;
}
.frm-x-element {
	background-position:-90px -20px;
}
.chart-x-icon {
	background-position:-90px -40px;
}
.tbl-x-icon {
	background-position:-90px -60px;
}
.gal-x-icon {
	background-position:-90px -80px;
}
.typo-x-icon {
	background-position:-90px -100px;
}
.ui-x-elements {
	background-position:-90px -120px;
}
.calendar-x-icon {
	background-position:-90px -140px;
}
.editor-x-icon {
	background-position:-90px -160px;
}
.file-x-exe {
	background-position:-90px -180px;
}
.widget-x-icon {
	background-position:-90px -200px;
}
.err-x-icon {
	background-position:-90px -220px;
}
.btns-x-icons {
	background-position:-90px -240px;
}
.invoice-x-icon {
	background-position:-90px -260px;
}
.price-x-tbl {
	background-position:-90px -280px;
}
.addressbook-x-icon {
	background-position:-90px -300px;
}
/*-----------SHORTCUT BAR-----------*/ 
#shortcur-bar {
	height:140px;
	width:100%;
	background-position:0 -311px;
	position:relative;
}
#shortcur-bar ul {
	width:980px;
	margin:auto;
}
#shortcur-bar ul li {
	height:100px;
	width:100px;
	float:left;
	list-style:none;
	margin:20px 0 0 20px;
}
#shortcur-bar ul li a {
	height:35px;
	width:100px;
	display:block;
	background-position:-400px 0px;
	text-align:center;
	position:relative;
	padding-top:65px;
	color:#1f1f1f;
	font-weight:bold;
}
#shortcur-bar ul li a:hover {
	background-position:-400px -100px;
	font-weight:bold;
}
.sc-icon {
	width:42px;
	height:42px;
	position:absolute;
	left:30px;
	top: 20px;
}
/*---Sortable Palceholder---*/
.drag-place {
	background:#dde3e8;
	border-radius:5px;
	-moz-border-radius:5px;
}
.slide-up {
	height:20px;
	width:20px;
	position:absolute;
	bottom:-10px;
	background-position:-380px -230px;
	left:480px;
	z-index:1000;
	cursor:pointer;
}
.slide-down {
	height:20px;
	width:20px;
	position:absolute;
	bottom:-10px;
	background:#333;
	left:480px;
	z-index:1000;
	background-position:-380px -250px;
	cursor: pointer;
}
/*---------------------------------SHORTCUT BAR 42x42 PX ICONS SPRITE-----------------------------------*/
.dashboard {
	background-position:0px 0px;
}
.settings {
	background-position:0px -42px;
}
.satistics {
	background-position:0px -84px;
}
.userlist {
	background-position:0px -126px;
}
.tasklist {
	background-position:0px -168px;
}
.content-c {
	background-position:0px -210px;
}
.reports-c {
	background-position:0px -252px;
}
.medialibrary {
	background-position:0px -294px;
}
/*------------MAIN CONTAINER--------------*/ 
#container {
	width:100%;
	overflow:hidden;
	position:relative;
	min-height:800px;
	background:#fff /*url(../images/light-pattern.jpg) repeat*/;
}
/*-----------SIDEBAR-----------*/
#sidebar {
	width:20%;
	height:100%;
	position:absolute;
	border-right:#7c8185 1px solid;
	float:left;
	background:#f1efef;
}
#sidenav {
	width:100%;
	margin-bottom:20px;
}
#sidenav li {
	position:relative;
	list-style:none;
}
#sidenav li a {
	display:block;
	line-height:20px;
	padding:10px 10px 10px 45px;
	background-position:0 -635px;
	color:#1f1f1f;
	position:relative;
}
#sidenav li a:hover {
	background-position:0 -451px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px #e9f3fb;
}
#sidenav li a.active {
	background-position:0 -451px;
	font-weight:bold;
	text-shadow:0px 1px #e9f3fb;
}
#sidenav li a:hover .n-count,#sidenav li a.active .n-count {
	position:absolute;
	right:10px;
	display:inline-block;
	height:18px;
	border:#515459 1px solid;
	line-height:18px;
	padding:0 8px;
	background:#74777d;
	color:#fff;
	-moz-border-radius:15px;
	border-radius:15px;
	-moz-box-shadow:0 0 5px #666;
	-webkit-box-shadow:0 0 5px #666;
	box-shadow:0 0 5px #666;
	text-shadow:none;
}
#sidenav li a .n-count {
	position:absolute;
	right:10px;
	top:10px;
	display:inline-block;
	height:18px;
	border:#9ea3a7 1px solid;
	line-height:18px;
	padding:0 8px;
	background:#f6f6f6;
	color:#747474;
	-moz-border-radius:15px;
	border-radius:15px;
	font-weight:bold;
	-moz-box-shadow:0 0 5px #bbb;
	-webkit-box-shadow:0 0 5px #bbb;
	box-shadow:0 0 5px #bbb;
	text-shadow:none;
	font-size:11px;
}
#sidenav li ul {
	display:none;
}
.active-nidicator {
	height:20px;
	width:10px;
	position:absolute;
	display:block;
	background-position:-370px -180px;
	right:-1px;
	top:10px;
}
.acitem {
	border-left:#6a6e75 1px dashed;
	border-right:#6a6e75 1px dashed;
	border-bottom:#6a6e75 1px dashed;
}
.list-icon {
	height:10px;
	width:10px;
	background:url(../images/arrow-se.png) no-repeat;
	display:block;
	position:absolute;
	top:16px;
	left:20px
}
/*---------------------------------SIDEBAR NAV 20x20 PX ICONS SPRITE-----------------------------------*/
.nav-icon {
	height:20px;
	width:20px;
	display:inline-block;
	position:absolute;
	left:18px;
}
.dboard-icon {
	background-position:-50px 0px;
}
.frm-element {
	background-position:-50px -20px;
}
.chart-icon {
	background-position:-50px -40px;
}
.tbl-icon {
	background-position:-50px -60px;
}
.gal-icon {
	background-position:-50px -80px;
}
.typo-icon {
	background-position:-50px -100px;
}
.ui-elements {
	background-position:-50px -120px;
}
.calendar-icon {
	background-position:-50px -140px;
}
.editor-icon {
	background-position:-50px -160px;
}
.file-exe {
	background-position:-50px -180px;
}
.widget-icon {
	background-position:-50px -200px;
}
.err-icon {
	background-position:-50px -220px;
}
.btns-icons {
	background-position:-50px -240px;
}
.invoice-icon {
	background-position:-50px -260px;
}
.price-tbl {
	background-position:-50px -280px;
}
.addressbook-icon {
	background-position: -50px -300px;
}
/*-----------CONTENT-----------*/
#content {
	width:80%;
	margin-top:20px;
	float:right;}
.titlebar {
	height:50px;
	width:100%;
	background-position:0 -201px;
	padding-left:10px;
	position:relative;
}
.titlebar h4 {
	line-height:40px;
	font-size:12px;
	font-weight:bold;
	padding-left:30px;
	text-shadow:0px 1px #e9f3fb;
	margin:0px;
}
.title-icon {
	height:20px;
	width:20px;
	display:inline-block;
	position:absolute;
	left:10px;
	top:10px;
	0
}
.label-block {
	margin:10px;
}
.widget-panel {
	border:#99c0d7 1px solid;
	background:#fff;
	/*-moz-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:0 0 3px #cfcfcf;
	-webkit-box-shadow:0 0 3px #cfcfcf;
	box-shadow:0 0 3px #cfcfcf;
	*/
	margin:0 0 20px 0;
}
.widget-top {
	height:38px;
	background-position:0 -597px;
	border-bottom:#9ea3a7 1px solid;
	position:relative;
	line-height:38px;
}
.widget-top h4 {
	text-shadow:0px 1px #e9f3fb;
	font-size:12px;
	font-weight:bold;
	line-height:38px;
	margin:0px;
	padding:0 10px;
}
.collapse {
	height:20px;
	width:20px;
	display:block;
	background-position:-340px -160px;
	position:absolute;
	top:10px;
	right:10px;
	text-indent:-9999999px;
	cursor:pointer;
}
.expand {
	height:20px;
	width:20px;
	display:block;
	background-position:-380px -160px;
	position:absolute;
	top:10px;
	right:10px;
	text-indent:-9999999px;
	cursor:pointer;
}
.widget-content {
	width:auto;
	overflow:hidden;
}
.panel-content {
	padding:10px;
}
.widget-col1 {
	width:48.843187%;
	float:left;
}
.widget-col1 .widget-panel {
	margin-right:0px !important;
}
.widget-col2 .widget-panel {
	margin-left:0px !important;
}
.widget-col2 {
	width:48.843187%;
	float:right;
}
.widget-col3 {
	width:200px;
	float:left;
}
.widget-col4 {
	width:200px;
	float:right;
}
.widget-col3 .widget-panel {
	margin-right:0px !important;
	margin-left:10px !important;
}
.widget-col4 .widget-panel {
	margin-right:10px !important;
}
/*------------------TABLE STYLE - SIMPLE-------------------*/
.table-simple table {
	width:100%;
	background:#fff;
	border-spacing:0;
	border-collapse:collapse;
}
.table-simple table thead tr td,.table-simple table thead tr th {
	border-bottom:#CCC 1px solid;
	padding:1%;
	font-weight:bold;
}
.table-simple table thead tr th {
	text-align:left;
	background:#535a62;
	border-top:#222 1px solid;
	border-bottom:#222 1px solid;
	border-right:#242627 1px solid;
}
.table-simple table thead td {
	background:#e5e9eb;
}
.table-simple table thead tr td,.table-simple table tbody tr td {
	border-right:#CCC 1px solid;
	text-align:center;
}
.table-simple table tbody tr td {
	border-bottom:#CCC 1px solid;
	padding:3px 10px;
}
.table-simple table tfoot tr td {
	background:#d1d1d1;
	border-right:#949494 1px solid;
	border-top:#949494 1px solid;
	padding:5px 10px;
}
.table-simple table tbody tr td label {
	display:block;
}
/*------------------TABLE STYLE - CLASSIC-------------------*/
.table-clasic table {
	width:100%;
	background:#fff;
	border-spacing:0;
	border-collapse:collapse;
}
.table-clasic table thead tr td,.table-clasic table thead tr th {
	border-bottom:#CCC 1px solid;
	padding:1%;
	font-weight:bold;
}
.table-clasic table thead tr th {
	text-align:left;
	background:#535a62;
	border-top:#222 1px solid;
	border-bottom:#222 1px solid;
	border-right:#242627 1px solid;
}
.table-clasic table thead td {
	background:#e5e9eb;
}
.table-clasic table thead tr td,.table-clasic table tbody tr td {
	border-right:#CCC 1px solid;
	text-align:center;
}
.table-clasic table tbody tr td {
	border-bottom:#CCC 1px solid;
	padding:3px 10px;
}
.table-clasic table tfoot tr td {
	background:#d1d1d1;
	border-right:#949494 1px solid;
	border-top:#949494 1px solid;
	padding:5px 10px;
}
.table-clasic table tbody tr td label {
	display: block;
}
/*-----------FOOTER-----------*/
#footer-wrap {
	position:fixed;
	bottom:0px;
	width:100%;
	z-index:1000;
}
#footer {
	height:40px;
	wdith:100%;
	margin:auto;
	border-top:#404954 1px solid;
	background-position:0 -491px;
	position:relative;
	bottom:0px;
}
.footer-container {
	width:auto;
	height:40px;
	margin:auto;
	position:relative;
}
.footer-nav {
	width:650px;
	float:left;
}
.footer-nav li {
	height:40px;
	display:inline-block;
	float:left;
	position:relative;
	list-style:none;
}
.footer-nav li a {
	height:40px;
	display:inline-block;
	float:left;
	padding:0 10px 0 35px;
	line-height:40px;
	border-right:#115f83 1px solid;
	color:#fff;
}
.footer-nav li a:hover {
	border-right:#02212f 1px solid;
	background:#093346;
}
.footer-button {
	height:20px;
	width:20px;
	position:absolute;
	top:9px;
	left:10px;
	line-height:20px;
}
.user-counter {
	height:20px;
	border:#0d3958 1px solid;
	background:#0a5284;
	position:absolute;
	top:-9px;
	right:10px;
	padding:0 3px;
	text-align:center;
	line-height:20px;
	border-radius:5px;
	-moz-border-radius:5px;
	font-weight:bold;
	color:#fbff91;
}
.order-counter {
	height:20px;
	border:#6a0707 1px solid;
	background:#a71111;
	position:absolute;
	top:-9px;
	right:10px;
	padding:0 3px;
	text-align:center;
	line-height:20px;
	border-radius:5px;
	-moz-border-radius:5px;
	font-weight:bold;
	color:#fbff91;
}
.task-counter {
	height:20px;
	border:#5f1b04 1px solid;
	background:#a82c01;
	position:absolute;
	top:-9px;
	right:10px;
	padding:0 3px;
	text-align:center;
	line-height:20px;
	border-radius:5px;
	-moz-border-radius:5px;
	font-weight:bold;
	color:#fbff91;
}
.ticket-counter {
	height:20px;
	border:#134c3e 1px solid;
	background:#1a6b57;
	position:absolute;
	top:-9px;
	right:10px;
	padding:0 3px;
	text-align:center;
	line-height:20px;
	border-radius:5px;
	-moz-border-radius:5px;
	font-weight:bold;
	color:#fbff91;
}
.zero-count {
	height:20px;
	width:14px;
	border:#515151 1px solid;
	background:#8b8a8a;
	position:absolute;
	top:-9px;
	right:10px;
	padding:0 3px;
	text-align:center;
	line-height:20px;
	border-radius:5px;
	-moz-border-radius:5px;
	font-weight:bold;
	color:#3b3b3c;
}

.new-user {
	background-position:-50px -320px;
}
.new-task {
	background-position:-50px -340px;
}
.open-tickets {
	background-position:-50px -360px;
}
.new-comments {
	background-position:-50px -380px;
}
.new-order {
	background-position:-50px -400px;
}
.copyright {
	float:right;
	line-height:40px;
	color:#CCC;
	margin-right:20px;
}
.login-footer-container {
	line-height:40px;
	text-align:center;
	color: #FFF;
}

/*------------SCROLL TOP-------------*/
#goTop {
	position:fixed;
	bottom:50px;
	right:15px;
}
#goTop a {
	width:30px;
	height:30px;
	text-indent:-999999px;
	display:block;
	background-position: -370px -200px;
}

/*------------------FORM ELEMENTS STYLE-------------------*/
.form-grid form li {
	margin:0;
	padding:10px;
	background-color:transparent;
	position:relative;
	border-bottom:#e8e8e8 1px solid;
	list-style:none;
}
.form-grid form li:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.form-grid input[type=text],.form-grid input[type=url],.form-grid input[type=number],.form-grid input[type=email] {
	padding:5px 3px;
	border:#b1b9c2 1px solid;
	background:#fff url(../images/input-boxt.png) repeat-x top;
	-moz-border-radius:5px;
	border-radius:5px;
}
.form-grid textarea {
	padding:5px 3px;
	border:#b1b9c2 1px solid;
	background:#fff url(../images/input-boxt.png) repeat-x top;
	font-family:Arial,Helvetica,sans-serif;
	font-size:99%;
	-moz-border-radius:5px;
	border-radius:5px;
}
.form-grid form li:hover {
	background:#f8f8f8;
}
.form-grid input.medium,.form-grid select.medium {
	width:60%;
}
.form-grid input.small,.form-grid select.small {
	width:30%;
}
.form-grid input.large,.form-grid select.large {
	width:99%;
}
.form-grid textarea.large {
	width:99%;
}
.form-fset textarea.txt-editor {
	width:97%;
}
.form-grid select {
	padding:4px 3px;
	border:#b1b9c2 1px solid;
	background:#fff url(../images/input-boxt.png) repeat-x top;
	-moz-border-radius:5px;
	border-radius:5px;
}
.form-grid input.inputAlign {
	text-align:center;
}
.minLabel .fldLabel {
	text-align:center;
}
.fldDivider {
	font-size:120%;
	line-height:135%;
	padding:3px 5px;
	color:#666;
}
.symbol {
	font-size:150%;
	padding: 5px 5px;
}
/*------------------LABEL-------------------*/
label.fldTitle,legend.fldTitle,legend.choiceFld {
	font-size:100%;
	padding:0 0 .2em 0;
}
.fldTitle {
	float:none;
	margin:0 10px 5px 0;
	display:block;
}
.leftLabel .fldTitle {
	float:left;
	width:30%;
	margin:0 10px 0 0;
	padding:3px 0 0;
}
.leftLabel div.fieldwrap {
	float:left;
	width:67%;
	clear:right;
}
.leftLabel div.fieldwrap .fldLabel {
	display:block;
	margin-bottom:5px;
	font-size:90%;
	color:#666;
}
.leftLabel div.fieldwrap .fldcol {
	display:block;
	width:48%;
}
.leftLabel li fieldset {
	border:0px;
	padding:0px;
	margin:0px;
}
.leftLabel .choiceFld {
	float:left;
	width:30%;
	margin:0 10px 0 0;
}
.topLabel .fldTitle {
	display:block;
	margin:0 10px 5px 0;
	padding:3px 0 0;
}
.topLabel div.fieldwrap {
	width:99%;
	clear:right;
}
.topLabel div.fieldwrap .fldLabel {
	display:block;
	margin-bottom:10px;
	font-size:90%;
	color:#666;
}
.topLabel div.fieldwrap .fldcol {
	display:block;
	width:48%;
}
.topLabel li fieldset {
	border:#CCC 1px solid;
	padding:10px;
	margin:0px;
}
.topLabel .choiceFld {
	margin:0 10px 0 0;
}
abbr.require {
	text-decoration:none;
	float:none;
	display:inline;
	padding:0px;
	margin:0px 3px;
	font-weight:bold;
	color:red;
	border-bottom-width: 0;
}
/*------------------RADIO AND CHECK BOX-------------------*/
.form-grid input.medium,.form-grid select.medium {
	width:60%;
}
.form-grid input.small,.form-grid select.small {
	width:30%;
}
.form-grid input.large,.form-grid select.large {
	width:99%;
}
.form-grid textarea.large {
	width:99%;
}
.full {
	width:99% !important;
}
/*------------------Table default-------------------*/
.tbl-default table {
	width:100%;
	background:#fff;
	border-spacing:0;
	border-collapse:collapse;
}
.tbl-default table thead tr td,.tbl-default table thead tr th {
	border-bottom:#CCC 1px solid;
	padding:10px;
	font-weight:bold;
}
.tbl-default table thead tr th {
	text-align:left;
	background:#e5e9eb;
}
.tbl-default table tfoot tr th {
	padding:5px 10px;
}
.tbl-default table thead tr td,.tbl-default table tbody tr td {
	text-align:left;
	padding:5px 10px
}
.tbl-default table tbody tr td,.tbl-default table tbody tr th {
	border-bottom:#CCC 1px solid;
}
.tbl-default table tbody tr td label {
	display:block;
}
.tbl-border table {
	border:#999 1px solid;
}
.likert table {
	width:100%;
	border-top:#CCC 1px solid;
	border-left:#CCC 1px solid;
	border-right:#CCC 1px solid;
	background:#fff;
	border-spacing:0;
	border-collapse:collapse;
}
caption {
	text-align:left;
	padding:.5em 0;
}
.likert table thead tr td,.likert table thead tr th {
	border-bottom:#CCC 1px solid;
	padding:3%;
	font-weight:bold;
}
.likert table thead tr th {
	text-align:left;
	background:#e5e9eb;
}
.likert table thead td {
	background:#e5e9eb;
}
.col15 td {
	width:15%;
}
.col12 td {
	width:12%;
}
.calander {
	padding-top:.4em;
}
.uploadList {
	width:100%;
	border-top:#CCC 1px solid;
	border-left:#CCC 1px solid;
	border-right:#CCC 1px solid;
	background:#fff;
	border-spacing:0;
	border-collapse:collapse;
	margin-top:.2em;
}
.uploadList thead tr td,.uploadList tbody tr td {
	border-left:#CCC 1px solid;
	text-align:center;
}
.uploadList tbody tr td,.uploadList tbody tr th {
	border-bottom:#CCC 1px solid;
	padding:1%;
	font-size:90%;
}
.uploadList thead tr td,.uploadList thead tr th {
	border-bottom:#CCC 1px solid;
	padding:1%;
	font-weight:bold;
	font-size:90%;
}
.uploadList thead tr th {
	text-align:left;
	background:#e5e9eb;
}
.uploadList tbody td {
	font-size:90%;
	color:#666;
}
.uploadList thead td {
	background:#e5e9eb;
}
.likert table thead tr td,.likert table tbody tr td {
	border-left:#CCC 1px solid;
	text-align:center;
}
.likert table tbody tr td,.likert table tbody tr th {
	border-bottom:#CCC 1px solid;
	padding:1%;
}
.likert table tbody tr td label {
	display: block;
}
/*------------------BUTTONS-------------------*/
.submit-button-list {
	padding:10px;
}
.submit-button {
	background-position:0 -569px;
	line-height:28px;
	height:28px;
	border:#4c535f 1px solid;
	color:#fff !important;
	-moz-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	padding:0 10px;
	text-shadow:0px 1px #333;
	margin-right:10px;
}
input::-moz-focus-inner /*Remove button padding in FF*/ {
	border:0;
	padding:0;
}
.submit-button:hover {
	background-position:0 -541px;
	height:28px;
	line-height:28px;
	border:#145883 1px solid;
	color:#fff !important;
	-moz-border-radius:5px;
	border-radius:5px;
}
.submit-button-login {
	background-position:0 -541px;
	line-height:28px;
	height:28px;
	border:#145883 1px solid;
	color:#fff !important;
	-moz-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	padding:0 10px;
	text-shadow:0px 1px #333;
	margin-right:10px;
}
.submit-button-login:hover {
	background-position:0 -569px;
	height:28px;
	line-height:28px;
	border:#4c535f 1px solid;
	color:#fff !important;
	-moz-border-radius:5px;
	border-radius:5px;
}
.submit-button-dark,.submit-button-blue,.submit-button-light,.submit-button-dark-l,.submit-button-blue-l,.submit-button-light-l {
	background:url(../images/element-back.png) repeat-x;
}
.submit-button-light {
	background-position:0 0px;
	line-height:28px;
	height:28px;
	border:#cfcfcf 1px solid;
	color:#343434 !important;
	-moz-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	padding:0 10px;
	text-shadow:0px 1px #fff;
	margin-right:10px;
}
.submit-button-light:hover {
	background:#f7f7f7 none;
}
.submit-button-dark {
	background-position:0 -196px;
	line-height:28px;
	height:28px;
	border:#4c535f 1px solid;
	color:#fff !important;
	-moz-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	padding:0 10px;
	text-shadow:0px 1px #333;
	margin-right:10px;
}
.submit-button-dark:hover {
	background:#545b66 none;
}
.submit-button-blue {
	background-position:0 -98px;
	line-height:28px;
	height:28px;
	border:#145883 1px solid;
	color:#fff !important;
	-moz-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	padding:0 10px;
	text-shadow:0px 1px #333;
	margin-right:10px;
}
.submit-button-blue:hover {
	background:#407c9c none;
}
.submit-button-light-l {
	background-position:0 0px;
	line-height:38px;
	height:38px;
	border:#cfcfcf 1px solid;
	color:#343434 !important;
	-moz-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	padding:0 15px;
	font-size:16px;
	padding:0 10px;
	text-shadow:0px 1px #fff;
	margin-right:10px;
}
.submit-button-light-l:hover {
	background:#f7f7f7 none;
}
.submit-button-dark-l {
	background-position:0 -196px;
	line-height:38px;
	height:38px;
	border:#4c535f 1px solid;
	color:#fff !important;
	-moz-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	padding:0 10px;
	padding:0 15px;
	font-size:16px;
	text-shadow:0px 1px #333;
	margin-right:10px;
}
.submit-button-dark-l:hover {
	background:#545b66 none;
}
.submit-button-blue-l {
	background-position:0 -98px;
	line-height:38px;
	height:38px;
	border:#145883 1px solid;
	color:#fff !important;
	-moz-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	padding:0 10px;
	padding:0 15px;
	font-size:16px;
	text-shadow:0px 1px #333;
	margin-right:10px;
}
.submit-button-blue-l:hover {
	background:#407c9c none;
}

/*------------------File Uploader-------------------*/
.qq-uploader {
	position:relative;
	width: 100%;
}
.qq-upload-button {
	display:block;
	/* or inline-block */
	width:100px !important;
	text-align:center;
	background-position:0 -569px;
	height:28px;
	line-height:28px;
	border:#4c535f 1px solid;
	color:#fff !important;
	-moz-border-radius:5px;
	border-radius:5px;
}
.qq-upload-button-hover {
	background-position:0 -541px;
	height:28px;
	line-height:28px;
	border:#145883 1px solid;
	color:#fff !important;
	-moz-border-radius:5px;
	border-radius:5px;
}
.qq-upload-button-focus {
	outline:1px dotted black;
}
.qq-upload-drop-area {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	min-height:70px;
	z-index:2;
	background:#FF9797;
	text-align:center;
}
.qq-upload-drop-area span {
	display:block;
	position:absolute;
	top:50%;
	width:100%;
	margin-top:-8px;
	font-size:16px;
}
.qq-upload-drop-area-active {
	background:#FF7171;
}
.qq-upload-list {
	margin:15px 35px;
	padding:0;
	list-style:disc;
}
.qq-upload-list li {
	margin:0;
	padding:0 !important;
	line-height:15px;
	font-size:12px;
	border:none !important;
}
.leftLabel .qq-upload-list {
	clear:left;
}
.qq-upload-file,.qq-upload-spinner,.qq-upload-size,.qq-upload-cancel,.qq-upload-failed-text {
	margin-right:7px;
}
.qq-upload-spinner {
	display:inline-block;
	background:url(../images/loading.gif);
	width:15px;
	height:15px;
	vertical-align:text-bottom;
}
.qq-upload-size,.qq-upload-cancel {
	font-size:11px;
	color:#900;
}
.qq-upload-failed-text {
	display:none;
}
.qq-upload-fail .qq-upload-failed-text {
	display: inline;
}

/*---TOOL TIPS--- */
#tiptip_holder {
	display:none;
	position:absolute;
	top:0;
	left:0;
	z-index:99999;
}
#tiptip_holder.tip_top {
	padding-bottom:5px;
}
#tiptip_holder.tip_bottom {
	padding-top:5px;
}
#tiptip_holder.tip_right {
	padding-left:5px;
}
#tiptip_holder.tip_left {
	padding-right:5px;
}
#tiptip_content {
	font-size:11px;
	color:#ccc;
	text-shadow:0 0 2px #000;
	padding:4px 8px;
	border:1px solid #333;
	background-color:rgb(25,25,25);
	background-color:rgba(25,25,25,0.92);
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(transparent),to(#000));
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}
#tiptip_arrow,#tiptip_arrow_inner {
	position:absolute;
	border-color:transparent;
	border-style:solid;
	border-width:6px;
	height:0;
	width:0;
}
#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color:#fff;
	border-top-color:rgba(255,255,255,0.35);
}
#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color:#fff;
	border-bottom-color:rgba(255,255,255,0.35);
}
#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color:#fff;
	border-right-color:rgba(255,255,255,0.35);
}
#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color:#fff;
	border-left-color:rgba(255,255,255,0.35);
}
#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top:-7px;
	margin-left:-6px;
	border-top-color:rgb(25,25,25);
	border-top-color:rgba(25,25,25,0.92);
}
#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top:-5px;
	margin-left:-6px;
	border-bottom-color:rgb(25,25,25);
	border-bottom-color:rgba(25,25,25,0.92);
}
#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top:-6px;
	margin-left:-5px;
	border-right-color:rgb(25,25,25);
	border-right-color:rgba(25,25,25,0.92);
}
#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top:-6px;
	margin-left:-7px;
	border-left-color:rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}
/*---Graph---*/
.visitor-graph {
	width:94%;
	margin:10px auto;
	height:300px;
}
.main-graph {
	width: 98%;
	height:300px;
	margin:10px auto;
}
div.graph {
	width:360px;
	height:300px;
	margin:10px auto;
}
.series-label {
	font-size:8pt;
	text-align:center;
	padding:5px;
	color: white;
}
/*---Typo---*/
.list-item {
	margin-bottom:10px;
}
.list-item li {
	list-style:none;
	padding-left:20px;
	line-height:1.5em;
}
.list-item li ol li {
	list-style:upper-alpha;
	background:none;
	padding:0px;
	margin-left:20px;
}
.list-item li ol li li {
	list-style:lower-roman;
	background:none;
	padding:0px;
	margin-left:20px;
}
.address-book li {
	background:url(../images/addressbook.png) no-repeat 0px 5px;
}
.list-add li {
	background:url(../images/add.png) no-repeat 0px 5px;
}
.arrow-r li {
	background:url(../images/arrow-r.png) no-repeat 0px 5px;
}
.arrow-se li {
	background:url(../images/arrow-se.png) no-repeat 0px 5px;
}
.list-check li {
	background:url(../images/check.png) no-repeat 0px 5px;
}
.list-doc li {
	background:url(../images/document.png) no-repeat 0px 5px;
}
.order-list {
	margin-bottom:10px;
}
.order-list li {
	margin-left:20px;
}
.order-list li ol li {
	list-style:upper-alpha;
}
.order-list li ol li li {
	list-style:lower-roman;
}
.list-decimal li {
	list-style: decimal-leading-zero
}
/*---Gallery---*/
.gallery {
	width:auto;
	overflow:hidden;
}
.gallery ul li {
	width:152px;
	height:120px;
	float:left;
	margin:10px;
	background:#fff;
	list-style:none;
	border:#d1d1d1 5px solid;
	position:relative;
	padding:1px;
}
.img-pre {
	width:20px;
	height:20px;
	display:block;
	position:absolute;
	right:40px;
	bottom:10px;
	background:#e6e6e6 url(../images/bar-sprite.png) repeat-x 0 -451px;
	-moz-border-radius:5px;
	border-radius:5px;
	border:#8898a0 1px solid;
}
.img-pre a {
	background:url(../images/action-sprite.png) no-repeat -140px 0;
	width:20px;
	height:20px;
	display:block;
	text-indent:-999999px;
}
.img-pre a:hover {
	background:#dfe2e3 url(../images/action-sprite.png) no-repeat -140px 0;
	-moz-border-radius:4px;
	border-radius:4px;
}
.img-del {
	width:20px;
	height:20px;
	display:block;
	position:absolute;
	right:10px;
	bottom:10px;
	background:#e6e6e6 url(../images/bar-sprite.png) repeat-x 0 -451px;
	-moz-border-radius:5px;
	border-radius:5px;
	border:#8898a0 1px solid;
}
.img-del a {
	background:url(../images/action-sprite.png) no-repeat -120px 0;
	width:20px;
	height:20px;
	display:block;
	text-indent:-999999px;
}
.img-del a:hover {
	background:#dfe2e3 url(../images/action-sprite.png) no-repeat -120px 0;
	-moz-border-radius:4px;
	border-radius: 4px;
}
/* * SimpleModal Basic Modal Dialog * http://www.ericmmartin.com/projects/simplemodal/
* http://code.google.com/p/simplemodal/
* * Copyright (c) 2010 Eric Martin - http://ericmmartin.com * * Licensed under the MIT license:* http://www.opensource.org/licenses/mit-license.php * * Revision:$Id:basic.css 257 2010-07-27 23:06:56Z emartin24 $ */
#basic-modal-content {
	display: none;
}
/* Overlay */
#simplemodal-overlay {
	background-color:#000;
	cursor: wait;
}
/* Container */
#simplemodal-container {
	height:360px;
	width:600px;
	color:#bbb;
	background-color:#333;
	border:4px solid #444;
	padding:12px;
}
#simplemodal-container .simplemodal-data {
	padding:8px;
}
#simplemodal-container code {
	background:#141414;
	border-left:3px solid #65B43D;
	color:#bbb;
	display:block;
	font-size:12px;
	margin-bottom:12px;
	padding:4px 6px 6px;
}
#simplemodal-container a {
	color:#ddd;
}
#simplemodal-container a.modalCloseImg {
	background:url(../images/x.png) no-repeat;
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-16px;
	cursor:pointer;
}
#simplemodal-container h3 {
	color: #84b8d9;
}
/* * SimpleModal Confirm Modal Dialog * http://www.ericmmartin.com/projects/simplemodal/
* http://code.google.com/p/simplemodal/
* * Copyright (c) 2010 Eric Martin - http://ericmmartin.com * * Licensed under the MIT license:* http://www.opensource.org/licenses/mit-license.php * * Revision:$Id:confirm.css 254 2010-07-23 05:14:44Z emartin24 $ */
#confirm {
	display: none;
}
/* Overlay */
#confirm-overlay {
	background-color:#eee;
	cursor: wait;
}
/* Container */
#confirm-container {
	height:140px;
	width:420px;
	text-align:left;
	background:#fff;
	border:#6f757e 1px solid;
	margin:10px 10px 0px 10px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	box-shadow: 0 0 5px #333;
	-moz-box-shadow: 0 0 5px #333;
	-webkit-box-shadow: 0 0 5px #333;
}
#confirm-container .header {
	height:39px;
	line-height:39px;
	width:100%;
	background:url(../images/bar-sprite.png) repeat-x 0 -451px;
	color:#333;
	font-weight:bold;
	text-shadow:0px 1px #e9f3fb;
}
#confirm-container .header span {
	padding-left:8px;
}
#confirm-container .message {
	color:#333;
	font-size:12px;
	margin:0;
	padding:10px 4px 15px 8px;
	text-align:center;
}
#confirm-container .buttons {
	line-height:26px;
	width:158px;
	margin:auto;
}
#confirm-container .buttons div {
	float:right;
	margin-left:4px;
	width:70px;
	height:26px;
	color:#666;
	font-weight:bold;
	text-align:center;
	background:url(../images/button.gif) repeat-x;
	border:1px solid #bbb;
	cursor:pointer;
}
#confirm-container a.modal-close {
	text-decoration:none;
	font-weight:bold;
	position:absolute;
	right:10px;
	height:20px;
	width:20px;
	background:url("../images/notify-icons.png") no-repeat scroll -5px -125px transparent;
	text-indent:-999999px;
	top:9px;
}
#confirm-container a.modal-close:hover {
	color: #ccc;
}
/* * SimpleModal OSX Style Modal Dialog * http://www.ericmmartin.com/projects/simplemodal/
* http://code.google.com/p/simplemodal/
* * Copyright (c) 2010 Eric Martin - http://ericmmartin.com * * Licensed under the MIT license:* http://www.opensource.org/licenses/mit-license.php * * Revision:$Id:osx.css 254 2010-07-23 05:14:44Z emartin24 $ */
#osx-modal-content,#osx-modal-data {
	display: none;
}
/* Overlay */
#osx-overlay {
	background-color:#000;
	cursor: wait;
}
/* Container */
#osx-container {
	background-color:#eee;
	color:#000;
	padding-bottom:10px;
	width:600px;
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:6px;
	border-radius:0 0 6px 6px;
	-moz-box-shadow:0 0 64px #000;
	-webkit-box-shadow:0 0 64px #000;
	box-shadow:0 0 64px #000;
}
#osx-container a {
	color:#ddd;
}
#osx-container #osx-modal-title {
	color:#fff;
	background:url(../images/bar-sprite.png) repeat-x 0 -491px;
	border-bottom:1px solid #373a42;
	font-weight:bold;
	padding:6px 8px;
	text-shadow:0 1px 0 #333;
	font-size:16px;
	line-height:24px;
}
#osx-container .close {
	display:none;
	position:absolute;
	right:5px;
	top:5px;
}
#osx-container .close a {
	display:block;
	color:#777;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0 1px 0 #f4f4f4;
	text-indent:-999999px;
}
#osx-container .close a:hover {
	color:#000;
}
#osx-container #osx-modal-data {
	font-size:12px;
	padding:6px 12px;
}
#osx-container h2 {
	margin:5px 0 6px;
}
#osx-container p {
	margin-bottom:10px;
}
#osx-container span {
	color:#777;
}
.exit-modal {
	background:url(../images/x.png) no-repeat;
	height:29px;
	width: 25px;
}
/* Float Clearing ---------------------------------------------------------------------*/
.module:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility: hidden;
}
/* float clearing for IE6 */
* html .module {
	height:1%;
	overflow: visible;
}
/* float clearing for IE7 */
*+html .module {
	min-height: 1%;
}
/* Breadcrumb Styles ---------------------------------------------------------------------*/
.breadCrumb {
	display:block;
	height:21px;
	overflow:hidden;
	width:100%;
	padding:5px;
	border-top:solid 1px #AEBDC8;
	border-bottom:solid 1px #AEBDC8;
	background:#fff;
	-moz-box-shadow:0 0 3px #cfcfcf;
	-webkit-box-shadow:0 0 3px #cfcfcf;
	box-shadow:0 0 3px #cfcfcf;
}
.breadCrumb ul {
	margin:0;
	padding:0;
	height:21px;
	display:block;
}
.breadCrumb ul li {
	display:block;
	float:left;
	position:relative;
	height:21px;
	overflow:hidden;
	line-height:21px;
	margin:0px 6px 0px 0;
	padding:0px 10px 0px 0;
	font-size:.9167em;
	background:url(../Images/Chevron.gif) no-repeat 100% 0;
}
.breadCrumb ul li div.chevronOverlay {
	position:absolute;
	right:0;
	top:0;
	z-index:2;
}
.breadCrumb ul li span {
	display:block;
	overflow:hidden;
}
.breadCrumb ul li a {
	display:block;
	position:relative;
	height:21px;
	line-height:21px;
	overflow:hidden;
	float:left;
}
.breadCrumb ul li.first a {
	height:16px !important;
	text-indent:-1000em;
	width:16px;
	padding:0;
	margin-top:2px;
	overflow:hidden;
	background:url(../Images/IconHome.gif) no-repeat 0 0;
}
.breadCrumb ul li.first a:hover {
	background-position:0 -16px;
}
.breadCrumb ul li.last {
	background:none;
	margin-right:0;
	padding-right:0;
}
.chevronOverlay {
	display:none;
	background:url(../Images/ChevronOverlay.png) no-repeat 100% 0;
	width:13px;
	height: 20px;
}
/* Used for the Switch effect:*/
.cb-enable,.cb-disable,.cb-enable span,.cb-disable span {
	background:url( ../images/switch.gif) repeat-x;
	display:block;
	float:left;
}
.cb-enable span,.cb-disable span {
	line-height:30px;
	display:block;
	background-repeat:no-repeat;
	font-weight:bold;
}
.cb-enable span {
	background-position:left -90px;
	padding:0 10px;
}
.cb-disable span {
	background-position:right -180px;
	padding:0 10px;
}
.cb-disable.selected {
	background-position:0 -30px;
}
.cb-disable.selected span {
	background-position:right -210px;
	color:#fff;
}
.cb-enable.selected {
	background-position:0 -60px;
}
.cb-enable.selected span {
	background-position:left -150px;
	color:#fff;
}
.switch label {
	cursor:pointer;
}
.iPhoneCheckContainer {
	position:relative;
	height:27px;
	cursor:pointer;
	overflow:hidden;
}
.iPhoneCheckContainer input {
	position:absolute;
	top:5px;
	left:30px;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity:0;
}
.iPhoneCheckContainer label {
	white-space:nowrap;
	font-size:17px;
	line-height:17px;
	font-weight:bold;
	font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
	cursor:pointer;
	display:block;
	height:27px;
	position:absolute;
	width:auto;
	top:0;
	padding-top:5px;
	overflow:hidden;
}
.iPhoneCheckContainer,.iPhoneCheckContainer label {
	user-select:none;
	-moz-user-select:none;
	-khtml-user-select:none;
}
.iPhoneCheckDisabled {
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity:0.5;
}
label.iPhoneCheckLabelOn {
	color:white;
	background:url('../images/on.png') no-repeat;
	text-shadow:0px 0px 2px rgba(0,0,0,0.6);
	left:0;
	padding-top:5px;
}
label.iPhoneCheckLabelOn span {
	padding-left:8px;
}
label.iPhoneCheckLabelOff {
	color:#8b8b8b;
	background:url('../images/off.png') no-repeat right 0;
	text-shadow:0px 0px 2px rgba(255,255,255,0.6);
	text-align:right;
	right:0;
}
label.iPhoneCheckLabelOff span {
	padding-right:8px;
}
.iPhoneCheckHandle {
	display:block;
	height:27px;
	cursor:pointer;
	position:absolute;
	top:0;
	left:0;
	width:0;
	background:url('../images/slider_left.png') no-repeat;
	padding-left:3px;
}
.iPhoneCheckHandleRight {
	height:100%;
	width:100%;
	padding-right:3px;
	background:url('../images/slider_right.png') no-repeat right 0;
}
.iPhoneCheckHandleCenter {
	height:100%;
	width:100%;
	background:url('../images/slider_center.png');
}
.iOSCheckContainer {
	position:relative;
	height:27px;
	cursor:pointer;
	overflow:hidden;
}
.iOSCheckContainer input {
	position:absolute;
	top:5px;
	left:30px;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity:0;
}
.iOSCheckContainer label {
	white-space:nowrap;
	font-size:17px;
	line-height:17px;
	font-weight:bold;
	font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
	cursor:pointer;
	display:block;
	height:27px;
	position:absolute;
	width:auto;
	top:0;
	padding-top:5px;
	overflow:hidden;
}
.iOSCheckContainer,.iOSCheckContainer label {
	user-select:none;
	-moz-user-select:none;
	-khtml-user-select:none;
}
.iOSCheckDisabled {
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity:0.5;
}
label.iOSCheckLabelOn {
	color:white;
	background:url('../images/on.png') no-repeat;
	text-shadow:0px 0px 2px rgba(0,0,0,0.6);
	left:0;
	padding-top:5px;
}
label.iOSCheckLabelOn span {
	padding-left:8px;
}
label.iOSCheckLabelOff {
	color:#8b8b8b;
	background:url('../images/off.png') no-repeat right 0;
	text-shadow:0px 0px 2px rgba(255,255,255,0.6);
	text-align:right;
	right:0;
}
label.iOSCheckLabelOff span {
	padding-right:8px;
}
.iOSCheckHandle {
	display:block;
	height:27px;
	cursor:pointer;
	position:absolute;
	top:0;
	left:0;
	width:0;
	background:url('../images/slider_left.png') no-repeat;
	padding-left:3px;
}
.iOSCheckHandleRight {
	height:100%;
	width:100%;
	padding-right:3px;
	background:url('../images/slider_right.png') no-repeat right 0;
}
.iOSCheckHandleCenter {
	height:100%;
	width:100%;
	background:url('../images/slider_center.png');
}
.ui-notify {
	width:350px;
	position:fixed;
	top:10px;
	right:10px;
	z-index:1000;
}
.ui-notify-message {
	padding:10px;
	margin-bottom:10px;
}
.ui-notify-message h1 {
	font-size:12px;
	margin:0;
	padding:0;
}
.ui-notify-message p {
	margin:3px 0;
	padding:0;
	line-height:18px;
	text-align:left;
}
.ui-notify-message:last-child {
	margin-bottom:0
}
.ui-notify-message-style {
	background:url(../images/notifiication-sprite.png) repeat-x 0px -690px;
	border:#dc8c7e 1px solid;
	position:relative;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	box-shadow: 0 0 5px #000;
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
}
.ui-notify-message-style h1 {

	color:#e63112;
	font-weight:bold
}
.ui-notify-message-style p {
	color:#333;
	text-align:left;
}
.ui-notify-close {
	height:20px;
	width:20px;
	background:url(../images/notify-icons.png) no-repeat -5px -95px;
	text-indent:-999999px;
}
.notify-close-button {
	height:20px;
	width:20px;
	background:none;
	color:#F00;
}
.ui-notify-cross {
	float:right;
	cursor:pointer;
	position:absolute;
	top:8px;
	right:8px;
}
.col1 {
	width:97%;
	margin:10px;
}
.col2 {
	width:48.64%;
	margin:10px;
	float:left;
}
.col3 {
	width:45.64%;
	margin:10px;
	float:left;
}
.col4 {
	width:68.74%;
	margin:10px;
	float:left;
}
.col5 {
	width:25.5434%;
	margin:10px;
	float:left;
}
.loader {
	padding:10px;
}
.loader span {
	padding:1px 10px;
	display:inline-block;
}
blockquote {
	font:12px/18px Arial,Helvetica,sans-serif;
	text-align:justify;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:50px;
	padding-left:15px;
	border-left:3px solid #ccc;
	color: #666;
}
/*---UI Elements---*/
#demo-frame>div.demo {
	padding:10px !important;
}
#eq {
	clear:both;
	width:330px;
	margin:auto;
}
#eq span {
	height:120px;
	float:left;
	margin:15px
}
.ibutton {
	margin:10px;
}
.ibutton li {
	list-style:none;
	margin-top:10px;
	clear:both;
	width:auto;
	overflow:hidden;
}
.ibutton li label {
	display:block;
	margin-bottom:5px;
}
#slider-range-min {
	margin:10px;
	border-top:#1a394b 1px solid;
	border-left:#1a394b 1px solid;
	border-right:#1a394b 1px solid;
	border-bottom:#336f8a 1px solid;
}
#slider-range-min .ui-slider-handle {
	background:url(../images/handle-sprite.png) no-repeat top left;
	height:20px;
	width:20px;
	border:none !important;
	margin-left:-0.6em;
	top:-0.4em;
	cursor:pointer;
}
#slider-range-min .ui-slider-range {
	border-radius:10px !important;
	background:url(../images/range-back-l.png) repeat-x top !important;
}
.handler {
	border-radius:10px !important;
	-moz-border-radius:10px !important;
	background:url(../images/range-back-l.png) repeat-x bottom !important;
}
.handler .ui-corner-all {
	border-radius:10px !important;
}
#master {
	margin:10px;
	border-top:#1a394b 1px solid;
	border-left:#1a394b 1px solid;
	border-right:#1a394b 1px solid;
	border-bottom:#336f8a 1px solid;
}
#master .ui-slider-handle {
	background:url(../images/handle-sprite.png) no-repeat top left;
	height:20px;
	width:20px;
	border:none !important;
	margin-left:-0.6em;
	top:-0.4em;
	cursor:pointer;
}
#master .ui-slider-range {
	border-radius:10px !important;
	background:url(../images/range-back-l.png) repeat-x top !important;
}
#slider-range {
	margin:10px;
	border-top:#1a394b 1px solid;
	border-left:#1a394b 1px solid;
	border-right:#1a394b 1px solid;
	border-bottom:#336f8a 1px solid;
}
#slider-range .ui-slider-handle {
	background:url(../images/handle-sprite.png) no-repeat top left;
	height:20px;
	width:20px;
	border:none !important;
	margin-left:-0.6em;
	top:-0.4em;
	cursor:pointer;
}
#slider-range .ui-slider-range {
	border-radius:10px !important;
	background:url(../images/range-back-l.png) repeat-x top !important;
}
#eq .ui-slider-handle {
	background:url(../images/handle-sprite.png) no-repeat top left;
	height:20px;
	width:20px;
	border:none !important;
	left:-0.5em;
	margin-bottom:-0.6em;
	margin-left:0;
	cursor:pointer;
}
#eq .ui-slider-range {
	border-radius:10px !important;
	background:url(../images/eq-range.png) repeat-y right !important;
}
#eq .eq-handler {
	width:9px;
	background:url(../images/eq-range.png) repeat-y left !important;
	border-top:#1a394b 1px solid;
	border-left:#1a394b 1px solid;
	border-right:#1a394b 1px solid;
	border-bottom:#336f8a 1px solid;
	border-radius:10px !important;
	-moz-border-radius:10px
}
#progress1,#progress2,#progress3 {
	position:relative;
	text-align:center;
}
#progress1 .pbar,#progress2 .pbar,#progress3 .pbar {
	margin:10px;
	overflow:hidden;
	height:16px;
	background:url(../images/slider-ui-back.png) repeat-x top;
	border:none;
	-moz-border-radius:20px;
	border-radius:20px;
}
#progress1 .pbar .ui-progressbar-value,#progress2 .pbar .ui-progressbar-value,#progress3 .pbar .ui-progressbar-value {
	display:block !important;
	border:none;
	height:16px !important;
	background:url(../images/slider-ui-back.png) repeat-x 0 -20px;
	margin:0px;
}
.percent {
	display: block;
	position:absolute;
	top:-1px;
	width:100%;
}
.elapsed {
	position:relative;
	text-align:right;
}
.elem-grid ul li {
	clear:left;
	list-style:none;
	position:relative;
	padding:10px;
}
.elem-grid ul li label {
	width:30%;
	display:block;
	float:left;
	position:absolute;
	top:10px;
}
.elem-grid ul li div {
	width:67%;
	float:right;
}
.elem-grid ul li:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.notifyui ul li {
	background:url(../images/bar-sprite.png) repeat-x 0 -60px;
	display:block;
	border:#dddddd 1px solid;
	cursor:pointer;
	text-align:center;
	margin:10px 10px;
	padding:0px !important;
	height:24px;
	line-height:24px;
	color:#3B7EB7;
}
.modal-grid li {
	margin:10px;
	list-style:none;
	text-align:center;
}
.modal-grid li a {
	background:url(../images/bar-sprite.png) repeat-x 0 -60px;
	display:block;
	height:24px;
	line-height:24px;
	border:#dddddd 1px solid;
}
.range-value {
	padding:10px 0 0 10px;
}
.range-value input {
	border:0px;
	color: #069;
}
/*widget*/
.recent-post li,.recent-comments li,.article-post li,.recent-user li {
	list-style:none;
	padding:10px 10px;
	border-bottom:#aebdc8 1px dotted;
	list-style:none;
}
.recent-post li p,.recent-comments li p {
	margin:0px;
	text-align:left;
}
.recent-post li p a,.recent-comments li p a {
	color:#295795;
}
.recent-post li p a:hover,.recent-comments li p a:hover {
	text-decoration:underline;
}
.w-count {
	position:absolute;
	display:inline-block;
	right:10px;
	top:9px;
	border:#ecf1f5 1px solid;
	-moz-border-radius:4px;
	border-radius:4px;
	-moz-box-shadow:0 0 5px #9a9ea1;
	-webkit-box-shadow:0 0 5px #9a9ea1;
	box-shadow:0 0 5px #9a9ea1;
	line-height:normal;
}
.w-count a {
	-moz-border-radius:2px;
	border-radius:2px;
	display:inline-block;
	background:#e2e7ed;
	color:#0a7ad8;
	text-shadow:none;
	padding:2px 5px;
	font-size:11px;
}
.w-count a:hover {
	color:#F60;
	background:#FFF;
}
.n-count {
	background:url(../images/n-count.png) no-repeat top center;
	height:18px;
	display:inline-block;
	padding-bottom:4px;
	position:absolute;
	top:0px;
}
.n-count a {
	height:16px;
	display:inline-block;
	background:url(../images/n-count.png) no-repeat 0px -1px;
	padding-left:5px;
	font-size:11px;
	color:#FF9;
}
.n-count a span.n-count-in {
	height:18px;
	display:inline-block;
	background:url(../images/n-count.png)no-repeat right -1px;
	padding-right:5px;
}
.widget-action {
	margin-top:5px;
}
.p-edit {
	background:url(../images/p-action-icon.png) no-repeat -5px -8px !important;
	padding:0px 5px 0 20px;
	color:#333;
	font-size:11px;
}
.p-del {
	background:url(../images/p-action-icon.png) no-repeat -5px -28px !important;
	padding:0px 5px 0 20px;
	color:#333;
	font-size:11px;
}
.p-forward {
	background:url(../images/p-action-icon.png) no-repeat -5px -48px !important;
	padding:0px 5px 0 20px;
	color:#333;
	font-size:11px;
}
.p-reply {
	background:url(../images/p-action-icon.png) no-repeat -5px -68px !important;
	padding:0px 5px 0 20px;
	color:#333;
	font-size:11px;
}
.p-publish {
	background:url(../images/p-action-icon.png) no-repeat -5px -88px !important;
	padding:0px 5px 0 20px;
	color:#333;
	font-size:11px;
}
.p-approve {
	background:url(../images/p-action-icon.png) no-repeat -5px -108px !important;
	padding:0px 5px 0 20px;
	color:#333;
	font-size:11px;
}
.p-solve {
	background:url(../images/p-action-icon.png) no-repeat -5px -128px !important;
	padding:0px 5px 0 20px;
	color:#333;
	font-size:11px;
}
.recent-user a {
	color:#295795;
}
.recent-user a:hover {
	text-decoration:underline;
}
.sdate {
	font-size:90%;
}
.user-thumb {
	width:40px;

	height:40px;
	float:left;
	margin-right:10px;
	background:#fff;
	margin-top:5px;
	padding:2px;
	border:#b6bcbf 1px solid;
}
.user-thumb-r {
	width:40px;
	height:40px;
	float:right;
	margin-left:10px;
	background:#fff;
	margin-top:5px;
	padding:2px;
	border:#b6bcbf 1px solid;
}
.user-info {
	font-size:11px;
	color:#666;
}
.users-list i {
	color:#666;
}
.users-list b {
	color:#a6642f;
}
.users-list span {
	display:block;
}
.pending {
	color:#e03434;
	font-weight:bold;
	font-size:90%;
}
.confirmed {
	color:#43a00b;
	font-weight:bold;
	font-size:90%;
}
.low {
	color:#999;
	font-weight:bold;
	font-size:90%;
}
.stat-count {
	font-size:120%;
	color: #666;
}
/*----------- TAB STYLE -----------*/
.mytabs {
	height:38px;
}
.mytabs li {
	height:38px;
	list-style:none;
	float:left;
	display:inline-block;
	border-right:#acbac5 1px solid;
}
.mytabs li a {
	height:38px;
	float:left;
	display:inline-block;
	padding:0 15px;
	background:url(../images/bar-sprite.png) repeat-x 0 -135px;
	position:relative;
	color:#1f1f1f;
}
.mytabs li a:hover {
	height:38px;
	float:left;
	display:inline-block;
	padding:0 15px;
	background:#fff;
	position:relative;
	top:1px;
}
.mytabs li.active a,.mytabs li.active a:hover {
	background:#fff;
	position:relative;
	top:1px;
}
.mytabContainer {
	overflow:hidden;
	clear:both;
	background:#fff;
}
.tab-content {
	padding:10px 10px 0 10px;
}
.accordion-basic div p {
	padding:10px;
	margin:0px;
}
.accordion-basic .title {
	cursor:pointer;
	display:block;
	height:38px;
	background:url(../images/bar-sprite.png) repeat-x 0 -597px;
	text-decoration:none;
	line-height:38px;
	padding:0 10px;
	font-weight:bold;
	color:#1F1F1F;
}
.accordion-basic a:hover {
	background-color:white;
}
.accordion-basic a.selected {
	color:black;
	background:url(../images/bar-sprite.png) repeat-x 0 -451px;
}
#accordion-nav {
	margin-bottom:20px;
}
#accordion-nav a.head {
	cursor:pointer;
	background:url(../images/bar-sprite.png) repeat-x 0 -451px;
	height:38px;
	line-height:38px;
	display:block;
	font-weight:bold;
	color:#000;
	padding:0 10px;
	text-shadow:0px 1px #e9f3fb;
}
#accordion-nav a.head:hover {
	background:url(../images/bar-sprite.png) repeat-x 0 -451px;
}
#accordion-nav a.selected {
	background:url(../images/bar-sprite.png) repeat-x 0 -451px;
}
#accordion-nav a.current {
	background:url(../images/bar-sprite.png) repeat-x 0 -451px;
}
#accordion-nav .current .current-indicator {
	height:20px;
	width:10px;
	position:absolute;
	display:block;
	background:url(../images/icon-sprite.png) no-repeat -370px -180px;
	right:-1px;
	top:5px;
}
#accordion-nav ul {
	border-width:0px;
	margin:0px;
	padding:0px;
	text-indent:0px;
}
#accordion-nav li {
	list-style:none outside none;
	display:inline;
}
#accordion-nav li li {
	position:relative
}
#accordion-nav li li a {
	display:block;
	line-height:10px;
	padding:10px;
	background:url(../images/bar-sprite.png) repeat-x 0 -645px;
	color:#1f1f1f;
	position:relative;
	color:#000000;
	display:block;
	text-decoration:none;
}
#accordion-nav li li a:hover {
	color:#FF0000;
}
.treeview,.treeview ul {
	padding:0;
	margin:0;
	list-style:none;
}
.treeview ul {
	margin-top:4px;
}
.treeview .hitarea {
	background:url(../images/treeview-default.gif) -64px -25px no-repeat;
	height:16px;
	width:16px;
	margin-left:-16px;
	float:left;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
	display:inline;
	float:none;
}
.treeview li {
	margin:0;
	padding:3px 0pt 3px 16px;
}
.treeheader {
	background:url(../images/bar-sprite.png) repeat-x 0 -451px;
	height:38px;
	line-height:38px;
	display:block;
	font-weight:bold;
	color:#000;
	padding:0 10px;
	text-shadow:0px 1px #e9f3fb;
}
#treecontrol {
	margin:1em 0;
	display:none;
}
#sidetreecontrol {
	background:#E5E9EB;
	padding:3px 10px;
	border-bottom:#ccc 1px solid;
}
.treeview {
	padding:0 10px 10px 10px;
	background:#FFF;
	border-bottom:#ccc 1px solid;
}
.treeview .hover {
	color:red;
	cursor:pointer;
}
.treeview li {
	background:url(../images/treeview-default-line.gif) 0 0 no-repeat;
}
.treeview li.collapsable,.treeview li.expandable {
	background-position:0 -176px;
}
.treeview .expandable-hitarea {
	background-position:-80px -3px;
}
.treeview li.last {
	background-position:0 -1766px
}
.treeview li.lastCollapsable,.treeview li.lastExpandable {
	background-image:url(../images/treeview-default.gif);
}
.treeview li.lastCollapsable {
	background-position:0 -111px
}
.treeview li.lastExpandable {
	background-position:-32px -67px
}
.treeview div.lastCollapsable-hitarea,.treeview div.lastExpandable-hitarea {
	background-position:0;
}
.treeview-red li {
	background-image:url(../images/treeview-red-line.gif);
}
.treeview-red .hitarea,.treeview-red li.lastCollapsable,.treeview-red li.lastExpandable {
	background-image:url(../images/treeview-red.gif);
}
.treeview-black li {
	background-image:url(../images/treeview-black-line.gif);
}
.treeview-black .hitarea,.treeview-black li.lastCollapsable,.treeview-black li.lastExpandable {
	background-image:url(../images/treeview-black.gif);
}
.treeview-gray li {
	background-image:url(../images/treeview-gray-line.gif);
}
.treeview-gray .hitarea,.treeview-gray li.lastCollapsable,.treeview-gray li.lastExpandable {
	background-image:url(../images/treeview-gray.gif);
}
.treeview-famfamfam li {
	background-image:url(../images/treeview-famfamfam-line.gif);
}
.treeview-famfamfam .hitarea,.treeview-famfamfam li.lastCollapsable,.treeview-famfamfam li.lastExpandable {
	background-image:url(../images/treeview-famfamfam.gif);
}
.treeview .placeholder {
	background:url(../images/ajax-loader.gif) 0 0 no-repeat;
	height:16px;
	width:16px;
	display:block;
}
.filetree li {
	padding:3px 0 2px 16px;
}
.filetree span.folder,.filetree span.file {
	padding:1px 0 1px 16px;
	display:block;
}
.filetree span.folder {
	background:url(../images/folder.gif) 0 0 no-repeat;
}
.filetree li.expandable span.folder {
	background:url(../images/folder-closed.gif) 0 0 no-repeat;
}
.filetree span.file {
	background: url(../images/file.gif) 0 0 no-repeat;
}

.sample{ padding:0 10px 10px 0;}
/*--- Black Iconset*/
.icons-b {
	width:auto;
	overflow:hidden;
	padding-bottom:12px;
	margin-right:10px;
}
.icons-b li {
	height:32px;
	width:32px;
	float:left;
	margin:10px 0 0 10px;
	list-style:none;
}
.icons-b li a {
	height:20px;
	width:20px;
	display:block;
	border:#cfcfcf 1px solid;
	text-indent:-999999px !important;
	border-radius:5px;
	-moz-border-radius:5px;
	background:url(../images/element-back.png) repeat-x top;
	padding:5px;
	-moz-box-shadow:0 0 4px #e3e3e3;
	-webkit-box-shadow:0 0 4px #e3e3e3;
	box-shadow:0 0 4px #e3e3e3;
}
.icons-b li a:hover {
	background:#f7f7f7;
	border:#e6e6e6 1px solid;
	-moz-box-shadow:0 0 5px #afafaf;
	-webkit-box-shadow:0 0 5px #afafaf;
	box-shadow:0 0 5px #afafaf;
}
.icon-block-black {
	height:20px;
	width:20px;
	display:block;
	background:url(../images/icons-black.png) no-repeat;
	float:left;
	margin-right:5px;
}
.icon-block-color {
	height:20px;
	width:20px;
	display:block;
	background:url(../images/icons-color.png) no-repeat;
	float:left;
	margin-right:5px;
}
.icons-blue {
	width:auto;
	overflow:hidden;
	padding-bottom:12px;
	margin-right:10px;
}
.icons-blue li {
	height:32px;
	width:32px;
	float:left;
	margin:10px 0 0 10px;
	list-style:none;
}
.icons-blue li a {
	height:20px;
	width:20px;
	display:block;
	border:#145883 1px solid;
	text-indent:-999999px !important;
	border-radius:5px;
	-moz-border-radius:5px;
	background:url(../images/element-back.png) repeat-x 0 -98px;
	padding:5px;
	-moz-box-shadow:0 0 4px #e3e3e3;
	-webkit-box-shadow:0 0 4px #e3e3e3;
	box-shadow:0 0 4px #e3e3e3;
}
.icons-blue li a:hover {
	background:#407c9c;
	border:#145883 1px solid;
	-moz-box-shadow:0 0 5px #afafaf;
	-webkit-box-shadow:0 0 5px #afafaf;
	box-shadow:0 0 5px #afafaf;
}
.icons-dark {
	width:auto;
	overflow:hidden;
	padding-bottom:12px;
	margin-right:10px;
}
.icons-dark li {
	height:32px;
	width:32px;
	float:left;
	margin:10px 0 0 10px;
	list-style:none;
}
.icons-dark li a {
	height:20px;
	width:20px;
	display:block;
	color:#FFF;
	border:#4c535f 1px solid;
	text-indent:-999999px !important;
	border-radius:5px;
	-moz-border-radius:5px;
	background:url(../images/element-back.png) repeat-x 0 -196px;
	padding:5px;
	-moz-box-shadow:0 0 4px #e3e3e3;
	-webkit-box-shadow:0 0 4px #e3e3e3;
	box-shadow:0 0 4px #e3e3e3;
}
.icons-dark li a:hover {
	background:#545b66;
	border:#4c535f 1px solid;
	-moz-box-shadow:0 0 5px #afafaf;
	-webkit-box-shadow:0 0 5px #afafaf;
	box-shadow:0 0 5px #afafaf;
}
.icons-labeled {
	width:auto;
	overflow:hidden;
	padding-bottom:12px;
}
.icons-labeled li {
	height:32px;
	float:left;
	margin:10px 0 0 10px;
	list-style:none;
	display:inline-block;
	line-height:32px;
}
.icons-labeled li a {
	height:20px;
	display:inline-block;
	border:#cfcfcf 1px solid;
	border-radius:5px;
	-moz-border-radius:5px;
	background:url(../images/element-back.png) repeat-x top;
	padding:5px 8px;
	line-height:20px;
	color:#343434;
	-moz-box-shadow:0 0 4px #e3e3e3;
	-webkit-box-shadow:0 0 4px #e3e3e3;
	box-shadow:0 0 4px #e3e3e3;
}
.icons-labeled li a:hover {
	background:#f7f7f7;
	border:#e6e6e6 1px solid;
	-moz-box-shadow:0 0 5px #afafaf;
	-webkit-box-shadow:0 0 5px #afafaf;
	box-shadow:0 0 5px #afafaf;
}
.icons-bl {
	height:20px;
	width:20px;
	display:inline-block;
	border:#cfcfcf 1px solid;
	border-radius:5px;
	-moz-border-radius:5px;
	background:url(../images/element-back.png) repeat-x top;
	padding:5px;
	line-height:20px;
	color:#343434;
}
.icon-wrap-fx {
	width:32px;
	height:32px;
	display:inline-block;
	position:relative;
	margin:10px 0 0 10px;
}
.icon-wrap-fx a {
	width:20px;
	height:20px;
	padding:5px;
	display:block;
	border:#cfcfcf 1px solid;
	text-indent:-999999px !important;
	border-radius:5px;
	-moz-border-radius:5px;
	background:url(../images/element-back.png) repeat-x top;
	color:#343434;
	-moz-box-shadow:0 0 4px #e3e3e3;
	-webkit-box-shadow:0 0 4px #e3e3e3;
	box-shadow:0 0 4px #e3e3e3;
}
.icon-wrap-fx a:hover {
	background:#f7f7f7;
	border:#e6e6e6 1px solid;
	-moz-box-shadow:0 0 5px #afafaf;
	-webkit-box-shadow:0 0 5px #afafaf;
	box-shadow:0 0 5px #afafaf;
}
.icon-wrap-lb {
	height:32px;
	display:inline-block;
	position:relative;
	margin:10px 0 0 10px;
}
.icon-wrap-lb a {
	height:20px;
	padding:5px 8px;
	display:inline-block;
	border:#cfcfcf 1px solid;
	border-radius:5px;
	-moz-border-radius:5px;
	background:url(../images/element-back.png) repeat-x top;
	color:#343434;
	-moz-box-shadow:0 0 4px #e3e3e3;
	-webkit-box-shadow:0 0 4px #e3e3e3;
	box-shadow:0 0 4px #e3e3e3;
	line-height:20px;
}
.icon-wrap-lb a:hover {
	background:#f7f7f7;
	border:#e6e6e6 1px solid;
	-moz-box-shadow:0 0 5px #afafaf;
	-webkit-box-shadow:0 0 5px #afafaf;
	box-shadow:0 0 5px #afafaf;
}
.icon-wrap-fx-less {
	height:20px;
	width:20px;
	display:inline-block;
	position:relative;
	margin:10px 0 0 10px;
}
.icon-wrap-fx-less a {
	width:20px;
	height:20px;
	display:block;
	color:#343434;
	text-indent:-999999px;
}
.icon-wrap-lb-less {
	height:20px;
	display:inline-block;
	position:relative;
	margin:10px 0 0 10px;
	line-height:20px;
}
.icon-wrap-lb-less a {
	height:20px;
	display:inline-block;
	color:#343434;
}
.icons-b-less {
	width:auto;
	overflow:hidden;
	padding-bottom:12px;
}
.icons-b-less li {
	float:left;
	margin:10px 0 0 10px;
	list-style:none;
}
.icons-b-less li a {
	height:20px;
	width:20px;
	display:block;
	text-indent:-999999px !important;
}
.icons-labeled-less {
	width:auto;
	overflow:hidden;
	padding-bottom:12px;
}
.icons-labeled-less li {
	float:left;
	margin:10px 0 0 10px;
	list-style:none;
	display:inline-block;
	line-height:20px;
}
.icons-labeled-less li a {
	height:20px;
	display:inline-block;
	line-height:20px;
	color:#343434;
}
.magnifying-glass-b {
	background-position:0px 0px;
}
.trashcan-b {
	background-position:-20px 0px;
}
.cup-b {
	background-position:-40px 0px;
}
.download-computer-b {
	background-position:-60px 0px;
}
.flag-b {
	background-position:-80px 0px;
}
.flag-tw-b {
	background-position:-100px 0px;
}
.home-b {
	background-position:-120px 0px;
}
.link-b {
	background-position:-140px 0px;
}
.book-large-b {
	background-position:-160px 0px;
}
.book-b {
	background-position:-180px 0px;
}
.note-book-b {
	background-position:-200px 0px;
}
.help-b {
	background-position:-220px 0px;
}
.umbrella-b {
	background-position:-240px 0px;
}
.mail-b {
	background-position:-260px 0px;
}
.rss-b {
	background-position:-280px 0px;
}
.pacman-ghost-b {
	background-position:-300px 0px;
}
.pacman-b {
	background-position:-320px 0px;
}
.alarm-bell-b {
	background-position:-340px 0px;
}
.companies-b {
	background-position:-360px 0px;
}
.alert-b {
	background-position:-380px 0px;
}
.alert-tw-b {
	background-position:-400px 0px;
}
.file-cabinet-b {
	background-position:-420px 0px;
}
.archive-b {
	background-position:-440px 0px;
}
.globe-tw-b {
	background-position:-460px 0px;
}
.light-bulb-b {
	background-position:-480px 0px;
}
.globe-b {
	background-position:-500px 0px;
}
.safari-b {
	background-position:-520px 0px;
}
.paperclip-b {
	background-position:-540px 0px;
}
.post-card-b {
	background-position:-560px 0px;
}
.tag-b {
	background-position:-580px 0px;
}
.tags-tw-b {
	background-position:0px -20px;
}
.key-b {
	background-position:-20px -20px;
}
.key-tw-b {
	background-position:-40px -20px;
}
.acces-denied-sign-b {
	background-position:-60px -20px;
}
.create-write-b {
	background-position:-80px -20px;
}
.info-about-b {
	background-position:-100px -20px;
}
.locked-tw-b {
	background-position:-120px -20px;
}
.unlocked-b {
	background-position:-140px -20px;
}
.folder-b {
	background-position:-160px -20px;
}
.month-calendar-b {
	background-position:-180px -20px;
}
.alarm-clock-b {
	background-position:-200px -20px;
}
.clock-b {
	background-position:-220px -20px;
}
.day-calendar-b {
	background-position:-240px -20px;
}
.user-b {
	background-position:-260px -20px;
}
.users-b {
	background-position:-280px -20px;
}
.admin-user-b {
	background-position:-300px -20px;
}
.user-comment-b {
	background-position:-320px -20px;
}
.users-tw-b {
	background-position:-340px -20px;
}
.admin-user-tw-b {
	background-position:-360px -20px;
}
.user-tw-b {
	background-position:-380px -20px;
}
.medical-case-b {
	background-position:-400px -20px;
}
.suitcase-b {
	background-position:-420px -20px;
}
.bag-b {
	background-position:-440px -20px;
}
.ladys-purse-b {
	background-position:-460px -20px;
}
.shopping-bag-b {
	background-position:-480px -20px;
}
.printer-b {
	background-position:-500px -20px;
}
.camera-b {
	background-position:-520px -20px;
}
.computer-iMac-b {
	background-position:-540px -20px;
}
.fax-b {
	background-position:-560px -20px;
}
.microphone-b {
	background-position:-580px -20px;
}
.digg-b {
	background-position:0px -40px;
}
.digg-tw-b {
	background-position:-20px -40px;
}
.google-buzz-b {
	background-position:-40px -40px;
}
.twitter-tw-b {
	background-position:-60px -40px;
}
.tumbler-b {
	background-position:-80px -40px;
}
.stubleUpon-b {
	background-position:-100px -40px;
}
.youTube-b {
	background-position:-120px -40px;
}
.delicious-b {
	background-position:-140px -40px;
}
.facebook-b {
	background-position:-160px -40px;
}
.vimeo-tw-b {
	background-position:-180px -40px;
}
.skype-b {
	background-position:-200px -40px;
}
.iChat-b {
	background-position:-220px -40px;
}
.facebook-like-b {
	background-position:-240px -40px;
}
.dropbox-b {
	background-position:-260px -40px;
}
.twitter-b {
	background-position:-280px -40px;
}
.sound-b {
	background-position:-300px -40px;
}
.megaphone-b {
	background-position:-320px -40px;
}
.film-strip-b {
	background-position:-340px -40px;
}
.headphones-b {
	background-position:-360px -40px;
}
.gals-tw-b {
	background-position:-380px -40px;
}
.clipboard-b {
	background-position:-400px -40px;
}
.cut-scissors-b {
	background-position:-420px -40px;
}
.pencil-b {
	background-position:-440px -40px;
}
.sign-post-b {
	background-position:-460px -40px;
}
.marker-b {
	background-position:-480px -40px;
}
.v-card-tw-b {
	background-position:-500px -40px;
}
.cog-b {
	background-position:-520px -40px;
}
.settings-b {
	background-position:-540px -40px;
}
.cog-tw-b {
	background-position:-560px -40px;
}
.frames-b {
	background-position:-580px -40px;
}
.blocks-w-b {
	background-position:0px -60px;
}
.list-b {
	background-position:-20px -60px;
}
.list-w-b {
	background-position:-40px -60px;
}
.list-l-b {
	background-position:-60px -60px;
}
.paypal-tw-b {
	background-position:-80px -60px;
}
.money-b {
	background-position:-100px -60px;
}
.money-tw-b {
	background-position:-120px -60px;
}
.shopping-basket-tw-b {
	background-position:-140px -60px;
}
.price-tags-b {
	background-position:-160px -60px;
}
.piggy-bank-b {
	background-position:-180px -60px;
}
.shopping-cart-tr-b {
	background-position:-200px -60px;
}
.shopping-cart-fr-b {
	background-position:-220px -60px;
}
.shopping-cart-tw-b {
	background-position:-240px -60px;
}
.shopping-cart-b {
	background-position:-260px -60px;
}
.scan-label-tw-b {
	background-position:-280px -60px;
}
.paypal-b {
	background-position:-300px -60px;
}
.shopping-basket-tw-b {
	background-position:-320px -60px;
}
.paypal-tr-b {
	background-position:-340px -60px;
}
.Paypal-tr-b {
	background-position:-360px -60px;
}
.money-tw-b {
	background-position:-380px -60px;
}
.visa-b {
	background-position:-400px -60px;
}
.visa-tw-b {
	background-position:-420px -60px;
}
.mastercard-b {
	background-position:-440px -60px;
}
.american-express-b {
	background-position:-460px -60px;
}
.graph-b {
	background-position:-480px -60px;
}
.graph-tw-b {
	background-position:-500px -60px;
}
.chart-et-b {
	background-position:-520px -60px;
}
.box-outgoing-b {
	background-position:-540px -60px;
}
.box-incoming-b {
	background-position:-560px -60px;
}
.speech-bubble-b {
	background-position:-580px -60px;
}
.speech-bubbles-b {
	background-position:0px -80px;
}
.speech-bubbles-tw-b {
	background-position:-20px -80px;
}
.speech-bubble-tw-b {
	background-position:-40px -80px;
}
.phone-b {
	background-position:-60px -80px;
}
.document-b {
	background-position:-80px -80px;
}
.documents-b {
	background-position:-100px -80px;
}
.pdf-documents-b {
	background-position:-120px -80px;
}
.word-documents-b {
	background-position:-140px -80px;
}
.zip-files-b {
	background-position:-160px -80px;
}
.excel-documents-b {
	background-position:-180px -80px;
}
.bended-arrow-right-b {
	background-position:-200px -80px;
}
.bended-arrow-left-b {
	background-position:-220px -80px;
}
.bended-arrow-down-b {
	background-position:-240px -80px;
}
.bended-arrow-up-b {
	background-position:-260px -80px;
}
.refresh-b {
	background-position:-280px -80px;
}
.refresh-tr-b {
	background-position:-300px -80px;
}
.refresh-fr-b {
	background-position:-320px -80px;
}
.go-back-from-screen-b {
	background-position:-340px -80px;
}
.go-full-screen-b {
	background-position:-360px -80px;
}
.go-back-from-full-screen-b {
	background-position:-380px -80px;
}
.repeat-b {
	background-position:-400px -80px;
}
.shuffle-b {
	background-position:-420px -80px;
}
.refresh-tw-b {
	background-position: -440px -80px;
}
/*Color Iconset*/
.application-view-tile-c {
	background-position:0px 0px;
}
.arrow-redo-c {
	background-position:-20px 0px;
}
.arrow-out-c {
	background-position:-40px 0px;
}
.arrow-in-c {
	background-position:-60px 0px;
}
.application-view-list-c {
	background-position:-80px 0px;
}
.application-view-icons-c {
	background-position:-100px 0px;
}
.application-view-gallery-c {
	background-position:-120px 0px;
}
.application-view-detail-c {
	background-position:-140px 0px;
}
.application-view-columns-c {
	background-position:-160px 0px;
}
.arrow-refresh-c {
	background-position:-180px 0px;
}
.application-tile-horizontal-c {
	background-position:-200px 0px;
}
.application-edit-c {
	background-position:-220px 0px;
}
.application-key-c {
	background-position:-240px 0px;
}
.application-form-c {
	background-position:-260px 0px;
}
.anchor-c {
	background-position:-280px 0px;
}
.application-add-c {
	background-position:-300px 0px;
}
.application-delete-c {
	background-position:-320px 0px;
}
.add-c {
	background-position:-340px 0px;
}
.application-link-c {
	background-position:-360px 0px;
}
.accept-c {
	background-position:-380px 0px;
}
.book-addresses-c {
	background-position:-400px 0px;
}
.book-c {
	background-position:-420px 0px;
}
.bin-closed-c {
	background-position:-440px 0px;
}
.basket-c {
	background-position:-460px 0px;
}
.bell-c {
	background-position:-480px 0px;
}
.alarm-c {
	background-position:-500px 0px;
}
.award-star-gold-c {
	background-position:-520px 0px;
}
.attach-c {
	background-position:-540px 0px;
}
.attach-tw-c {
	background-position:-560px 0px;
}
.page-white-word-c {
	background-position:-580px 0px;
}
.coins-c {
	background-position:0px -20px;
}
.cog-c {
	background-position:-20px -20px;
}
.clock-c {
	background-position:-40px -20px;
}
.clipboard-sign-c {
	background-position:-60px -20px;
}
.clipboard-paste-image-c {
	background-position:-80px -20px;
}
.chart-pie-c {
	background-position:-100px -20px;
}
.chart-organisation-c {
	background-position:-120px -20px;
}
.chart-bar-c {
	background-position:-140px -20px;
}
.cd-c {
	background-position:-160px -20px;
}
.chart-curve-c {
	background-position:-180px -20px;
}
.chart-line-c {
	background-position:-200px -20px;
}
.cart-c {
	background-position:-220px -20px;
}
.cancel-c {
	background-position:-240px -20px;
}
.camera-c {
	background-position:-260px -20px;
}
.calendar-tw-c {
	background-position:-280px -20px;
}
.comment-c {
	background-position:-300px -20px;
}
.compass-c {
	background-position:-320px -20px;
}
.bookmark-book-open-c {
	background-position:-340px -20px;
}
.calendar-n-c {
	background-position:-360px -20px;
}
.briefcase-c {
	background-position:-380px -20px;
}
.compress-c {
	background-position:-400px -20px;
}
.bullet-key-c {
	background-position:-420px -20px;
}
.bookmark-book-c {
	background-position:-440px -20px;
}
.calculator-c {
	background-position:-460px -20px;
}
.bookmark-c {
	background-position:-480px -20px;
}
.bullet-add-tw-c {
	background-position:-500px -20px;
}
.bullet-add-n-c {
	background-position:-520px -20px;
}
.bookmark-folder-c {
	background-position:-540px -20px;
}
.book-open-c {
	background-position:-560px -20px;
}
.bookmark-document-c {
	background-position:-580px -20px;
}
.cross-shield-tw-c {
	background-position:0px -40px;
}
.cross-shield-c {
	background-position:-20px -40px;
}
.cross-octagon-fram-c {
	background-position:-40px -40px;
}
.cross_octagon-c {
	background-position:-60px -40px;
}
.cross-c {
	background-position:-80px -40px;
}
.connect-c {
	background-position:-100px -40px;
}
.disconnect-c {
	background-position:-120px -40px;
}
.delete-c {
	background-position:-140px -40px;
}
.databases-c {
	background-position:-160px -40px;
}
.database-c {
	background-position:-180px -40px;
}
.data-c {
	background-position:-200px -40px;
}
.desktop-c {
	background-position:-220px -40px;
}
.cut-c {
	background-position:-240px -40px;
}
.cursor-c {
	background-position:-260px -40px;
}
.direction-c {
	background-position:-280px -40px;
}
.doc-break-c {
	background-position:-300px -40px;
}
.doc-excel-csv-c {
	background-position:-320px -40px;
}
.control-wheel-c {
	background-position:-340px -40px;
}
.doc-access-c {
	background-position:-360px -40px;
}
.disk-c {
	background-position:-380px -40px;
}
.drive-disk-c {
	background-position:-400px -40px;
}
.drive-c {
	background-position:-420px -40px;
}
.drink-empty-c {
	background-position:-440px -40px;
}
.drink-c {
	background-position:-460px -40px;
}
.drawer-c {
	background-position:-480px -40px;
}
.door-in-c {
	background-position:-500px -40px;
}
.doc-text-image-c {
	background-position:-520px -40px;
}
.doc-tag-c {
	background-position:-540px -40px;
}
.doc-resize-c {
	background-position:-560px -40px;
}
.doc-photoshop-c {
	background-position:-580px -40px;
}
.doc-pdf-c {
	background-position:0px -60px;
}
.doc-page-previous-c {
	background-position:-20px -60px;
}
.doc-page-c {
	background-position:-40px -60px;
}
.doc-offlice-c {
	background-position:-60px -60px;
}
.doc-music-c {
	background-position:-80px -60px;
}
.doc-illustrator-c {
	background-position:-100px -60px;
}
.doc-film-c {
	background-position:-120px -60px;
}
.doc-excel-table-c {
	background-position:-140px -60px;
}
.email-open-image-c {
	background-position:-160px -60px;
}
.email-open-c {
	background-position:-180px -60px;
}
.email-c {
	background-position:-200px -60px;
}
.monitor-c {
	background-position:-220px -60px;
}
.money-yen-c {
	background-position:-240px -60px;
}
.money-pound-c {
	background-position:-260px -60px;
}
.money-dollar-c {
	background-position:-280px -60px;
}
.music-c {
	background-position:-300px -60px;
}
.music-beam-c {
	background-position:-320px -60px;
}
.money-euro-c {
	background-position:-340px -60px;
}
.mobile-phone-c {
	background-position:-360px -60px;
}
.microphone-c {
	background-position:-380px -60px;
}
.medal-gold-n-c {
	background-position:-400px -60px;
}
.medal-bronze-n-c {
	background-position:-420px -60px;
}
.marker-c {
	background-position:-440px -60px;
}
.map-c {
	background-position:-460px -60px;
}
.magnifier-c {
	background-position:-480px -60px;
}
.lock-unlock-c {
	background-position:-500px -60px;
}
.emoticon-evilgrin-c {
	background-position:-520px -60px;
}
.emoticon-grin-c {
	background-position:-540px -60px;
}
.emoticon-happy-c {
	background-position:-560px -60px;
}
.lock-c {
	background-position:-580px -60px;
}
.layout-select-sidebar-c {
	background-position:0px -80px;
}
.layout-select-c {
	background-position:-20px -80px;
}
.layout-header-footer-tr-c {
	background-position:-40px -80px;
}
.layout-c {
	background-position:-60px -80px;
}
.key-c {
	background-position:-80px -80px;
}
.ipod-c {
	background-position:-100px -80px;
}
.gallaries-img-c {
	background-position:-120px -80px;
}
.image 1-c {
	background-position:-140px -80px;
}
.house-c {
	background-position:-160px -80px;
}
.help-c {
	background-position:-180px -80px;
}
.heart-c {
	background-position:-200px -80px;
}
.hand-point-c {
	background-position:-220px -80px;
}
.hammer-screwdriver-c {
	background-position:-240px -80px;
}
.group-c {
	background-position:-260px -80px;
}
.folder-c {
	background-position:-280px -80px;
}
.flag-blue-c {
	background-position:-300px -80px;
}
.find-c {
	background-position:-320px -80px;
}
.films-c {
	background-position:-340px -80px;
}
.film-c {
	background-position:-360px -80px;
}
.feed-document-c {
	background-position:-380px -80px;
}
.feed-ballon-c {
	background-position:-400px -80px;
}
.feed-c {
	background-position:-420px -80px;
}
.exclamation-octagon-fram-c {
	background-position:-440px -80px;
}
.exclamation-c {
	background-position:-460px -80px;
}
.error-c {
	background-position:-480px -80px;
}
.envelope-c {
	background-position:-500px -80px;
}
.emoticon-unhappy-c {
	background-position:-520px -80px;
}
.emoticon-tongue-c {
	background-position:-540px -80px;
}
.emoticon-surprised-c {
	background-position:-560px -80px;
}
.emoticon-smile-c {
	background-position:-580px -80px;
}
.link-c {
	background-position:0px -100px;
}
.link-break-c {
	background-position:-20px -100px;
}
.lightning-c {
	background-position:-40px -100px;
}
.lightbulb-c {
	background-position:-60px -100px;
}
.lifebuoy-c {
	background-position:-80px -100px;
}
.page-white-powerpoint-c {
	background-position:-100px -100px;
}
.trophy-silver-c {
	background-position:-120px -100px;
}
.trophy-bronze-c {
	background-position:-140px -100px;
}
.trophy-c {
	background-position:-160px -100px;
}
.tag-blue-c {
	background-position:-180px -100px;
}
.status-online-c {
	background-position:-200px -100px;
}
.slides-c {
	background-position:-220px -100px;
}
.slide-c {
	background-position:-240px -100px;
}
.shape-move-backwards-c {
	background-position:-260px -100px;
}
.shape-group-c {
	background-position:-280px -100px;
}
.pin-c {
	background-position:-300px -100px;
}
.pencil-c {
	background-position:-320px -100px;
}
.page-white-excel-c {
	background-position:-340px -100px;
}
.page-white-edit-c {
	background-position:-360px -100px;
}
.page-white-delete-c {
	background-position:-380px -100px;
}
.page-save-c {
	background-position:-400px -100px;
}
.page-refresh-c {
	background-position:-420px -100px;
}
.page-paste-c {
	background-position:-440px -100px;
}
.page-code-c {
	background-position:-460px -100px;
}
.page-tw-copy-c {
	background-position:-480px -100px;
}
.page-tw-c {
	background-position:-500px -100px;
}
.world-c {
	background-position:-520px -100px;
}
.webcam-c {
	background-position:-540px -100px;
}
.user-silhouette-c {
	background-position:-560px -100px;
}
.ui-combo-box-c {
	background-position:-580px -100px;
}
.user-business-boss-c {
	background-position:0px -120px;
}
.user-black-female-c {
	background-position:-20px -120px;
}
.user-c {
	background-position: -40px -120px;
}
/*Notofication*/
.notification-wrap {
	margin:10px;
	border-radius:5px;
	-moz-border-radius:5px;
	padding:10px 5px;
	background:url(../images/notifiication-sprite.png) repeat-x;
	position:relative;
}
.notification-wrap p {
	margin:0px;
	padding-left:30px;
	padding-right:5px;
	text-align:left;
	color:#555;
}
.warning {
	background-position:0px 0px;
	border:#d8b15a 1px solid;
}
.warning span {
	text-transform:uppercase;
	color:#c36508;
}
.information {
	background-position:0px -230px;
	border:#8abbe6 1px solid;
}
.information span {
	text-transform:uppercase;
	color:#1768af;
}
.success {
	background-position:0px -460px;
	border:#87c27c 1px solid;
}
.success span {
	text-transform:uppercase;
	color:#1768af;
	color:#0a750f;
}
.failuer {
	background-position:0px -690px;
	border:#dc8c7e 1px solid;
}
.failuer span {
	text-transform:uppercase;
	color:#e63112;
}
.icon-warning {
	background:url(../images/notify-icons.png) no-repeat 0px -5px;
	padding-left:30px;
	padding-right:10px;
	display:inline-block;
	float:left;
}
.icon-information {
	background:url(../images/notify-icons.png) no-repeat 0px -35px;
	padding-left:30px;
	padding-right:10px;
	display:inline-block;
	float:left;
}
.icon-success {
	background:url(../images/notify-icons.png) no-repeat 0px -65px;
	padding-left:30px;
	padding-right:10px;
	display:inline-block;
	float:left;
}
.icon-failure {
	background:url(../images/notify-icons.png) no-repeat 0px -95px;
	padding-left:30px;
	padding-right:10px;
	display:inline-block;
	float: left;
}
/*--Inovoice--*/
.invoice-content li {
	list-style:none;
}
.invoice-content .content-block {
	margin-bottom:20px;
}
.invoice-to {
	width:370px;
	float:left;
}
.invoice-head {
	width:auto;
	overflow:hidden;
	clear:both;
	margin-bottom:40px;
}
.invoice-content h5 {
	font-size:16px;
	color:#333;
	font-weight:normal;
}
.invoice-to li,.invoice-from li {
	clear:left;
}
.invoice-to li label,.invoice-from li label {
	width:12em;
	display:block;
	float:left;
}
.invoice-from {
	width:300px;
	float:right;
}
.invoice-content {
	margin:20px;
}
.invoice-meta {
	font-size:18px;
	margin-bottom:40px;
}
.invoice-action {
	float:right;
	margin-bottom:80px;
}
.invoice-to li span,.invoice-from li span {
	display:block;
}
.invoice-date {
	float:right;
	font-size:80%;
}
.note {
	color:#666;
}
.note span {
	color:#069;
}
.total-label {
	text-align:right;
}
.total-amount {
	text-align:left;
	padding-left:10px;
}
.amount-word {
	color:#666;
	margin-top:40px;
	margin-bottom:40px;
}
.amount-word span {
	color:#317892;
	font-weight:bold;
	padding-left: 20px;
}
/*--Action */
.action-icons {
	height:20px;
	width:20px;
	display:inline-block;
	background:url(../images/action-sprite.png) no-repeat;
	text-indent:-999999px;
}
.c-add {
	background-position:-20px 0;
}
.c-edit {
	background-position:-40px 0;
}
.c-close {
	background-position:0 0;
}
.c-delete {
	background-position:-120px 0
}
.c-pending {
	background-position:-80px 0;
}
.c-suspend {
	background-position:-100px 0;
}
.c-approve {
	background-position:-60px 0;
}
#calendar {
	padding:10px;
}
.t-complete {
	text-decoration:line-through;
}
.label {
	-moz-border-radius:4px;
	border-radius:4px;
	padding:1px 5px;
	margin:0 5px;
	font-size:90%;
	font-weight:bold;
}
.l-warning {
	background:#da6860;
	color:#fff;
}
.l-notice {
	background:#6bbcc8;
	color:#FFF;
}
.l-pending {
	background:#60549e;
	color:#FFF;
}
.l-success {
	background:#008c00;
	color:#FFF;
}
.l-default {
	background:#333;
	color:#FFF;
}
.l-disable {
	background:#a1a1a1;
	color:#FFF;
}
.l-suspend {
	background:#db0000;
	color:#FFF;
}
.l-low {
	background:#5b8082;
	color:#FFF;
}
.l-high {
	background:#067e1a;
	color:#FFF;
}
.l-medium {
	background:#c27f43;
	color:#FFF;
}
.l-important {
	background:#087bb0;
	color:#FFF;
}
.l-new {
	background:#086114;
	color:#FFF;
}
#colorSelector {
	position:relative;
	width:36px;
	height:36px;
	background:url(../images/select.png);
	float:none;
}
#colorSelector div {
	position:absolute;
	top:3px;
	left:3px;
	width:30px;
	height:30px;
	background:url(../images/select.png) center;
}
#colorSelector2 {
	position:absolute;
	top:0;
	left:0;
	width:36px;
	height:36px;
	background:url(../images/select2.png);
}
#colorSelector2 div {
	position:absolute;
	top:4px;
	left:4px;
	width:28px;
	height:28px;
	background:url(../images/select2.png) center;
}
#colorpickerHolder2 {
	top:32px;
	left:0;
	width:356px;
	height:0;
	overflow:hidden;
	position:absolute;
}
#colorpickerHolder2 .colorpicker {
	background-image:url(../images/custom_background.png);
	position:absolute;
	bottom:0;
	left:0;
}
#colorpickerHolder2 .colorpicker_hue div {
	background-image:url(../images/custom_indic.gif);
}
#colorpickerHolder2 .colorpicker_hex {
	background-image:url(../images/custom_hex.png);
}
#colorpickerHolder2 .colorpicker_rgb_r {
	background-image:url(../images/custom_rgb_r.png);
}
#colorpickerHolder2 .colorpicker_rgb_g {
	background-image:url(../images/custom_rgb_g.png);
}
#colorpickerHolder2 .colorpicker_rgb_b {
	background-image:url(../images/custom_rgb_b.png);
}
#colorpickerHolder2 .colorpicker_hsb_s {
	background-image:url(../images/custom_hsb_s.png);
	display:none;
}
#colorpickerHolder2 .colorpicker_hsb_h {
	background-image:url(../images/custom_hsb_h.png);
	display:none;
}
#colorpickerHolder2 .colorpicker_hsb_b {
	background-image:url(../images/custom_hsb_b.png);
	display:none;
}
#colorpickerHolder2 .colorpicker_submit {
	background-image:url(../images/custom_submit.png);
}
#colorpickerHolder2 .colorpicker input {
	color:#778398;
}
#error-wrapper {
	width:99.8%;
	margin:0px auto 50px auto;
	position:relative;
	box-shadow: none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
#error404 .leftSide {
	width:600px;
	margin-left:20px;
	float:left;
	position:relative;
}
#error-container {
	width:960px;
	margin:auto;
	overflow:hidden;
	min-height:520px;
	position:relative;
}
#error404 .leftSide h3 {
	font-family:'Oswald',sans-serif;
	font-size:18px;
	font-weight:normal;
	margin-bottom:10px;
}
#error404 .leftSide h3 span {
	display:block;
	font-size:180%;
	color:#da6233;
}
#error404 .leftSide h4 {
	color:#3d6d23;
	font-family:'Oswald',sans-serif;
	font-size:14px;
	font-weight:normal;
	text-transform:uppercase;
	margin:5px 0;
}
#error404 .leftSide .bubble {
	width:200px;
	height:250px;
	background:url(../images/bubble.png) no-repeat left;
	position:absolute;
	right:40px;
	top:20px;
	padding-left:80px;
	padding-top:50px;
}
#error404 .leftSide .bubble p {
	padding-right:40px;
}
#error404 .errorCode {
	height:180px;
	font-size:206px;
	padding-top:250px;
	line-height:180px;
	font-family:'Oswald',sans-serif;
	position:relative;
	left:-10px;
	color:#DA6233;
}
#error404 .rightSide h3 {
	font-family:'Oswald',sans-serif;
	font-size:18px;
	font-weight:normal;
	text-transform:uppercase;
	margin-bottom:20px;
	color:#CCC;
}
#error404 .rightSide h3 span {
	color:#da6233;
}
#error404 .rightSide {
	width:290px;
	padding-top:150px;
	float:right;
	margin-right:20px;
	position:relative;
	color:#CCC;
}
#error404 .rightSide ol {
	margin-bottom:20px;
}
#error404 .rightSide ol li {
	line-height:1.6667em;
	font-family:Arial,Helvetica,sans-serif;
	margin-left:20px;
}
#error404 .rightSide ol li a {
	color:#1d8ac2;
	text-decoration: underline;
}


/*---Responsive Medai Query---*/

/*---For All Type of Screen Above 720px Included iPad ---*/
@media all and (min-width: 720px) and (max-width:978px) {
#shortcur-bar{ display:none;}
#topbar{ width:auto !important;}
#wrapper{ width:99.8% !important;}
.copyright { display:none;}

}
/*---For All Type Tablet---*/
@media all and (min-width: 521px) and (max-width:719px) {
#topbar{ width:auto !important;}
#shortcur-bar{ display: none;}
#wrapper{ width:720px !important;}
.copyright { display:none;}

#sidebar {
	width:25%;
	height:100%;
	position:absolute;
	border-right:#7c8185 1px solid;
	float:left;
	background:#f1efef;
}

#content {
	width:75%;
	float:right;
	padding-bottom:20px;
}

}

/*---For Mobile/iPhone---*/
@media all and (min-width: 0px) and (max-width:520px){
#shortcur-bar{ display:none;}
#topbar{ width:auto !important;}
#wrapper{ width:520px !important;}
.copyright { display:none;}
.search-box{ display:none;}

#sidebar {
    float: none !important;
    width:100%;
	display:none;
}

#content {
    float: none !important;
    width:100%;
}

.widget-col1{ float:none !important; width:100%; margin:0px;}
.widget-col2{ float:none !important; width:100%; margin:0px;}
.widget-panel {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AEBDC8;
	margin:0px;
}
.widget-col1 > .widget-panel { margin:0px auto 10px auto;}
.widget-col2 > .widget-panel { margin:0px auto 10px auto;}
#login-wrapper{
	width:99.8% !important;
	margin:auto;
	overflow:hidden;
	position:relative;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	box-shadow:0 0 10px #000;
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
}


#login-wrapper .top-round {
	border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
}
#login-wrapper .bottom-round {
	border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
}

.login-box {
background:#405b72;
}
.login-box ul {
	padding:10px 15px;
}
.login-box li {
	clear:both;
	list-style:none;
	margin-bottom:7px;
	position:relative;
	color:#fff;
}
.login-box li label {
	display: inline-block;
	clear:both;
	width: auto;
	float: none;
	padding-top:4px;
}
.login-text-box {
	width:98%;
	border:#333 1px solid !important;
	padding:5px 3px;
	background:#fff url(../images/input-boxt.png) repeat-x top;
	-moz-border-radius:5px;
	border-radius:5px;
}
.rem-check {
	display:inline-block;
	position:absolute;
	top:2px;
}
.rem-text {
	padding-left:20px;
}
#login-header {
	height:58px;
	background-position:0 -251px;
	border-bottom:#0c0e11 1px solid;
}
.login-left {
	width:150px;
	float:left;
	padding-top:10px;
	text-shadow:0px 1px #e9f3fb;
}
.login-right {
	width:150px;
	float:right;
	text-align:right;
}
}