﻿body {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	font-family: verdana;
	font-size: 11px;
	color: #000000;
	line-height: 18px;
    background: url(../images/bg.png);
}

table{
	margin-left:auto; 
    margin-right:auto;
}

a, a:link, a:active, a:visited {
	color:#003399;
	text-decoration: underline;
}
a:hover{
	color:#CC0000;
	}

.contenido{
	text-transform:uppercase;
}
.contenido_textarea{
	text-transform:uppercase;
}
.contenido_flotante, .contenido, .contenido_libre, .contenido_readOnly, .contenido_filtro, .contenido_numerico, .contenido_alfanumerico_con_espacios, .contenido_flotante_negativo, .contenido_textarea, .contenido_moneda{
	font-family: verdana;
	font-size: 12px;
	color: #000000;
	text-align:justify;
}
.contenido_flotante_negativo{
	font-family: verdana;
	font-size: 12px;
	color: #000000;
	text-align:justify;
}
.contenido:focus, .contenido_libre:focus, .contenido_readOnly:focus, .contenido_filtro:focus, .contenido_numerico:focus, .contenido_alfanumerico_con_espacios:focus, .contenido_flotante:focus, .contenido_flotante_negativo:focus, .contenido_textarea:focus, .contenido_moneda:focus{
	outline-style:solid;
	outline-width:1px;
	outline-color:#FFCC00;
}
.contenido_readOnly{
	background-color:#DDDDDD;
	border-width:1px;
	text-transform:uppercase;
}
.boton{
	font-family: verdana;
	font-size: 11px;
	color: #000000;
	text-align:center;
}
.encabezado td{
	background-image:url(../images/bg_gris.gif);
	/*color:#007670;*/
	font-weight:bold;
	font-size:12px;
	border-bottom:solid; 
	border-bottom-color:#666666; 
	border-bottom-width:2px; 
	border-right:solid; 
	border-right-width:1px; 
	border-right-color:#666666;
	text-align:center;
	text-transform:uppercase;	
}
.encabezado td:first-child{
	border-right-width:0px; 
	
}
.encabezado td:last-child{
	border-right-width:0px;
}
.encabezado_chico td{
	background-image:url(../images/bg_gris.gif);
	color:#000000;
	font-weight:bold;
	font-size:9px;
	border-bottom:solid; 
	border-bottom-color:#000000; 
	border-bottom-width:1px; 
	border-right:solid; 
	border-right-width:1px; 
	border-right-color:#000000;
	text-align:center;
	text-transform:uppercase;		
}
/*
.encabezado_grande{
	background-image:url(../images/bg_gray22.gif);
	color:#007670;
	font-weight:bold;
	font-size:12px;
}*/
.encabezado_grande td{
	background-image:url(../images/bg_gray22.gif);
	/*color:#007670;*/
	font-weight:bold;
	font-size:12px;
	border-bottom:solid; 
	border-bottom-color:#666666; 
	border-bottom-width:2px; 
	border-right:solid; 
	border-right-width:1px; 
	border-right-color:#666666;
	text-align:center;
	text-transform:uppercase;	
}
.encabezado_enorme td{
	background-image:url(../images/bg_gray_enorme.gif);
	/*color:#007670;*/
	font-weight:bold;
	font-size:12px;
	border-bottom:solid; 
	border-bottom-color:#666666; 
	border-bottom-width:2px; 
	border-right:solid; 
	border-right-width:1px; 
	border-right-color:#666666;
	text-align:center;
	text-transform:uppercase;	
}
.encabezado_abajo{
	background-image:url(../images/bg_gris_abajo.gif);
	color:#007670;
	font-weight:bold;
	font-size:12px;
}
.informacion {
	color:#FFFFFF; 
	background:#2970A6;
	font-family:Verdana; 
	font-size:10px
}
.titulo{
	/*font-family:Franklin Gothic Book; 
	font-size:large;*/
	font-family:Arial;
	font-size:14px;
}

.error{
	color:#FF0000; 
	font-family:Verdana; 
	font-size:14px
}
.mensaje{
	color:#007670;
	font-family:Verdana;
	font-size:14px
}
.cuadricula{
	border-bottom:solid; 
	border-bottom-color:#666666; 
	border-bottom-width:1px; 
	border-right:solid; 
	border-right-width:1px; 
	border-right-color:#666666;
	text-transform:uppercase;

}
.cuadricula_encabezado{
	border-bottom:solid; 
	border-bottom-color:#666666; 
	border-bottom-width:2px; 
	border-right:solid; 
	border-right-width:1px; 
	border-right-color:#666666;
	text-transform:uppercase;
}
.cuadricula_grande{
	border-bottom:solid; 
	border-bottom-color:#666666; 
	border-bottom-width:1px; 
	border-right:solid; 
	border-right-width:3px; 
	border-right-color:#666666;
	text-transform:uppercase;
}
.borde_inferior{
	border-bottom:solid; 
	border-bottom-color:#666666; 
	border-bottom-width:1px; 
	border-right-color:#666666;
}
.borde_superior{
	border-bottom:solid; 
	border-top-color:#666666; 
	border-top-width:1px; 
	border-right-color:#666666;
}
.renglon_grid{

}

.tabla_grid{
	font-family: verdana;
	font-size: 12px;
	color: #000000;
	text-align:justify;
	background:url(../images/fondo.png); 
	background-position:bottom; 
	background-repeat:repeat-x;
	border-width:0px;
}
.tabla_grid_encabezado{
	background-image:url(../images/bg_gris.gif);
	color:#007670;
	font-weight:bold;
	font-size:12px;
	color:#B00004;
}
.tabla_grid_columna_agregar{
	width:1%;
	text-align:center;
}
.tabla_grid_orilla_izquierda {
	background:url(../images/orilla_izquierda.gif);
	background-repeat:repeat-y;
	width:3px;
}
.tabla_grid_orilla_derecha {
	background:url(../images/orilla_derecha.gif);
	background-repeat:repeat-y;
	width:3px;
}
.tabla_grid_footer{
	background-image:url(../images/abajo.gif); 
	background-repeat:repeat-x; 
	background-position:bottom;
}
.boton_imagen{
	padding-left:0px;
	background-color:transparent;
	border:none;
	cursor:pointer;
	width:90px;
}
.boton_imagen_chico{
	padding-left:0px;
	background-color:transparent;
	border:none;
	cursor:pointer;
	width:15px;
}
.boton_popup{
	padding-left:0px;
	background-color:transparent;
	border:none;
	cursor:hand;
	width:24px;
}
.contenido_filtro{
	font-family: verdana;
	font-size: 12px;
	color: #000000;
	text-align:justify;
}
.fondo_listado{
	background-image:url(../images/fondo.png);
	background-position:bottom; 
	background-repeat:repeat-x;
	font-family: verdana;
	font-size: 12px;
	color: #000000;
	text-align:justify;
}
.boton_menu_superior{
	padding-left:0px;
	background-color:transparent;
	border:none;
	cursor:hand;
	width:24px;
}

/*=================================================*
 *	Se agregaron estilos para la pantalla modal    *
 *=================================================*/
.widget-panel {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AEBDC8;
	margin:0px;
}
.widget-top{
	background:url(../images/bar-sprite.png) repeat-x;
}
.widget-top {
	height:20px;
	background-position:0 -597px;
	border-bottom:#9ea3a7 1px solid;
	position:relative;
	line-height:20px;
}
.module:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility: hidden;
}
/* float clearing for IE6 */
* html .module {
	height:1%;
	overflow: visible;
}
/* float clearing for IE7 */
*+html .module {
	min-height: 1%;
}
.widget-content {
	width:auto;
	overflow:hidden;
}	
.mytabs {
	height:20px;
}
.mytabs li {
	height:20px;
	list-style:none;
	float:left;
	display:inline-block;
	border-right:#acbac5 1px solid;
}
.mytabs li a {
	height:20px;
	float:left;
	display:inline-block;
	padding:0 15px;
	background:url(../images/bar-sprite.png) repeat-x 0 -135px;
	position:relative;
	color:#1f1f1f;
}
.mytabs li a:hover {
	height:20px;
	float:left;
	display:inline-block;
	padding:0 15px;
	background:#fff;
	position:relative;
	top:1px;
}
.mytabs li.active a,.mytabs li.active a:hover {
	background:#fff;
	position:relative;
	top:1px;
}
.mytabContainer {
	overflow:hidden;
	clear:both;
	background:#fff;
}
.tab-content {
	padding:10px 10px 0 10px;
}


.tab-block{
}

.tabla_paginado{
border-collapse:collapse !important; 
border-top:hidden !important; 
border-bottom:hidden !important; 
border-left:hidden !important;
border-right:hidden !important;
}	
/*=================================================*
 *	Se agregaron estilos para la pantalla modal    *
 *=================================================*/
.modal_Ventana,.modal_Contenido{
	display: none;
}

.exit-modal {
	background:url(../images/x.png) no-repeat;
	height:29px;
	width: 25px;
}

/* Overlay */
.osx-overlay {
	background-color:#000;
	cursor: not-allowed;
}
/* Container */
.osx-container {
	background-color:#eee;
	color:#000;
	padding-bottom:10px;
	width:600px;
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:6px;
	border-radius:0 0 6px 6px;
	-moz-box-shadow:0 0 64px #000;
	-webkit-box-shadow:0 0 64px #000;
	box-shadow:0 0 64px #000;
}
.osx-container a {
	color:#ddd;
}
.osx-container .modal_Titulo {
	color:#fff;
	background:url(../images/bar-sprite.png) repeat-x 0 -491px;
	border-bottom:1px solid #373a42;
	font-weight:bold;
	padding:6px 8px;
	text-shadow:0 1px 0 #333;
	font-size:12px;
	line-height:24px;
	width:auto;
}
.osx-container .close {
	display:none;
	position:absolute;
	right:5px;
	top:5px;
}
.osx-container .close a {
	display:block;
	color:#777;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0 1px 0 #f4f4f4;
	text-indent:-999999px;
}
.osx-container .close a:hover {
	color:#000;
}
.osx-container #modal_Contenido{
	font-size:10px;
	padding:6px 12px;
}
.osx-container h2 {
	margin:5px 0 6px;
}
.osx-container p {
	margin-bottom:10px;
}
.osx-container span {
	color:#777;
}

/*=================================================*
 *	Se agregaron estilos para las etiquetas    	   *
 *=================================================*/
.label {
	-moz-border-radius:4px;
	border-radius:4px;
	padding:1px 5px;
	margin:0 5px;
	font-size:90%;
	font-weight:bold;

}
.l-warning {
	background:#FF5F00;
	color:#fff;
	font-size:12px;	
}
.l-azul_cielo {
	background:#6bbcc8;
	color:#FFF;
	font-size:12px;
}
.l-purpura {
	background:#60549e;
	color:#FFF;
	font-size:12px;	
}
.l-verde {
	background:#008c00;
	color:#FFF;
	font-size:12px;	
}
.l-negro {
	background:#333;
	color:#FFF;
	font-size:12px;	
}
.l-gris {
	background:#a1a1a1;
	color:#FFF;
	font-size:12px;	
}
.l-rojo {
	background:#db0000;
	color:#FFF;
	font-size:12px;	
}
.l-low {
	background:#5b8082;
	color:#FFF;
	font-size:12px;	
}
.l-high {
	background:#067e1a;
	color:#FFF;
	font-size:12px;	
}
.l-medium {
	background:#c27f43;
	color:#FFF;
	font-size:12px;	
}
.l-azul {
	background:#087bb0;
	color:#FFF;
	font-size:12px;	
}
.l-amarillo {
	background:#E8E800;
	color:#333;
	font-size:12px;	
}


/*=======
	Estilos para Botones
*/
/*------------------BUTTONS-------------------*/
.submit-button-dark,.submit-button-blue,.submit-button-light,.submit-button-dark-l,.submit-button-blue-l,.submit-button-light-l {
	background:url(../images/element-back.png) repeat-x;
}

.submit-button-list {
	padding:10px;
}
.submit-button {
	background-position:0 -569px;
	line-height:28px;
	height:28px;
	border:#4c535f 1px solid;
	color:#fff !important;
	-moz-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	padding:0 10px;
	text-shadow:0px 1px #333;
	margin-right:10px;
	behavior: url(../css/PIE.htc);	
}
input::-moz-focus-inner /*Remove button padding in FF*/ {
	border:0;
	padding:0;
}
.submit-button:hover {
	background-position:0 -541px;
	height:28px;
	line-height:28px;
	border:#145883 1px solid;
	color:#fff !important;
	-moz-border-radius:5px;
	border-radius:5px;
	behavior: url(../css/PIE.htc);	
}
.submit-button-login {
	background-position:0 -541px;
	line-height:28px;
	height:28px;
	border:#145883 1px solid;
	color:#fff !important;
	-moz-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	padding:0 10px;
	text-shadow:0px 1px #333;
	margin-right:10px;
	behavior: url(../css/PIE.htc);
}
.submit-button-login:hover {
	background-position:0 -569px;
	height:28px;
	line-height:28px;
	border:#4c535f 1px solid;
	color:#fff !important;
	-moz-border-radius:5px;
	border-radius:5px;
	behavior: url(../css/PIE.htc);
}

.submit-button-light {
	background-position:0 0px;
	line-height:28px;
	height:28px;
	border:#cfcfcf 1px solid;
	color:#343434 !important;
	-moz-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	padding:0 10px;
	text-shadow:0px 1px #fff;
	margin-right:10px;
	behavior: url(../css/PIE.htc);
}
.submit-button-light:hover {
	background:#f7f7f7 none;
}
.submit-button-dark {
	background-position:0 -196px;
	line-height:28px;
	height:28px;
	border:#4c535f 1px solid;
	color:#fff !important;
	-moz-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	padding:0 10px;
	text-shadow:0px 1px #333;
	margin-right:10px;
	/*behavior: url(../css/PIE.htc);*/
}
.submit-button-dark:hover {
	background:#545b66 none;
}
.submit-button-blue {
	background-position:0 -98px;
	line-height:28px;
	height:28px;
	border:#145883 1px solid;
	color:#fff !important;
	-moz-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	padding:0 10px;
	text-shadow:0px 1px #333;
	margin-right:10px;
	/*behavior: url(../css/PIE.htc);*/
}
.submit-button-blue:hover {
	background:#407c9c none;
}
.submit-button-light-l {
	background-position:0 0px;
	line-height:38px;
	height:38px;
	border:#cfcfcf 1px solid;
	color:#343434 !important;
	-moz-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	padding:0 15px;
	font-size:16px;
	padding:0 10px;
	text-shadow:0px 1px #fff;
	margin-right:10px;
	behavior: url(../css/PIE.htc);
}
.submit-button-light-l:hover {
	background:#f7f7f7 none;
}
.submit-button-dark-l {
	background-position:0 -196px;
	line-height:38px;
	height:38px;
	border:#4c535f 1px solid;
	color:#fff !important;
	-moz-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	padding:0 10px;
	padding:0 15px;
	font-size:16px;
	text-shadow:0px 1px #333;
	margin-right:10px;
	behavior: url(../css/PIE.htc);
}
.submit-button-dark-l:hover {
	background:#545b66 none;
}
.submit-button-blue-l {
	background-position:0 -98px;
	line-height:38px;
	height:38px;
	border:#145883 1px solid;
	color:#fff !important;
	-moz-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	padding:0 10px;
	padding:0 15px;
	font-size:16px;
	text-shadow:0px 1px #333;
	margin-right:10px;
	behavior: url(../css/PIE.htc);
}
.submit-button-blue-l:hover {
	background:#407c9c none;
}
/*	Notify static	*/
/*Notofication*/
.notification-wrap {
	margin:10px;
	border-radius:5px;
	-moz-border-radius:5px;
	padding:10px 5px;
	background:url(../images/notifiication-sprite.png) repeat-x;
	position:relative;
}
.notification-wrap p {
	margin:0px;
	padding-left:30px;
	padding-right:5px;
	text-align:left;
	color:#555;
}
.failuer {
	background-position:0px -690px;
	border:#dc8c7e 1px solid;
}
.failuer span {
	text-transform:uppercase;
	color:#e63112;
}
.success {
	background-position:0px -460px;
	border:#87c27c 1px solid;
}
.success span {
	text-transform:uppercase;
	color:#1768af;
	color:#0a750f;
}
.icon-warning {
	background:url(../images/notify-icons.png) no-repeat 0px -5px;
	padding-left:30px;
	padding-right:10px;
	display:inline-block;
	float:left;
}
.icon-information {
	background:url(../images/notify-icons.png) no-repeat 0px -35px;
	padding-left:30px;
	padding-right:10px;
	display:inline-block;
	float:left;
}
.icon-success {
	background:url(../images/notify-icons.png) no-repeat 0px -65px;
	padding-left:30px;
	padding-right:10px;
	display:inline-block;
	float:left;
}
.icon-failure {
	background:url(../images/notify-icons.png) no-repeat 0px -95px;
	padding-left:30px;
	padding-right:10px;
	display:inline-block;
	float: left;
}



/*Estilo para Tabla_Azul*/
/*************************/
.Tabla_Azul tr, .Tabla_Azul td, .Tabla_Azul th{
	-moz-box-shadow: 0 2px 10px #ccc;
	-webkit-box-shadow: 0 2px 10px #ccc;
	box-shadow: 0 2px 10px #ccc;
}

.Tabla_Azul table {
	*border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
}

/***************************/
/*Esquinas Redondeadas TH*/
/***************************/
.Tabla_Azul th:first-child {
    -moz-border-radius: 	10px 0 0 0;
    -webkit-border-radius: 	10px 0 0 0;
    border-radius: 			10px 0 0 0;
	/*behavior: url(../css/PIE.htc);*/
}

.Tabla_Azul th:last-child {
    -moz-border-radius: 	0 10px 0 0;
    -webkit-border-radius: 	0 10px 0 0;
    border-radius: 			0 10px 0 0;
	/*behavior: url(../css/PIE.htc);*/
}

.Tabla_Azul th:only-child{
    -moz-border-radius: 	10px 10px 0 0;
    -webkit-border-radius: 	10px 10px 0 0;
    border-radius: 			10px 10px 0 0;
	behavior: url(../css/PIE.htc);
}
/*Multiples TR en un THEAD*/
.Tabla_Azul thead tr:last-child td:first-child {
    -moz-border-radius: 	0 0 0 0;
    -webkit-border-radius: 	0 0 0 0;
    border-radius: 			0 0 0 0;
	behavior: url(../css/PIE.htc);
}

.Tabla_Azul thead tr:last-child td:last-child  {
    -moz-border-radius: 	0 0 0 0;
    -webkit-border-radius: 	0 0 0 0;
    border-radius: 			0 0 0 0;
	behavior: url(../css/PIE.htc);
}
/***************************/
/*Esquinas Redondeadas TR*/
/***************************/
.Tabla_Azul tr:last-child td:first-child {
    -moz-border-radius: 	0 0 0 10px;
    -webkit-border-radius: 	0 0 0 10px;
    border-radius: 			0 0 0 10px;
	behavior: url(../css/PIE.htc);
}

.Tabla_Azul tr:last-child td:last-child  {
    -moz-border-radius: 	0 0 10px 0;
    -webkit-border-radius: 	0 0 10px 0;
    border-radius: 			0 0 10px 0;
	behavior: url(../css/PIE.htc);
}

.Tabla_Azul tr:last-child td:only-child{
    -moz-border-radius: 	0 0 10px 10px;
    -webkit-border-radius: 	0 0 10px 10px;
    border-radius: 			0 0 10px 10px;
	behavior: url(../css/PIE.htc);
}

/***************************/
/*Esquinas Redondeadas TFoot*/
/***************************/
.Tabla_Azul tfoot th:first-child {
    -moz-border-radius: 	0 0 0 10px;
    -webkit-border-radius: 	0 0 0 10px;
    border-radius: 			0 0 0 10px;
	/*behavior: url(../css/PIE.htc);*/
}

.Tabla_Azul tfoot th:last-child {
    -moz-border-radius: 	0 0 10px 0;
    -webkit-border-radius: 	0 0 10px 0;
    border-radius: 			0 0 10px 0;
	/*behavior: url(../css/PIE.htc);*/
}

.Tabla_Azul tfoot th:only-child{
    -moz-border-radius: 	0 0 10px 10px;
    -webkit-border-radius: 	0 0 10px 10px;
    border-radius: 			0 0 10px 10px;
	behavior: url(../css/PIE.htc);
}
/*Multiples TR en un tfoot*/
.Tabla_Azul tfoot tr:last-child td:first-child {
    -moz-border-radius: 	0 0 0 10px;
    -webkit-border-radius: 	0 0 0 10px;
    border-radius: 			0 0 0 10px;
	/*behavior: url(../css/PIE.htc);*/
}

.Tabla_Azul tfoot tr:last-child td:last-child  {
    -moz-border-radius: 	0 0 10px 0;
    -webkit-border-radius: 	0 0 10px 0;
    border-radius: 			0 0 10px 0;
	/*behavior: url(../css/PIE.htc);*/
}
	
/***************************/
/*
	-moz-box-shadow: 0 2px 10px #ccc;
	-webkit-box-shadow: 0 2px 10px #ccc;
	box-shadow: 0 2px 10px #ccc;						*/
/***************************/
.Tabla_Azul td, .Tabla_Azul th {
	/* Estilo Borde Td's y Th's */
	border: 1px solid #778899;
	
	/*Propiedad/Fix para que se muestre en IE8*/
	position: relative;
		
	/* Tamaño */
	padding: 5px;
	}


.Tabla_Azul {
	/* Estilo del texto */
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

.Tabla_Azul tbody tr td {

	background-color: #eef2f9;
	/* FF3.6+ */
	background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.1) 51%, rgba(255,255,255,0) 100%); 
	/* Chrome,Safari4+ */	
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(51%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,0)));
	/* Chrome10+,Safari5.1+ */	
	background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.1) 51%,rgba(255,255,255,0) 100%);
	/* Opera 11.10+ */	
	background-image: -o-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.1) 51%,rgba(255,255,255,0) 100%); 
	/* IE10+ */	
	background-image: -ms-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.1) 51%,rgba(255,255,255,0) 100%);
	/* IE6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ffffff', endColorstr='#00ffffff',GradientType=0 );
	/* text */
	color: #262c31;
	font-size: 12px;
	font-weight:500;
}

.Tabla_Azul tbody tr.odd td {
	/* appearance */
	background-color: #d6e0ef; 
	/* FF3.6+ */
	background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.1) 51%, rgba(255,255,255,0) 100%); 
	/* Chrome,Safari4+ */	
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(51%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,0)));
	/* Chrome10+,Safari5.1+ */	
	background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.1) 51%,rgba(255,255,255,0) 100%);
	/* Opera 11.10+ */	
	background-image: -o-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.1) 51%,rgba(255,255,255,0) 100%); 
	/* IE10+ */	
	background-image: -ms-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.1) 51%,rgba(255,255,255,0) 100%);
	/* IE6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ffffff', endColorstr='#00ffffff',GradientType=0 );
}


.Tabla_Azul thead tr th,
.Tabla_Azul thead tr td,
.Tabla_Azul tfoot tr th, 
.Tabla_Azul tfoot tr td {
	/* appearance */
	background-color: #8ca9cf;
	/* FF3.6+ */
	background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.1) 51%, rgba(255,255,255,0) 100%); 
	/* Chrome,Safari4+ */	
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(51%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,0)));
	/* Chrome10+,Safari5.1+ */	
	background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.1) 51%,rgba(255,255,255,0) 100%);
	/* Opera 11.10+ */	
	background-image: -o-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.1) 51%,rgba(255,255,255,0) 100%); 
	/* IE10+ */	
	background-image: -ms-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.1) 51%,rgba(255,255,255,0) 100%);
	/* IE6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ffffff', endColorstr='#00ffffff',GradientType=0 );

	/* text */
	color: #121517;
	font-size: 14px;
	text-align:center;
	text-transform:uppercase;
	text-shadow: white 0.1em 0.1em 0.2em
}	
.Tabla_Azul .numeric {
	/* text */
	text-align: right;
}
	
/* Fancy Dark Table */	
.fancyDarkTable .numeric {
	/* text */
	text-align: right;
	}

.fancyDarkTable td, .fancyDarkTable th {
	border: 1px solid #000000;
	padding: 5px;
}

.fancyDarkTable thead tr th {
	padding: 10px 5px 10px 5px;
	}

.fancyDarkTable {
	/*border-collapse: separate;*/
	
	/* text */
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

.fancyDarkTable tbody tr td {
	/* appearance */
	background-color: #48535e;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.0) 0%,
		rgba(255,255,255,0.02) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.0)),
		color-stop(100%,rgba(255,255,255,0.02)));
	border-bottom-color: #22272e;
	border-top-color: #708090;
	border-right-color: #000;
	border-left-color: #3c454f;

	/* size */
	padding: 10px 5px 30px 5px;

	/* text */
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 -1px 1px #000000;
	}

.fancyDarkTable tbody tr.odd td {
	/* appearance */
	background-color: #3c454f;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.0) 0%,
		rgba(255,255,255,0.02) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.0)),
		color-stop(100%,rgba(255,255,255,0.02)));
	border-right-color: #000;
	}

.fancyDarkTable thead tr th,
.fancyDarkTable tfoot tr td {
	/* appearance */
	background-color: #0b0d10;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.2) 50%,
		rgba(255,255,255,0.1) 51%,
		rgba(255,255,255,0.0) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.4)),
		color-stop(50%,rgba(255,255,255,0.2)),
		color-stop(51%,rgba(255,255,255,0.1)),
		color-stop(100%,rgba(255,255,255,0.0)));
		
	/* text */
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 -1px 1px #000;
	}
	
.fancyDarkTable .fht-head {
	-webkit-box-shadow: 0 5px 10px #000;
	z-index: 1;
	position: relative;
	}
	
#msg {display:none; position:absolute; z-index:200; background:url(../images/msg_arrow.gif) left center no-repeat; padding-left:7px}
#msgcontent {display:block; background:#f3e6e6; border:2px solid #924949; border-left:none; padding:5px; min-width:150px; max-width:250px}	



/*Estilo para Tabla_Azul*/
/*************************/
div.fixedHeaderTable tr, div.fixedHeaderTable td, div.fixedHeaderTable th{
	-moz-box-shadow: 0 2px 10px #ccc;
	-webkit-box-shadow: 0 2px 10px #ccc;
	box-shadow: 0 2px 10px #ccc;
}

div.fixedHeaderTable table {
	*border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
}

/***************************/
/*Esquinas Redondeadas TH*/
/***************************/
div.fixedHeaderTable th:first-child {
    -moz-border-radius: 	10px 0 0 0;
    -webkit-border-radius: 	10px 0 0 0;
    border-radius: 			10px 0 0 0;
	/*behavior: url(../css/PIE.htc);*/
}

div.fixedHeaderTable th:last-child {
    -moz-border-radius: 	0 10px 0 0;
    -webkit-border-radius: 	0 10px 0 0;
    border-radius: 			0 10px 0 0;
	/*behavior: url(../css/PIE.htc);*/
}

div.fixedHeaderTable th:only-child{
    -moz-border-radius: 	10px 10px 0 0;
    -webkit-border-radius: 	10px 10px 0 0;
    border-radius: 			10px 10px 0 0;
	behavior: url(../css/PIE.htc);
}
/*Multiples TR en un THEAD*/
div.fixedHeaderTable thead tr:last-child td:first-child {
    -moz-border-radius: 	0 0 0 0;
    -webkit-border-radius: 	0 0 0 0;
    border-radius: 			0 0 0 0;
	behavior: url(../css/PIE.htc);
}

div.fixedHeaderTable thead tr:last-child td:last-child  {
    -moz-border-radius: 	0 0 0 0;
    -webkit-border-radius: 	0 0 0 0;
    border-radius: 			0 0 0 0;
	behavior: url(../css/PIE.htc);
}
/***************************/
/*Esquinas Redondeadas TR*/
/***************************/
div.fixedHeaderTable tr:last-child td:first-child {
    -moz-border-radius: 	0 0 0 10px;
    -webkit-border-radius: 	0 0 0 10px;
    border-radius: 			0 0 0 10px;
	behavior: url(../css/PIE.htc);
}

div.fixedHeaderTable tr:last-child td:last-child  {
    -moz-border-radius: 	0 0 10px 0;
    -webkit-border-radius: 	0 0 10px 0;
    border-radius: 			0 0 10px 0;
	behavior: url(../css/PIE.htc);
}

div.fixedHeaderTable tr:last-child td:only-child{
    -moz-border-radius: 	0 0 10px 10px;
    -webkit-border-radius: 	0 0 10px 10px;
    border-radius: 			0 0 10px 10px;
	behavior: url(../css/PIE.htc);
}

/***************************/
/*Esquinas Redondeadas TFoot*/
/***************************/
div.fixedHeaderTable tfoot th:first-child {
    -moz-border-radius: 	0 0 0 10px;
    -webkit-border-radius: 	0 0 0 10px;
    border-radius: 			0 0 0 10px;
	/*behavior: url(../css/PIE.htc);*/
}

div.fixedHeaderTable tfoot th:last-child {
    -moz-border-radius: 	0 0 10px 0;
    -webkit-border-radius: 	0 0 10px 0;
    border-radius: 			0 0 10px 0;
	/*behavior: url(../css/PIE.htc);*/
}

div.fixedHeaderTable tfoot th:only-child{
    -moz-border-radius: 	0 0 10px 10px;
    -webkit-border-radius: 	0 0 10px 10px;
    border-radius: 			0 0 10px 10px;
	behavior: url(../css/PIE.htc);
}
/*Multiples TR en un tfoot*/
div.fixedHeaderTable tfoot tr:last-child td:first-child {
    -moz-border-radius: 	0 0 0 10px;
    -webkit-border-radius: 	0 0 0 10px;
    border-radius: 			0 0 0 10px;
	/*behavior: url(../css/PIE.htc);*/
}

div.fixedHeaderTable tfoot tr:last-child td:last-child  {
    -moz-border-radius: 	0 0 10px 0;
    -webkit-border-radius: 	0 0 10px 0;
    border-radius: 			0 0 10px 0;
	/*behavior: url(../css/PIE.htc);*/
}
	
/***************************/
/*
	-moz-box-shadow: 0 2px 10px #ccc;
	-webkit-box-shadow: 0 2px 10px #ccc;
	box-shadow: 0 2px 10px #ccc;						*/
/***************************/
div.fixedHeaderTable td, div.fixedHeaderTable th {
	/* Estilo Borde Td's y Th's */
	border: 1px solid #778899;
	
	/*Propiedad/Fix para que se muestre en IE8
	position: relative;*/
		
	/* Tamaño */
	padding: 5px;
	}


div.fixedHeaderTable {
	/* Estilo del texto */
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

div.fixedHeaderTable tbody tr td {

	background-color: #eef2f9;
	/* FF3.6+ */
	background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.1) 51%, rgba(255,255,255,0) 100%); 
	/* Chrome,Safari4+ */	
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(51%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,0)));
	/* Chrome10+,Safari5.1+ */	
	background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.1) 51%,rgba(255,255,255,0) 100%);
	/* Opera 11.10+ */	
	background-image: -o-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.1) 51%,rgba(255,255,255,0) 100%); 
	/* IE10+ */	
	background-image: -ms-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.1) 51%,rgba(255,255,255,0) 100%);
	/* IE6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ffffff', endColorstr='#00ffffff',GradientType=0 );
	/* text */
	color: #262c31;
	font-size: 12px;
	font-weight:500;
}

div.fixedHeaderTable tbody tr.odd td {
	/* appearance */
	background-color: #d6e0ef; 
	/* FF3.6+ */
	background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.1) 51%, rgba(255,255,255,0) 100%); 
	/* Chrome,Safari4+ */	
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(51%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,0)));
	/* Chrome10+,Safari5.1+ */	
	background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.1) 51%,rgba(255,255,255,0) 100%);
	/* Opera 11.10+ */	
	background-image: -o-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.1) 51%,rgba(255,255,255,0) 100%); 
	/* IE10+ */	
	background-image: -ms-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.1) 51%,rgba(255,255,255,0) 100%);
	/* IE6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ffffff', endColorstr='#00ffffff',GradientType=0 );
}


div.fixedHeaderTable thead tr th,
div.fixedHeaderTable thead tr td,
div.fixedHeaderTable tfoot tr th, 
div.fixedHeaderTable tfoot tr td {
	/* appearance */
	background-color: #8ca9cf;
	/* FF3.6+ */
	background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.1) 51%, rgba(255,255,255,0) 100%); 
	/* Chrome,Safari4+ */	
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(51%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,0)));
	/* Chrome10+,Safari5.1+ */	
	background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.1) 51%,rgba(255,255,255,0) 100%);
	/* Opera 11.10+ */	
	background-image: -o-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.1) 51%,rgba(255,255,255,0) 100%); 
	/* IE10+ */	
	background-image: -ms-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.1) 51%,rgba(255,255,255,0) 100%);
	/* IE6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ffffff', endColorstr='#00ffffff',GradientType=0 );

	/* text */
	color: #121517;
	font-size: 14px;
	text-align:center;
	text-transform:uppercase;
	text-shadow: white 0.1em 0.1em 0.2em
}

div.fixedHeaderTable .numeric {
	/* text */
	text-align: right;
}
/* new */
div.fixedHeaderTable .tbody {
	overflow-y: auto;	
	overflow-x: hidden;
}
  div.fixedHeaderTable {
      position: relative;
  }
  div.fixedHeaderTable table {
      width:100%;
  }	
div.fixedHeaderTable thead td, div.fixedHeaderTable thead th {
     position:relative;
 }
  /* IE7 hacks */
 div.fixedHeaderTable {
     *position: relative;
     /**height: 600px;*/
     *overflow-y: auto;
     *overflow-x: hidden;
     *padding-right:16px;
 }
 
 div.fixedHeaderTable thead tr {
     *position: relative;
     _position: absolute;
     *top: expression(this.offsetParent.scrollTop-2);
     *background:none;
     background-color:#8ca9cf
 }
  
 div.fixedHeaderTable tbody {
     *height: auto;
     *position:absolute;
     *top:50px;   
 }
 

 
/*Estilo para scroll*/
/*************************/
div.tabla_scroll .tbody {
	overflow-y: auto;	
	overflow-x: hidden;
}
div.tabla_scroll {
	position: relative;
}
div.tabla_scroll table {
	width:100%;
}	
div.tabla_scroll thead td, div.tabla_scroll thead th {
	position:relative;
}

/* IE7 hacks */
div.tabla_scroll {
	*position: relative;
	/**height: 600px;*/
	*overflow-y: auto;
	*overflow-x: hidden;
	*padding-right:16px;
}

div.tabla_scroll thead tr {
	*position: relative;
	_position: absolute;
	*top: expression(this.offsetParent.scrollTop-2);
}

div.tabla_scroll tbody {
	*height: auto;
	*position:absolute;
	*top:50px;   
}

.encabezadoTabla{
  position: relative;
  font-weight: bold;
  font-size:14px;
}


/* Kaleb Ontiveros - 01/Julio/2014 */
.hr{
     border:1px solid #DDDDDD;
     margin: 5px 0 5px 0;   
}
.btn-gris {
    position: relative;
    /*display: block;*/
    overflow: hidden;
    padding: 0 4px 0 4px;
    height: 23px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #fff;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
   
    background: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-clip: padding-box;
    box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
    margin: 3px;
}
.btn-gris:hover{
    background: #e3e3e3;
    background: -moz-linear-gradient(top,  #e3e3e3 20%, #dbdbdb 50%, #d4d4d4 52%, #d9d9d9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#e3e3e3), color-stop(50%,#dbdbdb), color-stop(52%,#d4d4d4), color-stop(100%,#d9d9d9));
    background: -webkit-linear-gradient(top,  #e3e3e3 20%,#dbdbdb 50%,#d4d4d4 52%,#d9d9d9 100%);
    background: -o-linear-gradient(top,  #e3e3e3 20%,#dbdbdb 50%,#d4d4d4 52%,#d9d9d9 100%);
    background: -ms-linear-gradient(top,  #e3e3e3 20%,#dbdbdb 50%,#d4d4d4 52%,#d9d9d9 100%);
    background: linear-gradient(to bottom,  #e3e3e3 20%,#dbdbdb 50%,#d4d4d4 52%,#d9d9d9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#d9d9d9',GradientType=0 );
}



.startPage{
	background:url(../images/first.png);
	cursor:pointer;
	width:32px;
	height:32px;
	margin:0 auto;	
}

.backPage{
	background:url(../images/previous.png);
	cursor:pointer;
	width:13px;
	height:32px;
	margin:0 auto;	
}

.nextPage{
	background:url(../images/next.png);
	cursor:pointer;
	width:13px;
	height:32px;
	margin:0 auto;
}

.endPage{
	background:url(../images/last.png);
	cursor:pointer;
	width:32px;
	height:32px;
	margin:0 auto;	
}

.icon-edit{
    background:url(../images/edit.png);
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    vertical-align: text-top;
    
    background-repeat: no-repeat;
    margin-top: 9px;
}

.icon-key{
    background:url(../images/key.png);
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    vertical-align: text-top;
    background-repeat: no-repeat;
    margin-top: 9px;
}

.icon-delete{
    background:url(../images/delete.png);
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    vertical-align: text-top;
    background-repeat: no-repeat;
    margin-top: 9px;
}
.icon-printer{
    background:url(../images/printer.png);
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    vertical-align: text-top;   
    background-repeat: no-repeat;
    margin-top: 9px;
}
.icon-excel{
    background:url(../images/excelicon.png);
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    vertical-align: text-top;   
    background-repeat: no-repeat;
    margin-top: 9px;
}
.fondo_listado tbody tr.highlight td { 
    background-color: #99CCCC;
	-o-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}