/*
table.grdRedGrid { font-family:arial; font-size:12px; text-align:left; }
table.grdRedGrid thead.grdHead tr th{
	background:#baddbd url(img/hd-bg.jpg) 0 0 repeat-x;
	border-bottom:1px solid #a6c9e2;
	font-size:12px;
	font-weight:700;
	color:#030;
	padding:4px;
}
table.grdRedGrid tbody.grdBody tr:hover { background:#d3e6d3 url(img/bg_vertical.jpg) 0 0 repeat-x; }
table.grdRedGrid tbody.grdBody td { color:#3D3D3D; border-bottom:1px solid #e8e8e8; }
div.grdRedGridFooter { background-image:url(img/ext-bg.png); padding:2px; }
*/

table.grdRedGrid { font-family:arial; font-size:12px; text-align:left; width:100%; }
table.grdRedGrid thead.grdHead tr th{ background:#cdddea url(img/hd-bg.jpg) 0 0 repeat-x; border-bottom:1px solid #a6c9e2; text-align:center; font-size:12px; font-weight:bold; color:#030; padding:4px; margin:auto; }
table.grdRedGrid tbody.grdBody tr:hover { background:#cdddea url(img/bg_vertical.jpg) 0 0 repeat-x; }
table.grdRedGrid tbody.grdBody td { color:#3D3D3D; border-bottom:1px solid #e8e8e8; }
div.grdRedGridFooter { background-image:url(img/ext-bg.png); text-align:center; margin:auto; padding:5px; }
div.grdRedGridFooter span{ font-family:arial; font-size:12px; color:#333366; margin:4px; }
img.grdImgLink { border:none; width:20px; height:20px; margin-right:5px; margin-left:5px; padding:0px; vertical-align:middle; }
img.grdImgLink :hover { width:20px; height:20px; }
span.grdFirstButton, span.grdPrevButton, span.grdNextButton, span.grdLastButton{ background-position:center center; background-repeat:no-repeat; width:16px; height:16px; cursor:pointer; padding-top:2px; }
span.grdFirstButton{ background-image:url(img/page-first.gif); }
span.grdPrevButton{ background-image:url(img/page-prev.gif); }
span.grdNextButton{ background-image:url(img/page-next.gif); }
span.grdLastButton{ background-image:url(img/page-last.gif); }