.dhtmlgoodies_tree
{
  margin:0;
  padding:0;
}

.dhtmlgoodies_tree ul
{
  margin-left:5px;
  padding-left:0;
  display:none;
}

.dhtmlgoodies_tree li
{
  list-style-type:none;
  vertical-align:top;
}

.dhtmlgoodies_tree li a
{
  color:#000;
  text-decoration:none;
  font-family:arial;
  font-size:11px;
}

.dhtmlgoodies_tree li img
{
  vertical-align:top;
}