<div class="rrmDesglose" ng-app="rrmDesglose">
	<div class="container-fluid">
		<div class="row">


	        <div class="col-sm-4 columna" ng-controller="obrasController">
	        	<div class="contenedor obras" ng-if="contenedor">
		        	<input type="text" ng-model="buscar" placeholder="Buscar Obras">
		        	<hr />
		        	<ul>
		        		<li ng-repeat="obra in obras.registros | filter:buscar">
							<div class="opcion semaforo{{obra.de_semaforo}} obra" ng-click="mostrarTipos(obra.id)">
		        				<div class="icono">
		        					<i class="fa fa-cube"></i>
		        				</div>
		        				<div class="texto">
                                    <h2>{{obra.nb_obra}}</h2>
                                    <hr />
                                    <div class="datos">
                                        <div class="dato">
                                            <span class="titulo">Ppto. de venta:</span>
                                            <span class="texto"> {{obra.nu_presupuestado}}</span>
                                        </div>
                                        <div class="dato">
                                            <span class="titulo">Utilidad:</span>
                                            <span class="texto"> {{obra.nu_utilidad}}</span>
                                        </div>
                                        <div class="dato">
                                            <span class="titulo">Ejecutado:</span>
                                            <span class="texto"> {{obra.nu_gastado}}</span>
                                        </div>
                                    </div>
		        				</div>
		        			</div>
		        		</li>
		        	</ul>
		        </div>
	        </div>

	        <div class="col-sm-4 columna" ng-controller="tiposController">
	        	<div class="contenedor tipos" ng-if="contenedor.contenedor_tipos">
		        	<input type="text" ng-model="buscar" placeholder="Buscar Tipos">
		        	<hr />
		        	<ul>
		        		<li ng-repeat="tipo in tipos.registros | filter:buscar">
							<div class="opcion semaforo{{tipo.de_semaforo}} tipo"  ng-click="mostrarGrupos(tipo.id)">
		        				<div class="icono">
		        					<i class="fa fa-cube"></i>
		        				</div>
		        				<div class="texto">
                                    <h2>{{tipo.nb_tipo}}</h2>
                                    <hr />
                                    <div class="datos">
                                        <div class="dato">
                                            <span class="titulo">Ppto. de venta:</span>
                                            <span class="texto"> {{tipo.nu_presupuestado}}</span>
                                        </div>
                                        <div class="dato">
                                            <span class="titulo">Utilidad:</span>
                                            <span class="texto"> {{tipo.nu_utilidad}}</span>
                                        </div>
                                        <div class="dato">
                                            <span class="titulo">Ejecutado:</span>
                                            <span class="texto"> {{tipo.nu_gastado}}</span>
                                        </div>
                                    </div>
		        				</div>
		        			</div>
		        		</li>
		        	</ul>
		        </div>
	        </div>

	        <div class="col-sm-4 columna" ng-controller="gruposController">
	        	<div class="contenedor grupos" ng-if="contenedor.contenedor_grupos">
		        	<input type="text" ng-model="buscar" placeholder="Buscar Grupos">
		        	<hr />
		        	<ul>
		        		<li ng-repeat="grupo in grupos.registros | filter:buscar">
							<div class="opcion semaforo{{grupo.de_semaforo}} grupo">
		        				<div class="icono">
		        					<i class="fa fa-cube"></i>
		        				</div>
		        				<div class="texto">
                                    <h2>{{grupo.nb_grupo}}</h2>
                                    <hr />
                                    <div class="datos">
                                        <div class="dato">
                                            <span class="titulo">Ppto. de venta:</span>
                                            <span class="texto"> {{grupo.nu_presupuestado}}</span>
                                        </div>
                                        <div class="dato">
                                            <span class="titulo">Utilidad:</span>
                                            <span class="texto"> {{grupo.nu_utilidad}}</span>
                                        </div>
                                        <div class="dato">
                                            <span class="titulo">Ejecutado:</span>
                                            <span class="texto"> {{grupo.nu_gastado}}</span>
                                        </div>
                                    </div>
		        				</div>
		        			</div>
		        		</li>
		        	</ul>
		        </div>
	        </div>

	    </div>
	</div>
</div>