﻿body {
	margin: 0px 0px 0px 0px;
	padding: 10px;
	font-family: verdana;
	font-size: 11px;
	color: #000000;
	line-height: 18px;
}

a, a:link, a:active, a:visited {
	color:#003399;
	text-decoration: underline;
}
a:hover{
	color:#CC0000;
	}

.contenido{
	font-family: verdana;
	font-size: 12px;
	color: #000000;
	text-align:justify;
}
.contenido_filtro{
	font-family: verdana;
	font-size: 12px;
	color: #000000;
	text-align:justify;
}
.boton{
	font-family: verdana;
	font-size: 11px;
	color: #000000;
	text-align:center;
}
.encabezado{
	background-image:url(images/bg_gris.gif);
	color:#007670;
	font-weight:bold;
	font-size:12px;
}
.encabezado_abajo{
	background-image:url(images/bg_gris_abajo.gif);
	color:#007670;
	font-weight:bold;
	font-size:12px;
}
.informacion {
	color:#FFFFFF; 
	background:#2970A6;
	font-family:Verdana; 
	font-size:10px
}
.titulo2{
	color: #163F53;
	margin: 0px 0px 2px;
	background:#FFFFFF;
	padding-left:5px;
	border-bottom: 1px dotted #000000;
	font: normal 150% "Trebuchet MS", Tahoma, Arial;
	padding-bottom: 2px;
}
.titulo{
	/*font-family:Franklin Gothic Book; 
	font-size:large;*/
	font-family:Arial;
	font-size:14px;
}
.cuadricula{
	border-bottom:solid; 
	border-bottom-color:#666666; 
	border-bottom-width:1px; 
	border-right:solid; 
	border-right-width:1px; 
	border-right-color:#666666
}
.fondo_listado{
	background-image:url(images/fondo.png);
	background-position:bottom; 
	background-repeat:repeat-x;
	font-family: verdana;
	font-size: 12px;
	color: #000000;
	text-align:justify;
}
.boton_imagen{
	margin:0px;
	background-color:transparent;
	border:none;
	cursor:hand;
	width:90px;
}
.boton_menu_superior{
	margin:0px;
	background-color:transparent;
	border:none;
	cursor:hand;
	width:24px;
}