.ui-layout-pane{border-right:0 !important}
.ui-layout-north{background:url(images/layout-hd-bg.gif) center !important;border-color:#c0c0c0 !important;padding:4px 5px 4px 5px !important}
.header{background:url(images/hd-bg.jpg) center !important;border-bottom:1px solid #c0c0c0;font-family:Arial,Helvetica,sans-serif;font-size:0.7em;font-weight:bold;text-align:left;padding-left:6px;padding-right:6px;padding-top:3px;padding-bottom:3px;color:#111;height:15px;position:relative;overflow:hidden}
.content{padding:0px;margin:0px;position:relative;overflow:hidden !important;font-family:Arial,Helvetica,sans-serif;font-size:11px;}
.header_text{font-family:Arial,Helvetica,sans-serif !important;color:#fff !important;font-size:16px !important;font-weight:bold !important;font-style:normal}
.ui-layout-resizer{background:url(images/bg_vertical.jpg) repeat-y !important}
.ui-layout-resizer-closed{background:url(images/bg_vertical.jpg) repeat-y !important}
.ui-layout-toggler{border:1px solid #c0c0c0 !important;background-color:#666 !important}
.ui-layout-toggler:hover{border:1px solid #c0c0c0 !important;background-color:#333 !important}
.ui-layout-resizer-hover .ui-layout-toggler{opacity:.10 !important;filter: alpha(opacity=10) !important}
.ui-layout-west{border-top:none;border-color:#c0c0c0 !important;padding-bottom:15px !important;padding-top:0px !important;padding-left:0px !important;padding-right:0px !important;overflow:hidden !important}
.ui-layout-east{border-color:#c0c0c0 !important;padding-bottom:5px !important;padding-top:0px !important;padding-left:0px !important;padding-right:0px !important;border:1px solid !important;border-color:#cee1ef !important}
.ui-layout-center{padding-bottom:0px !important;padding-top:0px !important;padding-left:0px !important;padding-right:0px !important;border:1px solid !important;border-color:#c0c0c0 !important;overflow:hidden !important}
.ui-layout-south{overflow:hidden!important; margin:0px!important; padding:0px!important; border:none!important;}
#dialogBox{font-family:Arial,Helvetica,sans-serif !important;color:#FFF !important;font-size:10px;!important;font-style:normal}
#tbarPinWest{background:url(images/pin-dn-on.gif) no-repeat;width:15px;height:15px;position:absolute;top:1;right:0;margin-right:2px}
#tbarPinWest:hover{background:url(images/pin-up-off.gif) no-repeat}
#tbarPinEast{background:url(images/pin-up-off.gif) no-repeat;width:15px;height:15px;position:absolute;top:1;right:0;margin-right:2px}
#tbarPinEast:hover{background:url(images/pin-dn-on.gif) no-repeat}