
* {
 margin: 0;
 padding: 0;
}

body {
 font-family:verdana; font-size:11px;
}

p { margin-bottom: 1em; }

ul.classic {
 list-style:disc;
 margin-bottom: 1em;
 padding-left: 2em;
}

h1,h2,h3 {
 margin-bottom: .5em;
 font-family:verdana; font-size:11px;
 line-height:normal;
}

h1 {
 border-bottom: solid 1px #d9d9d9;
 font-weight: normal;
 font-size: 180%;
 text-indent: 5px;
 letter-spacing: -1px;
}

.dropdown-upward {
 margin-top: 400px !important;
}