.redtoolbar{
	margin:-1px auto 0px auto;
	border:solid 1px #999999;
	text-align:center;
	background-color:#CCCCCC;
	background-image:url('img/bg.jpg');
	background-position:bottom;
	background-repeat:repeat-x;
	height:32px;
	max-height:32px;
	position:static;
	top:0; 
	left:auto; 
	right:auto;
}

.redtoolbar table{ 
	width:98%;
	text-align:center; 
	margin-top:4px; 
	margin-left:auto; 
	margin-right:auto; 
}

.redtoolbar button{
	background-color:transparent;
	border:none;
	cursor:pointer;
	vertical-align:bottom;
}
.redtoolbar span{
	font-family:Arial;
	font-size:18px;
	color:#000066;
}
