/* Document CSS */
/*
	Colores
	border : #e7eaec;
	color: #676a6c;
	background : #f3f3f4;

*/

.rrmExpro { }

.rrmExpro .proveedores { background-color: #FFF; border: 1px solid #e5e5e5; padding: 10px;}
.rrmExpro .proveedores .filtro { border-bottom: 2px solid #e74c3c; padding-bottom: 10px;}
.rrmExpro .proveedores .filtro input { border-radius: 0; border: 0; box-shadow: none; padding: 0 5px;}
.rrmExpro .proveedores .filtro button { border-radius: 0; border: 0; box-shadow: none; border-left: 2px solid #e5e5e5;}
.rrmExpro .proveedores .filtro button:hover { background-color: #f5f5f5;}
.rrmExpro .proveedores .filtro button:focus { background-color: #f5f5f5; outline: 0;}
.rrmExpro .proveedores .filtro button:visited { background-color: #f5f5f5;}
.rrmExpro .proveedores ul li a { color: #333; display: block; width: 100%; padding: 10px 10px; border-top: 1px solid #e5e5e5; text-decoration: none; height: 41px; overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}
.rrmExpro .proveedores ul li a:hover { background-color: #f5f5f5;}
.rrmExpro .proveedores ul li a:focus { background-color: #f5f5f5; outline: 0;}
.rrmExpro .proveedores ul li a:visited { background-color: #f5f5f5;}


.rrmExpro .anios { background-color: #FFF; background-color: #e74c3c; color: #FFF; margin-top: 20px;}
.rrmExpro .anios ul li { display: inline-block; border-right: 1px solid #c0392b;}
.rrmExpro .anios ul li:last-child { border-right: 0;}
.rrmExpro .anios ul li.filtro { vertical-align: top; text-align: center; height: 156px;}
.rrmExpro .anios ul li.filtro h2 { margin: 35px 0 10px 0; font-size: 1.5em;}
.rrmExpro .anios ul li.filtro .input-group { width: 70%; margin: auto;}
.rrmExpro .anios ul li.filtro input { border: 0; background-color: #fff; color: #e74c3c; padding: 10px; }
.rrmExpro .anios ul li.filtro button { box-shadow: none; background-color: #FFF; border-color: #FFF;}
.rrmExpro .anios ul li.filtro button:hover { background-color: #f5f5f5;}
.rrmExpro .anios ul li.filtro button:focus { background-color: #f5f5f5; outline: 0;}
.rrmExpro .anios ul li.filtro button:visited { background-color: #f5f5f5;}
.rrmExpro .anios ul li a { color: #FFF; text-decoration: none; display: block; border: 1px dashed #FFF;}
.rrmExpro .anios ul li a { width: 90%; margin: 10px auto; padding: 10px; border-radius: 5px;}
.rrmExpro .anios ul li a:visited { background-color: #e74c3c;}
.rrmExpro .anios ul li a:focus { background-color: #fff; color: #c0392b; outline: 0;}
.rrmExpro .anios ul li a:hover { background-color: #fff; color: #c0392b;}
.rrmExpro .anios ul li a h2 { font-size: 1.5em;}
.rrmExpro .anios ul li a hr { margin: 5px 0;}
.rrmExpro .anios ul li a .cantidades .cantidad { text-align: right;}

.rrmExpro .expedientes { background-color: #FFF; margin-top: 20px;}
.rrmExpro .expedientes .tabla { padding: 10px; overflow-y: scroll;}
.rrmExpro .expedientes table { margin: 0; min-width: 970px; }
.rrmExpro .expedientes table thead { text-transform: uppercase; vertical-align: bottom;}
.rrmExpro .expedientes table thead th { text-align: center;}
.rrmExpro .expedientes table thead th:nth-child(1) { text-align: left;}
.rrmExpro .expedientes table thead th:nth-child(2) { text-align: left;}
.rrmExpro .expedientes table tbody tr td { border-right: 1px dashed #ccc; text-align: center;}
.rrmExpro .expedientes table tbody tr td:last-child { border-right: 0px dashed #ccc; }
.rrmExpro .expedientes table tbody tr td:nth-child(1) { text-align: left;}
.rrmExpro .expedientes table tbody tr td:nth-child(2) { text-align: left;}
.rrmExpro .expedientes table tbody tr td.Pagado { color: #2ecc71;}
.rrmExpro .expedientes table tbody tr td.Por.Pagar { color: #f1c40f;}
.rrmExpro .expedientes table tbody tr td.Vencido { color: #e74c3c;}

/* Large desktops and laptops */
@media (min-width: 1600px) {
	/*body { border: 2px solid brown;}*/
	.rrmExpro {height: 100%; overflow-y: scroll;}
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1599px) {
	/*body { border: 2px solid yellow;}*/
	.rrmExpro {height: 100%; overflow-y: scroll;}

	.rrmExpro .anios ul li { width: 16.6%;}
	.rrmExpro .anios ul li:nth-child(6n) { border-right: 0;}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	/*body { border: 2px solid green;}*/
	.rrmExpro {height: 100%; overflow-y: scroll;}
	.rrmExpro .anios ul li { width: 24%;}
	.rrmExpro .anios ul li:nth-child(4n) { border-right: 0;}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	/*body { border: 2px solid cyan;}*/
	.rrmExpro {height: 100%; overflow-y: scroll;}
	.rrmExpro .anios ul li { width: 33%;}
	.rrmExpro .anios ul li:nth-child(3n) { border-right: 0;}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	/*body { border: 2px solid orange;}*/
	.rrmExpro .anios ul li { width: 49%;}
	.rrmExpro .anios ul li:nth-child(2n) { border-right: 0;}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	/*body { border: 2px solid red;}*/
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #FFF;
  box-shadow: 0 0 0 #FFF;
  outline: 0 none;
}

