button.cssredbutton{height:27px;max-height:27px;cursor:pointer;border:none;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px; background-color:transparent;}
button.cssredbutton table.cssredbuttontable tbody.btnBody tr.btnTr td.btnLC{width:7px;height:27px;background-position:top;background-image:url('img/btn_1.png');background-repeat:no-repeat;background-color:transparent;border:none;}
button.cssredbutton table.cssredbuttontable tbody.btnBody tr.btnTr td.btnR{background-image:url('img/btn_2.png');background-repeat:repeat-x;vertical-align:top;height:27px;max-height:27px;border:none;}
button.cssredbutton table.cssredbuttontable tbody.btnBody tr.btnTr td.btnR div{margin-top:6px;width:100%;height:26px;max-height:26px;font-family:Arial;font-size:11px;font-weight:bold;color:#336699;border:none}
button.cssredbutton table.cssredbuttontable tbody.btnBody tr.btnTr td.btnRC{width:7px;height:26px;max-width:7px;max-height:26px;min-width:7px;min-height:26px;background-image:url('img/btn_3.png');background-repeat:no-repeat;border:none;}

button.cssredbutton:hover table.cssredbuttontable tbody.btnBody tr.btnTr td.btnLC{background-image:url('img/btn_4.png')}
button.cssredbutton:hover table.cssredbuttontable tbody.btnBody tr.btnTr td.btnR{background-image:url('img/btn_5.png')}
button.cssredbutton:hover table.cssredbuttontable tbody.btnBody tr.btnTr td.btnRC{background-image:url('img/btn_6.png')}
