.ui-layout-pane	{ 
	border-right:	0 !important; 
} 
.ui-layout-north{
	background:url(images/layout-hd-bg.gif) center !important;
	border-color:#e1effa !important;
	padding:4px 5px 4px 5px !important;
}

.header { 
	background:url(images/hd-bg.jpg) center !important;
	border-bottom:	1px solid #cee1ef;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.7em;
	font-weight:bold;
	text-align:left;
	padding-left:6px;
	padding-right:6px;
	padding-top:3px;
	padding-bottom:3px;
	color:#174C7E;
	height:15px;
	position:relative;
	overflow:hidden;
}
/*
.content {
	padding:0px;
	margin:0px;
	position:relative;
	overflow: hidden !important;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px; 
}
*/

.index_content {
	padding:0px;
	margin:0px;
	/*position:relative;*/
	overflow: hidden !important;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px; 
}

.header_text{
	font-family:Arial, Helvetica, sans-serif !important;
	color:#fff !important;
	font-size:16px !important;
	font-weight:bold !important;
	font-style:normal;
}
.header_content_text{
	font-family:Arial, Helvetica, sans-serif !important;
	color:#003366 !important;
	font-size:16px !important;
	/*font-weight:bold !important;*/
	font-style:normal;
}

	/*.ui-layout-resizer{	background:#e1effa !important;} /*Cambia el color a todos los barras de los paneles redimensionables*/
.ui-layout-resizer{background:url(images/bg_vertical.jpg) repeat-y !important;} /*Cambia el fonde la barra por dafault*/
.ui-layout-resizer-closed{ background:url(images/bg_vertical.jpg) repeat-y !important;} /*Cambia el fondo de la barra del west cuando esta cerrada*/
	
	/*.ui-layout-resizer-closed:hover	{ /* hover-color to 'slide open' */
	/*	background: #CCC !important;
	}*/
	
.ui-layout-toggler {
	border: 1px solid #0099FF !important; /* match pane-border */
	background-color: #0099FF !important;
}
	
.ui-layout-toggler:hover {
	border: 1px solid #0066CC !important; /* match pane-border */
	background-color: #0066CC !important;
}
.ui-layout-resizer-hover .ui-layout-toggler{
	opacity: .10 !important;
	filter:  alpha(opacity=10) !important;
}
.ui-layout-west{
	border-top:none;
	border-color:#cee1ef !important;
	padding-bottom:15px !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-right:0px !important;
	overflow:hidden !important;
}
.ui-layout-east{
	border-color:#cee1ef !important;
	padding-bottom:5px !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-right:0px !important;
	border:1px solid !important;
	border-color:#cee1ef !important;
}
.ui-layout-center{
	padding-bottom:5px !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-right:0px !important;
	border:1px solid !important;
	border-color:#cee1ef !important;
	overflow:hidden !important;
}
.ui-layout-south{
	/*border-color:#cee1ef !important;*/
}
#dialogBox{
	font-family:Arial, Helvetica, sans-serif !important;
	color:#FFFFFF !important;
	font-size:10px; !important;
	font-style:normal;
}
#tbarPinWest{
	background:url(images/pin-dn-on.gif) no-repeat;
	width:15px;
	height:15px;
	position:absolute;
	top:1;
	right:0;
	margin-right:2px;
}
#tbarPinWest:hover{
	background:url(images/pin-up-off.gif) no-repeat;
}
#tbarPinEast{
	background:url(images/pin-up-off.gif) no-repeat;
	width:15px;
	height:15px;
	position:absolute;
	top:1;
	right:0;
	margin-right:2px;
}
#tbarPinEast:hover{
	background:url(images/pin-dn-on.gif) no-repeat;
}