/* Document CSS */
/*
	Colores
	border : #e7eaec;
	color: #676a6c;
	background : #f3f3f4;

*/

.rrmMonitor { }
.rrmMonitor .page-header { margin-top: 10px; }
.rrmMonitor .filtro { margin-bottom: 20px;}
.rrmMonitor .informacion blockquote { margin: 0; border-color: #e74c3c;}
.rrmMonitor .detalle table { border-top-color: #c0392b;}
.rrmMonitor .detalle table thead { background-color: #e74c3c;}
.rrmMonitor .detalle table thead th { border-color: #c0392b; color: #FFF;}
.rrmMonitor .detalle table tbody tr td { white-space: nowrap;}




/* Large desktops and laptops */
@media (min-width: 1600px) {
	/*body { border: 2px solid brown;}*/
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1599px) {
	/*body { border: 2px solid yellow;}*/
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	/*body { border: 2px solid green;}*/
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	/*body { border: 2px solid cyan;}*/
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	/*body { border: 2px solid orange;}*/
	button { float: none; width: auto;}
	input[type="text"] { float: none; width: auto;}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	/*body { border: 2px solid red;}*/
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #FFF;
  box-shadow: 0 0 0 #FFF;
  outline: 0 none;
}

