div.sc_menu_wrapper{position:relative; height:100%;width:100%;margin-top:10px; margin-bottom:10px;overflow:auto}
div.sc_menu{padding:0px;padding-bottom:5px}
.sc_menu a{display:block;margin-bottom:7px;margin-left:7px;margin-right:7px;width:auto;/*border:1px #fff solid; */-webkit-border-radius:4px; -moz-border-radius:4px;background:transparent;padding:2px;/*--*/color:#333;font-family:Arial,Helvetica,sans-serif;font-size:10px;font-weight:bold;text-decoration:none;text-align:center}
.sc_menu a:hover{background:#e6e6e6;border-top-style:solid;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-top-color:#666;border-right-color:#666;border-bottom-color:#666;border-left-color:#666;-moz-box-shadow:0px 0px 6px #888;-webkit-box-shadow:0px 0px 6px #888;box-shadow:0px 0px 6px #888}
.sc_menu img{display:block;border:none;margin-left:auto;margin-right:auto;} 
.sc_menu_wrapper .loading{position:absolute;top:50px;left:10px;margin:0 auto;padding:10px;width:auto; -webkit-border-radius:4px; -moz-border-radius:4px;text-align:center;color:#fff;border:1px solid rgb(79,79,79);background:#1F1D1D}
.sc_menu_tooltip{display:none;position:absolute;padding:6px;font-size:12px;color:#fff; -webkit-border-radius:4px; -moz-border-radius:4px;border:1px solid rgb(79,79,79);background-color:#c0c0c0}
#back{margin-left:8px;color:gray;font-size:18px;text-decoration:none}
#back:hover{text-decoration:none}