<!DOCTYPE html>
<html lang="es" ng-app="RRDesglose">
    <head>
        
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="author" content="" />
        <meta name="description" content="" />
        <meta name="webmaster" content="" />
        <link rel="shortcut icon" href="img/home.ico" />
        <title>RRDesglose</title>
        
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/font-awesome/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="css/open-sans/open-sans-font.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        
        <!-- JS -->
        <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/template-angular.js"></script>
        <script type="text/javascript" src="js/template.js"></script>
        
    </head>
    <body>
        <header>
            <div class="container-fluid">
                <div class="logo">
                    <a href=""><i class="fa fa-pie-chart fa-fw"></i>RRDesglose</a>
                </div>
                <div class="salir">
                    <a href="">Salir</a>
                </div>
            </div>
        </header>
        <div class="breadcrumbs" ng-controller="BreadCrumbs" style="display:none;">
            <div class="container-fluid">
                INICIO
            </div>
        </div>
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12"  ng-controller="ListadoObras">
                        <div class="obras">
                            <div class="buscador">
                                <input type="text" class="form-control" id="filtrarObras" ng-model="filtrarObras" placeholder="Buscar Obra" ng-readonly="filtrarObras_ReadOnly">
                            </div>
                            <ul>
                                <li ng-repeat="obra in obras | filter:filtrarObras">
                                    <a href="" class="obra" ng-click="SeleccionarObra(obra.id,obra.nb_obra)">
                                        <div class="semaforos">
                                            <div ng-switch on="obra.de_semaforo">
                                                <div ng-switch-when="1">
                                                    <div class="semaforo verde">
                                                        <i class="fa fa-cube"></i>
                                                    </div>
                                                </div>
                                                <div ng-switch-when="2">
                                                    <div class="semaforo amarillo">
                                                        <i class="fa fa-cube"></i>
                                                    </div>
                                                </div>
                                                <div ng-switch-when="3">
                                                    <div class="semaforo rojo">
                                                        <i class="fa fa-cube"></i>
                                                    </div>
                                                </div>
                                                <div ng-switch-default>
                                                    <div class="semaforo gris">
                                                        <i class="fa fa-cube"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="informacion">
                                            <h2>{{obra.nb_obra}}</h2>
                                            <div class="equipos">
                                                <div class="equipo">
                                                    <span class="titulo">Presupestado :</span>
                                                    <span class="texto"> {{obra.nu_presupuestado}}</span>
                                                </div>
                                                <div class="equipo">
                                                    <span class="titulo">Utilidad :</span>
                                                    <span class="texto"> {{obra.nu_utilidad}}</span>
                                                </div>
                                                <div class="equipo">
                                                    <span class="titulo">Gastado :</span>
                                                    <span class="texto"> {{obra.nu_gastado}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tipos">
                            <div class="buscador" >
                                <input type="text" class="form-control" id="filtrarTipos" ng-model="filtrarTipos" placeholder="Buscar Tipo" ng-readonly="filtrarTipos_ReadOnly">
                            </div>
                            <ul>
                                <li ng-repeat="tipo in tipos.desglose | filter:filtrarTipos">
                                    <a href="" class="tipo" ng-click="SeleccionarTipo(tipo.id,tipo.nb_tipo)">
                                        <div class="semaforos">
                                            <div ng-switch on="tipo.de_semaforo">
                                                <div ng-switch-when="1">
                                                    <div class="semaforo verde">
                                                        <i class="fa fa-cube"></i>
                                                    </div>
                                                </div>
                                                <div ng-switch-when="2">
                                                    <div class="semaforo amarillo">
                                                        <i class="fa fa-cube"></i>
                                                    </div>
                                                </div>
                                                <div ng-switch-when="3">
                                                    <div class="semaforo rojo">
                                                        <i class="fa fa-cube"></i>
                                                    </div>
                                                </div>
                                                <div ng-switch-default>
                                                    <div class="semaforo gris">
                                                        <i class="fa fa-cube"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="informacion">
                                            <h2>{{tipo.nb_tipo}}</h2>
                                            <div class="equipos">
                                                <div class="equipo">
                                                    <span class="titulo">Presupestado :</span>
                                                    <span class="texto"> {{tipo.nu_presupuestado}}</span>
                                                </div>
                                                <div class="equipo">
                                                    <span class="titulo">Utilidad :</span>
                                                    <span class="texto"> {{tipo.nu_utilidad}}</span>
                                                </div>
                                                <div class="equipo">
                                                    <span class="titulo">Gastado :</span>
                                                    <span class="texto"> {{tipo.nu_gastado}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="grupos">
                            <div class="buscador" >
                                <input type="text" class="form-control" id="filtrarGrupos" ng-model="filtrarGrupos" placeholder="Buscar Grupos" ng-readonly="filtrarGrupos_ReadOnly">
                            </div>
                            <ul>
                                <li ng-repeat="grupo in grupos.desglose | filter:filtrarGrupos">
                                    <a href="" class="grupo" ng-click="">
                                        <div class="semaforos">
                                            <div ng-switch on="grupo.de_semaforo">
                                                <div ng-switch-when="1">
                                                    <div class="semaforo verde">
                                                        <i class="fa fa-cube"></i>
                                                    </div>
                                                </div>
                                                <div ng-switch-when="2">
                                                    <div class="semaforo amarillo">
                                                        <i class="fa fa-cube"></i>
                                                    </div>
                                                </div>
                                                <div ng-switch-when="3">
                                                    <div class="semaforo rojo">
                                                        <i class="fa fa-cube"></i>
                                                    </div>
                                                </div>
                                                <div ng-switch-default>
                                                    <div class="semaforo gris">
                                                        <i class="fa fa-cube"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="informacion">
                                            <h2>{{grupo.nb_grupo}}</h2>
                                            <div class="equipos">
                                                <div class="equipo">
                                                    <span class="titulo">Presupestado :</span>
                                                    <span class="texto"> {{grupo.nu_presupuestado}}</span>
                                                </div>
                                                <div class="equipo">
                                                    <span class="titulo">Utilidad :</span>
                                                    <span class="texto"> {{grupo.nu_utilidad}}</span>
                                                </div>
                                                <div class="equipo">
                                                    <span class="titulo">Gastado :</span>
                                                    <span class="texto"> {{grupo.nu_gastado}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container-fluid">
                <div class=""><i class="fa fa-pie-chart fa-fw"></i> RRDesglose |  <i class="fa fa-copyright"></i> Copy Right 2015</div>
            </div>
        </footer>
    </body>
</html>