<div class="rrmMonitor" ng-app="rrmMonitor">
    <div class="container-fluid" ng-controller="MonitorController">

        <div class="page-header">
            <h1><i class="fa fa-desktop fa-fw"></i> Monitor <small> | Dirección</small></h1>
        </div>

        <div class="row filtro">
            <div class="col-sm-3 col-xs-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar Obra" ng-model="filtro.id" >
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="buscar_obra();"><i class="fa fa-search fa-fw"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-sm-1 col-xs-6">
                <button class="btn btn-info" ng-if="obra.nombre" ng-click="buscar_detalle();">Ver Detalle</button>
            </div>
        </div>

        <div class="row informacion" ng-if="obra.nombre">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="fa fa-info fa-fw"></i> Información</div>
                    <div class="panel-body">
                        <blockquote>
                            <p>{{obra.nombre}}</p>
                            <footer>{{obra.ubicacion}}</footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>

        <div class="row detalle" ng-if="obra.detalle">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-list-alt fa-fw"></i> Detalle
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-bordered">
                                <thead>
                                    <th width="100px">{{obra.nombre}}</th>
                                    <th>PPTO. VENTA</th>
                                    <th>PPTO. OPREACIÓN</th>
                                    <th>UTILIDAD</th>
                                    <th>IMP. CONTADO</th>
                                    <th>IMP. POR CONTAR</th>
                                    <th>IMP. ANTICIPOS</th>
                                    <th>IMP. AMORTIZADO</th>
                                    <th>IMP. POR AMORTIZAR</th>
                                    <th>IMP. EJECTUTADO</th>
                                    <th>IMP. POR EJECUTAR</th>
                                    <th>IMP. FACTURADO</th>
                                    <th>IMP. POR FACTURAR</th>
                                    <th>IMP. PAGADO</th>
                                    <th>IMP. POR PAGAR</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="detalle in obra.detalle">
                                        <td>{{detalle.proveedor}}</td>         
                                        <td>{{detalle.ppto_venta}}</td>        
                                        <td>{{detalle.pptp_operacion}}</td>    
                                        <td>{{detalle.utilidad}}</td>         
                                        <td>{{detalle.imp_contado}}</td>      
                                        <td>{{detalle.imp_por_contar}}</td>   
                                        <td>{{detalle.imp_anticipos}}</td>    
                                        <td>{{detalle.imp_amortizado}}</td>   
                                        <td>{{detalle.imp_por_amortizar}}</td>
                                        <td>{{detalle.imp_ejecutado}}</td>     
                                        <td>{{detalle.imp_por_ejecutar}}</td>  
                                        <td>{{detalle.imp_facturado}}</td>     
                                        <td>{{detalle.imp_por_facturar}}</td>  
                                        <td>{{detalle.imp_pagado}}</td>        
                                        <td>{{detalle.imp_por_pagar}}</td>     
                                    </tr>
                                </tbody>
                            </table>
                            <hr />
                            <div class="row">
                                <div class="col-sm-6" ng-controller="PieCtrl">
                                    <canvas id="pie" class="chart chart-pie" data="data" labels="labels"></canvas> 
                                </div>
                                <div class="col-sm-6">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="alerta.warning" class="alert alert-warning">
            {{alerta.warning}}
        </div>

    </div>
</div>

