/* Document CSS */
/*
	Colores
	border : #e7eaec;
	color: #676a6c;
	background : #f3f3f4;
*/

body { z-index: 1; font-size: 13px; font-family: 'open_sans_regular'; background-color: #ccc; color: #676a6c; }
body.mac { font-family: 'open_sans_light';}

ul,h1,h2,h3,h4,h5,p,.table { margin: 0; padding: 0; list-style: none;}

body,html { height: 100%;}

header,footer,section { overflow: hidden;}

body>header { z-index: 10; position: fixed; top: 0; left: 0; width: 100%; background-color: #FFF; border-bottom: 1px solid #e7eaec;}
header .titulo h1 { background-color: #e74c3c; color: #FFF; float: left; padding: 15px 25px; font-size: 18px; line-height: 20px; cursor: pointer;}
header .titulo h1 i { }
header .menu nav ul { text-align: center;}
header .menu nav ul li { display: inline-block; font-size: 20px; padding: 13px 15px 9px 15px; cursor: pointer;}
header .menu nav ul li:hover { background-color: #e74c3c; color: #FFF;}
header .salir a { float:right; color: #676a6c; padding: 15px 20px; text-decoration: none; -webkit-transition: color 0.5s; -moz-transition: color 0.5s; -o-transition: color 0.5s; transition: color 0.5s;}
header .salir a:hover { color: #e74c3c;} 

body>footer { z-index: 10; position: fixed; bottom: 0; left: 0; width: 100%; background-color: #FFF; border-top: 1px solid #e7eaec; padding: 10px 20px;}

body>section { background-color: #f3f3f4; padding: 70px 0 60px 0; min-height: 100%;}

section .reportes { height: 100%; overflow-y: scroll; }
section .reportes .reporte { background-color: #fff; border: 1px solid #e7eaec; border-top: 5px solid #e7eaec; text-align: center; padding: 80px 10px; margin: 10px 0; cursor: pointer; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;}
section .reportes .reporte:hover { color: #e74c3c; border-color: #e74c3c }
section .reportes .reporte i { display: block; margin-bottom: 10px; font-size: 35px;}
section .reportes .reporte p { min-height: 40px;}
section .reportes .reporte.vacio { background-color: transparent; border: 1px dashed #ccc; border-radius: 5px; text-align: center; vertical-align: middle;}

.configuracion { max-width: 600px; overflow: hidden; padding: 10px; margin: 10px auto; background-color: #fff; border: 1px solid #e7eaec; border-top-width: 5px;}
.configuracion h3 { color: #e74c3c;}
.configuracion hr { border-color: #e74c3c; margin: 15px 0;}
.configuracion .seccion { overflow: hidden;}
.configuracion .seccion h4 { }
.configuracion .seccion .opciones { padding: 10px; background-color: #f5f5f5; margin: 10px 0;}
.configuracion .seccion .opciones .select { overflow: hidden;}
.configuracion .seccion .opciones .select h5 { float: left;}
.configuracion .seccion .opciones .select select { float: right;}
.configuracion .seccion .correos { padding: 10px 0;}
.configuracion .seccion .correos input { width: 100%; border: 1px solid #e7eaec; margin-bottom: 5px; padding: 5px;}
.configuracion .seccion .correos .boton { width: 100%; overflow: hidden;}
.configuracion .seccion .correos .boton button { float: right; overflow: hidden;}
.configuracion .seccion .correos .listado { width: 100%; overflow: hidden;}
.configuracion .seccion .correos .listado tbody tr { cursor: pointer;}

/* Large desktops and laptops */
@media (min-width: 1600px) {
	/*body { border: 2px solid brown;}/**/
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1599px) {
	/*body { border: 2px solid yellow;}/**/
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	/*body { border: 2px solid green;}/**/
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	/*body { border: 2px solid cyan;}/**/
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	/*body { border: 2px solid orange;}/**/
	header .titulo h1 { padding: 15px 15px;}
	header .salir a { padding: 15px 15px;}
	section .reportes .reporte { padding: 50px 10px 25px 10px;} 
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	/*body { border: 2px solid red;}/**/
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #CCC;
  box-shadow: 0 0 0 #FFF;
  outline: 0 none;
}

.scroll {  
    scrollbar-face-color: #000000;  
    scrollbar-shadow-color: #2D2C4D;  
    scrollbar-highlight-color:#7D7E94;  
    scrollbar-3dlight-color: #7D7E94;  
    scrollbar-darkshadow-color: #2D2C4D;  
    scrollbar-track-color: #7D7E94;  
    scrollbar-arrow-color: #C1C1D1;   
} 

