/* Document CSS */
/*
RRDesglose
*/

body { z-index: 1; font-size: 14px; color: #333; background-color:#f2f2f2; font-family: 'open_sans_regular'; background-image: url('../img/white_wall_hash.png');}
body.mac { font-family: 'open_sans_light';}

ul,h1,h2,h3,h4,h5 { margin: 0; padding: 0; list-style: none;}

header { z-index: 10; position: fixed; top: 0; left: 0; width: 100%; background-color: #e74c3c; color: #FFF; border-bottom: 5px solid #c0392b;}
header a { font-size: 1.3em; padding: 10px 0; display: block; color: #FFF;}
header a:hover { color: #FFF; text-decoration: none;}
header .logo a { float: left; }
header .salir a { float: right; }

footer {  z-index: 10; position: fixed; bottom: 0; left: 0; width: 100%; background-color: #fff; padding: 5px 0; color: #777; text-align: center;}

section { padding: 60px 0 40px 0;}

section .proveedores { background-color: #FFF; border: 1px solid #e5e5e5; padding: 10px;}
section .proveedores .filtro { border-bottom: 2px solid #e74c3c; padding-bottom: 10px;}
section .proveedores .filtro input { border-radius: 0; border: 0; box-shadow: none; padding: 0 5px;}
section .proveedores .filtro button { border-radius: 0; border: 0; box-shadow: none; border-left: 2px solid #e5e5e5;}
section .proveedores .filtro button:hover { background-color: #f5f5f5;}
section .proveedores .filtro button:focus { background-color: #f5f5f5; outline: 0;}
section .proveedores .filtro button:visited { background-color: #f5f5f5;}
section .proveedores ul li a { color: #333; display: block; width: 100%; padding: 10px 10px; border-top: 1px solid #e5e5e5; text-decoration: none; height: 41px; overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}
section .proveedores ul li a:hover { background-color: #f5f5f5;}
section .proveedores ul li a:focus { background-color: #f5f5f5; outline: 0;}
section .proveedores ul li a:visited { background-color: #f5f5f5;}


section .anios { background-color: #FFF; background-color: #e74c3c; color: #FFF; margin-top: 20px;}
section .anios ul li { display: inline-block; border-right: 1px solid #c0392b;}
section .anios ul li:last-child { border-right: 0;}
section .anios ul li.filtro { vertical-align: top; text-align: center; height: 156px;}
section .anios ul li.filtro h2 { margin: 35px 0 10px 0; font-size: 1.5em;}
section .anios ul li.filtro .input-group { width: 70%; margin: auto;}
section .anios ul li.filtro input { border: 0; background-color: #fff; color: #e74c3c; padding: 10px; }
section .anios ul li.filtro button { box-shadow: none; background-color: #FFF; border-color: #FFF;}
section .anios ul li.filtro button:hover { background-color: #f5f5f5;}
section .anios ul li.filtro button:focus { background-color: #f5f5f5; outline: 0;}
section .anios ul li.filtro button:visited { background-color: #f5f5f5;}
section .anios ul li a { color: #FFF; text-decoration: none; display: block; border: 1px dashed #FFF;}
section .anios ul li a { width: 90%; margin: 10px auto; padding: 10px; border-radius: 5px;}
section .anios ul li a:visited { background-color: #e74c3c;}
section .anios ul li a:focus { background-color: #fff; color: #c0392b; outline: 0;}
section .anios ul li a:hover { background-color: #fff; color: #c0392b;}
section .anios ul li a h2 { font-size: 1.5em;}
section .anios ul li a hr { margin: 5px 0;}
section .anios ul li a .cantidades .cantidad { text-align: right;}

section .expedientes { background-color: #FFF; margin-top: 20px;}
section .expedientes .tabla { padding: 10px; overflow-y: scroll;}
section .expedientes table { margin: 0; min-width: 970px; }
section .expedientes table thead { text-transform: uppercase; vertical-align: bottom;}
section .expedientes table thead th { text-align: center;}
section .expedientes table thead th:nth-child(1) { text-align: left;}
section .expedientes table thead th:nth-child(2) { text-align: left;}
section .expedientes table tbody tr td { border-right: 1px dashed #ccc; text-align: center;}
section .expedientes table tbody tr td:last-child { border-right: 0px dashed #ccc; }
section .expedientes table tbody tr td:nth-child(1) { text-align: left;}
section .expedientes table tbody tr td:nth-child(2) { text-align: left;}
section .expedientes table tbody tr td.Pagado { color: #2ecc71;}
section .expedientes table tbody tr td.Por.Pagar { color: #f1c40f;}
section .expedientes table tbody tr td.Vencido { color: #e74c3c;}

/* Large desktops and laptops */
@media (min-width: 1600px) {
	/*body { border: 2px solid brown;}*/
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1599px) {
	/*body { border: 2px solid yellow;}*/
	section .anios ul li { width: 16.6%;}
	section .anios ul li:nth-child(6n) { border-right: 0;}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	/*body { border: 2px solid green;}*/
	section .anios ul li { width: 24%;}
	section .anios ul li:nth-child(4n) { border-right: 0;}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	/*body { border: 2px solid cyan;}*/
	section .anios ul li { width: 33%;}
	section .anios ul li:nth-child(3n) { border-right: 0;}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	/*body { border: 2px solid orange;}*/
	section .anios ul li { width: 49%;}
	section .anios ul li:nth-child(2n) { border-right: 0;}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	/*body { border: 2px solid red;}*/
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #FFF;
  box-shadow: 0 0 0 #FFF;
  outline: 0 none;
}

