div.sc_menu_wrapper {
	background:#DFEDF8; 
	padding:0;
	padding-top: 6px;
    padding-bottom: 20px;	
	margin: 0;
	position: relative;
    height:100%;
	/* Make bigger than a photo, because we need a place for a scrollbar. */
	width: 100%;
	overflow: auto;
}
div.sc_menu {
	padding: 0px;
	padding-bottom:20px;
}
.sc_menu a {
	display:block;
	margin-bottom:4px;
	margin-left:4px;
	margin-right:4px;
	width:auto;
	border:1px #ABD4F2 solid;
	border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;	
	/* When image support is turned off */
	padding:2px;
	background:#D0E5F5;
	/*color:#fff;*/
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.8em;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
}
.sc_menu a:hover {
	background:#ABD4F2;
	border:1px #45A8EF solid;
	-moz-box-shadow: 0px 0px 6px #FFFFFF;
	-webkit-box-shadow: 0px 0px 6px #FFFFFF;
	box-shadow: 0px 0px 6px #FFFFFF;
}
.sc_menu img {
	display: block;
	border: none;
	margin-left:auto;
	margin-right:auto;
}
.sc_menu_wrapper .loading {
	position: absolute;
	top: 6px;
	margin-left:4px;
	margin-right:4px;
	/*left: 15px;*/
	/*margin: 0 auto;*/
	padding: 8px;
	width: auto;
	border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	font-size: 0.8em;
	text-align: center;
	color: #88B6D9;
	border: 1px solid #D0E2F0;
	background: #88B6D9;
}
/* Styling tooltip */
.sc_menu_tooltip{
	display: block;
	position: absolute;
	text-align: center;
	width: 48px;
	z-index: 100;
	float: left;
	padding: 1px;
	margin: 0px;
	margin-left:8px;
	font-size: 8px;
	color: #003461;
	border: 1px solid #003461;
	background: rgb(255, 255, 255);
	/* Make background a bit transparent for browsers that support rgba */	
	background: rgba(255, 255, 255, 0.7);
	border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

/* Here are styles for a link to an article. Not for you :) */
#back {
	margin-left: 8px;
	color: gray;
	font-size: 18px;
	text-decoration: none;
}
#back:hover {
	text-decoration: none;
}