<div class="rmmFlujo" ng-app="rmmFlujo">
    <div class="container" ng-controller="CentrosController">
        <div class="row indicador titulo">
            <div class="col-xs-12">
                <h2>Indicador</h2>
            </div>
        </div>
        <div class="row indicador">
            <div class="col-xs-11">
                <div class="texto">Facturas: $ 10,000,000.00</div>
                <div class="texto"><i class="fa fa-chevron-down"></i></div>
            </div>
        </div>
        <div class="row semaforo">
            <div class="col-xs-4 rojo">
                Rojo
            </div>
            <div class="col-xs-4 amarillo">
                Amarillo
            </div>
            <div class="col-xs-4 verde">
                Verde
            </div>
        </div>
        <div class="row indicador">
            <div class="col-xs-4">
                <div class="texto"><i class="fa fa-chevron-up"></i></div>
                <div class="texto">Ingresos: $ 4,000,000.00</div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6">
                <div class="columna">
                    <div class="minimizar">
                        <a><i class="fa fa-chevron-down fa-fw"></i></a>
                    </div>
                    <h2>Registrar Ingreso</h2>
                    <hr />
                    <form>
                        <div class="form-group">
                            <label for="concepto">Concepto</label>
                            <input type="text" class="form-control" id="concepto" placeholder="Concepto de Ingreso">
                        </div>
                        <div class="form-group">
                            <label for="cantidad">Cantidad</label>
                            <input type="text" class="form-control" id="cantidad" placeholder="$1,000,000.00">
                        </div>
                        <button class="btn btn-success">Registrar</button>
                    </form>
                </div>
                <div class="columna">
                    <div class="minimizar">
                        <a><i class="fa fa-chevron-down fa-fw"></i></a>
                    </div>
                    <h2>Registro de Ingresos</h2>
                    <hr />
                    <div class="registro ingresos">
                        <a><i class="fa fa-close"></i></a>
                        <label class="concepto">Ingreso Sem. 4</label>
                        <label class="cantidad">$ 1,000,000.00</label>
                    </div>
                    <div class="registro ingresos">
                        <a><i class="fa fa-close"></i></a>
                        <label class="concepto">Ingreso Sem. 3</label>
                        <label class="cantidad">$ 2,000,000.00</label>
                    </div>
                    <div class="registro ingresos">
                        <a><i class="fa fa-close"></i></a>
                        <label class="concepto">Ingreso Sem. 2</label>
                        <label class="cantidad">$ 800,000.00</label>
                    </div>
                    <div class="registro ingresos">
                        <a><i class="fa fa-close"></i></a>
                        <label class="concepto">Ingreso Sem. 1</label>
                        <label class="cantidad">$ 2,000,000.00</label>
                    </div>
                    <hr />
                    <div class="registro total ingresos">
                        <a><i class="fa fa-close"></i></a>
                        <label class="concepto">Total:</label>
                        <label class="cantidad">$ -1,800,000.00</label>
                    </div>
                </div>
            </div>
            <hr class="visible-xs" />
            <div class="col-md-5 col-md-offset-0 col-sm-6">
                <div class="columna">
                    <div class="minimizar">
                        <a><i class="fa fa-chevron-down fa-fw"></i></a>
                    </div>
                    <h2>Registrar Gasto</h2>
                    <hr />
                    <form>
                        <div class="form-group">
                            <label for="gasto">Concepto</label>
                            <input type="text" class="form-control" id="concepto" placeholder="Concepto de Gasto">
                        </div>
                        <div class="form-group">
                            <label for="cantidad">Cantidad</label>
                            <input type="text" class="form-control" id="cantidad" placeholder="$1,000,000.00">
                        </div>
                        <button class="btn btn-success">Registrar</button>
                    </form>
                </div>
                <div class="columna">
                    <div class="minimizar">
                        <a><i class="fa fa-chevron-down fa-fw"></i></a>
                    </div>
                    <h2>Registro de Gastos</h2>
                    <hr />
                    <div class="registro gastos">
                        <a><i class="fa fa-close"></i></a>
                        <label class="concepto">Gasto Sem. 4</label>
                        <label class="cantidad">$ -500,000.00</label>
                    </div>
                    <div class="registro gastos">
                        <a><i class="fa fa-close"></i></a>
                        <label class="concepto">Gasto Sem. 3</label>
                        <label class="cantidad">$ -200,000.00</label>
                    </div>
                    <div class="registro gastos">
                        <a><i class="fa fa-close"></i></a>
                        <label class="concepto">Gasto Sem. 2</label>
                        <label class="cantidad">$ -1,000,000.00</label>
                    </div>
                    <div class="registro gastos">
                        <a><i class="fa fa-close"></i></a>
                        <label class="concepto">Gasto Sem. 1</label>
                        <label class="cantidad">$ -100,000.00</label>
                    </div>
                    <hr />
                    <div class="registro total gastos">
                        <a><i class="fa fa-close"></i></a>
                        <label class="concepto">Total:</label>
                        <label class="cantidad">$ -1,800,000.00</label>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>