
<!DOCTYPE html>
<html lang="es" ng-app="rrRCP">
    <head>
        
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="author" content="" />
        <meta name="description" content="" />
        <meta name="webmaster" content="" />
        <link rel="shortcut icon" href="img/home.ico" />
        <title>Reporte Comparativo VS Presupuesto</title>
        
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/font-awesome/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="css/open-sans/open-sans-font.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        
        <!-- JS -->
        <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/template-angular.js"></script>
        <script type="text/javascript" src="js/template.js"></script>
        
    </head>
    <body>
        <header>
            <div class="container-fluid">
                <div class="logo">
                    <a href="#"><i class="fa fa-bar-chart fa-fw"></i> <span class="hidden-xs">Reporte Comparativo VS Presupuesto</span> <span class="visible-xs">Rep. Com. VS Pre.</span></a>
                </div>
                <div class="salir">
                    <a href="">Salir</a>
                </div>
            </div>
        </header>
        <section>
            <div class="container-fluid" ng-controller="CentrosController">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="buscador">
                            <form class="form-inline">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Buscar Obra" ng-model="centro">
                                </div>
                                <button class="btn btn-default" ng-click="buscar_centro()"><i class="fa fa-search"></i> Buscar</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <h1>{{titulo}}</h1>
                        <div class="centros">
                            <ul class="nivel1">
                                <li ng-repeat="centro in centros.registros">
                                    <span ng-click="mostrar_nivel2(centro.centro);"><i class="fa fa-chevron-right fa-fw"></i> Centro - {{centro.centro}}</span>
                                    <ul class="nivel2 centro-{{centro.centro}}">
                                        <li ng-repeat="frente in centro.frentes">
                                            <span ng-click="mostrar_nivel3(centro.centro,frente.frente);"><i class="fa fa-angle-right fa-fw"></i> Frente - {{frente.frente}}</span>
                                            <ul class="nivel3 centro-{{centro.centro}}-frente-{{frente.frente}}">
                                                <li ng-repeat="partida in frente.partidas">
                                                    <span ng-click="mostrar_tabla(centro.centro,frente.frente,partida.partida);"><i class="fa fa-angle-double-right fa-fw"></i> Partida - {{partida.partida}}</span>
                                                    <div class="table-responsive  centro-{{centro.centro}}-frente-{{frente.frente}}-partida-{{partida.partida}}">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <th></th>
                                                                <th>CODIGO</th>
                                                                <th>INSUMO</th>
                                                                <th>U.M.</th>
                                                                <th>CANT.<br />PPTO. BASE</th>
                                                                <th>ADITIVAS</th>
                                                                <th>DEDUCTIVAS</th>
                                                                <th>PPTO. <br /> ACTUAL</th>
                                                                <th>CANT.<br /> COMPRADA</th>
                                                                <th>POR<br /> COMPRAR</th>
                                                                <th>CANT.<br /> RECIBIDA</th>
                                                                <th>POR<br /> RECIBIR</th>
                                                                <th>CANT.<br /> APLICADA</th>
                                                                <th>CANT. <br />ALMACEN</th>
                                                            </thead>
                                                            <tbody ng-repeat="dato in partida.datos">
                                                                <tr class="tr tr{{dato.codigo}}">
                                                                    <td class="icono" ng-click="mostrar_detalle('.tr'+dato.codigo);"><i class="fa fa-toggle-off"></i></td>
                                                                    <td>{{dato.codigo}}</td>
                                                                    <td class="insumo">{{dato.insumo}}</td>
                                                                    <td>{{dato.um}}</td>
                                                                    <td>{{dato.cant_ppto_base}}</td>
                                                                    <td>{{dato.aditivas}}</td>
                                                                    <td>{{dato.deductivas}}</td>
                                                                    <td>{{dato.ppto_actual}}</td>
                                                                    <td>{{dato.cant_comprada}}</td>
                                                                    <td>{{dato.por_comprar}}</td>
                                                                    <td>{{dato.cant_recibida}}</td>
                                                                    <td>{{dato.por_recibir}}</td>
                                                                    <td>{{dato.cant_aplicada}}</td>
                                                                    <td>{{dato.cant_almacen}}</td>
                                                                </tr>
                                                                <tr class="tr tr{{dato.codigo}} expandir" style="display: none;">
                                                                    <td colspan="14">
                                                                        <dl class="dl-horizontal">
                                                                            <dt>INSUMO</dt>
                                                                            <dd>{{dato.insumo}}</dd>
                                                                        </dl>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <footer>
            <div class="container-fluid">
                <div>
                    <span class="hidden-xs"><i class="fa fa-bar-chart fa-fw"></i>  Reporte Comparativo VS Presupuesto | <i class="fa fa-copyright"></i> 2015</span> 
                    <span class="visible-xs"><i class="fa fa-bar-chart fa-fw"></i> Rep. Com. VS Pre. | <i class="fa fa-copyright"></i> 2015</span></div>
            </div>
        </footer>
    </body>
</html>