/* CSS Document */
button.normal
{
	height:26px; 
	max-height:26px; 
	cursor:pointer;
	border:hidden 2px #FFCC33;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
button.normal table td.btnLC
{
	width:21px; 
	height:26px;
	max-width:21px; 
	max-height:26px; 
	background-position:top; 
	background-image:url('lc.png');
	border:none;
}
button.normal table td.btnR
{
	background-image:url('c.png'); 
	vertical-align:top;
	height:26px; 
	max-height:26px; 
	border:none;
}

button.normal table td.btnR div
{
	margin-top:4px;
	width:100%;
	height:26px;
	max-height:26px; 
	font-family:Arial; 
	font-size:11px; 
	font-weight:bold; 
	color:#FFFFFF;
	border:none;
}
button.normal table td.btnRC
{
	width:21px; 
	height:26px;
	max-width:21px;
	max-height:26px; 
	background-image:url('rc.png');
	border:none;
}