/* Document CSS */
/*
RRDesglose
*/

body { z-index: 1; font-size: 14px; color: #333; background-color:#f2f2f2; font-family: 'open_sans_regular'; background-image: url('../img/white_wall_hash.png');}
body.mac { font-family: 'open_sans_light';}

ul,h1,h2,h3,h4,h5,.table { margin: 0; padding: 0; list-style: none;}

header { z-index: 10; position: fixed; top: 0; left: 0; width: 100%; background-color: #e74c3c; color: #FFF; border-bottom: 5px solid #c0392b;}
header a { font-size: 1.3em; padding: 10px 0; display: block; color: #FFF;}
header a:hover { color: #FFF; text-decoration: none;}
header .logo a { float: left;  }
header .logo a i { float: left; padding-top: 4px; padding-right: 10px;}
header .logo a span { float: left;}
header .salir a { float: right;}

footer {  z-index: 10; position: fixed; bottom: 0; left: 0; width: 100%; background-color: #fff; padding: 5px 0; color: #777; text-align: center;}

section { padding: 60px 0 40px 0;}

section .buscador { padding: 20px 0;}
section h1 { margin-bottom: 10px; margin-top: 20px;}
section ul { padding: 15px 15px;}
section ul .table-responsive { }
section ul li { border-bottom: 1px dashed #ddd;}
section ul li:last-child { border-bottom: 0;}
section ul li .contenido { }
section ul li span { padding: 15px 0; display: block;}
section ul.nivel1 > li{ background-color: #FFF; border: 1px solid #ddd; border-radius: 5px; margin-bottom: 20px; padding: 15px;}
section ul.nivel1 span { }
section ul.nivel2 span { }
section ul.nivel3 span { }
section ul.nivel1 { cursor: pointer; padding: 0;} 
section ul.nivel1 ul.nivel2 { background-color: #f9f9f9; border: 1px solid #ddd; margin-bottom: 15px; }
section ul.nivel1 ul.nivel2 ul.nivel3 { background-color: #FFF; border: 1px solid #ddd; margin-bottom: 15px; }
section ul.nivel1 ul.nivel2 ul.nivel3 table.table { margin-bottom: 15px; border-top-color: #c0392b; }
section ul.nivel1 ul.nivel2 ul.nivel3 table.table thead { background-color: #e74c3c; color: #FFF;}
section ul.nivel1 ul.nivel2 ul.nivel3 table.table thead th { border-color: #c0392b; font-family: 'open_sans_bold'}
body.mac section ul.nivel1 ul.nivel2 ul.nivel3 table.table thead th { font-family: 'open_sans_regular'}
section ul.nivel1 ul.nivel2 ul.nivel3 table.table tbody tr dt { font-family: 'open_sans_bold'}
body.mac section ul.nivel1 ul.nivel2 ul.nivel3 table.table tbody tr dt { font-family: 'open_sans_regular'}
section ul.nivel1 ul.nivel2 ul.nivel3 table.table tbody tr td.icono { min-width: 50px; text-align: center;}
section ul.nivel1 ul.nivel2 ul.nivel3 table.table tbody tr td.insumo { width: 150px; max-width: 150px; text-align: left; height: 20px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
 
/* Large desktops and laptops */
@media (min-width: 1600px) {
	/*body { border: 2px solid brown;}*/
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1599px) {
	/*body { border: 2px solid yellow;}*/
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	/*body { border: 2px solid green;}*/
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	/*body { border: 2px solid cyan;}*/
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	/*body { border: 2px solid orange;}*/
	button { float: right; width: 29%;}
	input[type="text"] { float: left; width: 69%;}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	/*body { border: 2px solid red;}*/
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #FFF;
  box-shadow: 0 0 0 #FFF;
  outline: 0 none;
}

