<!DOCTYPE html>
<html lang="es" ng-app="rrDireccion">
    <head>
        
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="author" content="" />
        <meta name="description" content="" />
        <meta name="webmaster" content="" />
        <link rel="shortcut icon" href="img/home.ico"/>
        <title>Módulo de Dirección</title>
        
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/font-awesome/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="css/open-sans/open-sans-font.css" />
        <link rel="stylesheet" type="text/css" href="css/angular-chart/angular-chart.css" />

        <link rel="stylesheet" type="text/css" href="reportes/desglose/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="reportes/expro/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="reportes/rcp/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="reportes/flujo/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="reportes/monitor/css/style.css"/>

        <link rel="stylesheet" type="text/css" href="css/style.css" />
        
    </head>
    <body ng-controller="direccionController">
        <header>
            <div class="row">
                <div class="col-sm-3 col-xs-6 titulo">
                    <h1 ng-click="changeView('')">
                        <i class="fa fa-cubes fw"></i> Dirección
                    </h1>
                </div>
                <div class="col-sm-5 hidden-xs menu">
                    <nav>
                        <ul>
                            <li ng-click="changeView('desglose')"><i class="fa fa-pie-chart"></i></li>
                            <li ng-click="changeView('expro')"><i class="fa fa-book"></i></li>
                            <li ng-click="changeView('rcp')"><i class="fa fa-bar-chart"></i></li>
                            <li ng-click="changeView('flujo')"><i class="fa fa-calculator"></i></li>
                            <li ng-click="changeView('monitor')"><i class="fa fa-desktop"></i></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-sm-4 col-xs-6 salir">
                    <a href="#">
                        <i class="fa fa-sign-out fw"></i> <span class="hidden-sm hidden-xs">Salir</span>
                    </a>
                    <a ng-click="changeView('configuracion')" style="border-right:1px solid #e7eaec">
                        <i class="fa fa-cog fw"></i>
                    </a>
                    <a ng-click="changeView('')" style="border-right:1px solid #e7eaec">
                        <i class="fa fa-chevron-left fw"></i> <span class="hidden-sm hidden-xs">Regresar</span>
                    </a>
                </div>
            </div>
        </header>
        <section class="view" ng-view>
            <!-- INCLUDE VIEW -->
        </section>
        <footer>
            <div class="row">
                <div class="col-xs-12 pie">
                    <p>Copyright RedObra © 2015</p>
                </div>
            </div>
        </footer>

        <!-- JS -->
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/angular-route.min.js"></script>
        <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="js/angular-chart.min.js"></script>

        <script type="text/javascript" src="reportes/desglose/js/app.js"></script>
        <script type="text/javascript" src="reportes/expro/js/app.js"></script>
        <script type="text/javascript" src="reportes/rcp/js/app.js"></script>
        <script type="text/javascript" src="reportes/flujo/js/app.js"></script>
        <script type="text/javascript" src="reportes/monitor/js/app.js"></script>
        
        <script type="text/javascript" src="js/app.js"></script>

    </body>
</html>