table.grdRedGrid { font-family:arial; font-size:12px; text-align:left; }
table.grdRedGrid thead.grdHead tr th{
	background:#baddbd url(img/hd-bg.jpg) 0 0 repeat-x;
	border-bottom:1px solid #a6c9e2;
	font-size:12px;
	font-weight:700;
	color:#030;
	padding:4px;
}
table.grdRedGrid tbody.grdBody tr:hover { background:#d3e6d3 url(img/bg_vertical.jpg) 0 0 repeat-x; }
table.grdRedGrid tbody.grdBody td { color:#3D3D3D; border-bottom:1px solid #e8e8e8; }
div.grdRedGridFooter { background-image:url(img/ext-bg.png); padding:2px; }