@charset "utf-8";
/* CSS Document */
div.modal{
	position: fixed;
	font-family: Arial, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
	z-index: 99999;
	opacity:1;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}
div.modal #modal_box{
	width: 95%;
	position:static;
	border:1px solid #000000;
	margin:0 auto;
	margin-top:50px;	 
	background: #f6f6f6;
	border-radius:3px;
	box-shadow: 2px 2px 5px #000000;
	-webkit-box-shadow: 2px 2px 5px #000000;
	-moz-box-shadow: 2px 2px 5px #000000;
	filter: shadow(color=#000000, direction=135, strength=2);
	display:none;
	
  
	
}
div.modal #modal_head{
	width:100%;
	height:25px;
	margin:0 auto;
	background-image:url(grid/azul/img/ext-bg.png);
	border:1px solid #000000;
	border-radius:3px;
	text-align:center;
	font-size:14px;
	font-weight:bold;

	
}
div.modal #modal_head button.close_right{
	float:right;
	height:100%;
	width:40px;
	background:#C62D11;
	border:none;
	color:#ffffff;
	font-weight:bold;
}
div.modal #modal_head button.close_right:hover{
	background:#EA2015;
	color:#FFFFFF;
}
div.modal #modal_head button.close_bottom{
	float:center;
	height:100%;
	width:50px;
	background:#C62D11;
	border:none;
	color:#ffffff;
	font-weight:bold;
}
div.modal #modal_head button.close_bottom:hover{
	background:#EA2015;
	color:#FFFFFF;
}

