.cell{
	display: table-cell;
	vertical-align: middle;
}
.danger{
	background-color: #B11E0B;
	border-color: #B11E0B;
	color: #FFFFFF;
}
.form{
	background-color: #eee;
	border: 1px solid #ddd;
	padding: 20px;
}
.gray-frame{
	background-color: #888;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}
.hidden{ display: none; }
.hide-when-hover:hover{ display: none; }
.iblock-when-small{ display: none; }
.opacity-80{
	/* Theoretically for IE 8 & 9 (more valid) */	
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	
	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity=80);
	
	/* Older than Firefox 0.9 */
	-moz-opacity:0.8;
	
	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.8;
	
	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: 0.8;
}
.padding{ padding: 10px; }
.primary{
	background-color: #0060A9;
	border-color: #0060A9;
	color: #fff;
}
.readonly{ background-color: #ddd; }
.section{ background-color: #eee; }
.show-when-hover:hover{ display: block; }
.show-when-small{ display: none; }
.table{ display: table; }
.table100{
	display: table;
	height: 100%;
	width: 100%;
}
.wrong{ border: 1px solid #CF3030 !important; }