table.grid{
	background-color: #FFFFFF;
	border-spacing: 0;
	border-collapse: 0;
	cursor: default;
	font-size: 14px;
}

table.grid button{
	background: none;
	border: none;
	padding: 0;
}
table.grid th{
	background-color: #0060A9;
	color: #FFFFFF !important;
	padding: 5px;
}
table.grid th input{
	background-color: #eef8ff;
	border-radius: 5px;
	border: 1px solid #0060A9;
	padding: 3px 5px 3px 5px;
	width: 100px;
}
table.grid th input:focus{
	background-color: #fff;
	width: 200px;
}
table.grid td{
	padding: 5px;
	border-bottom: 1px solid #DDDDDD;
}
table.grid tr:hover > td{ background-color: #eee; }