*{
	color: #222222;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
	width: 100%;
	position: relative;
}
a{
	font-weight: bold;
	text-decoration: none;	
}
button{
	background-color: #DDDDDD;
	border: 1px solid #BBBBBB;
	border-radius: 3px;
	cursor: pointer;
	font-weight: bold;
	font-size: 13px;
	padding: 5px 10px 5px 10px;
}
button::-moz-focus-inner {
	border-width: 1px;
	margin: -2px;
	padding: 0;
}
button *{ cursor: pointer; }
img{ border: none; margin: 0; }
input[type=text],textarea,select{
	border: 1px solid #ddd;
	font-size: 14px;
	padding: 5px;
	width: 200px;
}
input[type=checkbox]{ cursor: pointer; }
li{ 
	text-align: left;
	padding: 5px;
}
textarea{ height: 80px; }
ul{ list-style: none; }

/* Layout ****************************************/
#Body{
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
/* Layout pannels ###############################*/
#LeftPannel{
	background-color: #fff;
	border-right: 1px solid #ddd;
	bottom: 0;
	left: 0;
	position: absolute;
	top: 0;
	width: 349px;
	max-width: 349px;
}
#RightPannel{
	bottom: 0;
	left: 350px;
	position: absolute;
	right: 0;
	top: 0;
}
#errorMessage{
	border-radius: 0 3px 0 0;
	background-color: #CF3030;
	display: none;
	height: 50px;
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;
}
#errorMessage div{
	color: #FFFFFF;
	font-weight: bold;
	font-style: italic;
}
/* Left pannel ##################################*/
#Header{
	background-color: #0060A9;
	height: 50px;
}
#Header *{
	color: #fff;
}
#AppMenu{
	bottom: 0px;
	overflow: auto;
	position: absolute;
	top: 0px;
	width: 100%;
}
/* Right pannel #################################*/
#AppToolbar{
	background-color: #eee;
	border-bottom: 1px solid #ddd;
	height: 49px;
}
#AppMain{
	-webkit-overflow-scrolling: touch;
	background-color: #fff;
	bottom: 0px;
	overflow: auto;
	position: absolute;
	top: 50px;
	width: 100%;
}
#loadingFrame, #submittingFrame{
	background-color: #fff;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
#loadingMain, #submittingMain{
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
/* Layout app toolbar #########################*/
#MenuOptions{
	background-repeat: no-repeat;
	display: none;
}
#MenuOptions button{
	background: none;
	border: none;
}
#AppToolbar #toolbar div{
	font-style: italic;
	padding: 10px;
}
/* Main ######################################*/
#MainIFrame{
	border: 0;
	height: 99%;
	width: 100%;
}