@media screen and (max-width: 1000px){
	.hide-when-medium{ display: none; }
	.show-when-medium{ display: block; }
	.table-when-medium{ display: table; }
}

@media screen and (max-width: 800px){
	#LeftPannel{ border-color: #0060A9; display: none; }
	#RightPannel{ left: 0; }
	#MenuOptions{ display: table-cell; }
	.cell-when-small{ display: table-cell; }
	.hide-when-small{ display: none; }
	.show-when-small{ display: block; }
	.iblock-when-small{ display: inline-block; }
	.table-when-small{ display: table; }
	.width-when-small{ width: 100% !important; }
}


@media screen and (max-width: 500px){
	.hide-when-too-small{ display: none; }
	.show-when-too-small{ display: block; }
	.width-when-too-small{ width: 100% !important; }
}