#AppMenu a{ font-weight: normal; }
#AppMenu a:hover{ text-decoration: none; }
#AppMenu li{
	border-bottom: 1px solid #EEEEEE;
	cursor: pointer;
	background-color: #FFFFFF;
}
#AppMenu li div{ padding: 10px }
#AppMenu li li{
	border-bottom: 0;
	padding: 10px 10px 10px 30px;
}
#AppMenu li li:hover{
	background-color: #EEEEEE;
}
#AppMenu ul ul{ display: none; }
#AppMenu li div.selected, #AppMenu li div.selected *{
	background-color: #0060A9;
	color: #FFFFFF;
	border-radius: 5px;
}