/* GENERAL ========================================*/
*{
	color: #222222;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

a{
	font-weight: bold;
	text-decoration: none;	
}

a:hover{text-decoration: underline; }

a img{
	border: none;
}

button{
	background-color: #DDDDDD;
	border: 1px solid #BBBBBB;
	border-radius: 3px;
	cursor: pointer;
	font-weight: bold;
	padding: 5px 10px 5px 10px;
}

form{
	padding-bottom: 20px;
	padding-top: 20px;
}

input[type=checkbox]{
	cursor: pointer;
}

input[type=text], textarea{
	padding:5px;
}

li{ 
	text-align: left;
	padding: 5px;
}

select{ font-size: 1em; }

ul{ list-style: none; }


/* LAYOUT =========================================*/

/* Backgroud Color ############################### */
#headColor{
	background-color: #0060A9;
	height: 90px;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}
#bodyColor{
	background-color: #f4f4f4;
	bottom: 0px;
	left: 0;
	position: fixed;
	right: 0;
	top: 90px;
}
/* PageFrame ################################### */
#pageFrame{
	bottom: 20px;
	left: 50px;
	position: fixed;
	right: 50px;
	top: 20px;
}

#pageContainer{
	background-color: #FFFFFF;
	border-radius: 3px;
	box-shadow: 0px 2px 2px 0px #BBBBBB;
	display:  table;
	width: 100%;
	height: 100%;
	position: relative;
}
/* Pannels ################################### */
#leftPannel{
	border-radius: 3px 0 0 3px;
	border-right: 1px solid #CCCCCC;
	height: 100%;
	position: absolute;
	left: 0;
	width: 349px;
}
#rightPannel{
	border-radius: 0 3px 3px 0;
	position: absolute;
	right: 0px;
	height: 100%;
	left: 350px;
}
/* Left Pannel ################################### */
#header{
	border-radius: 3px 0 0 0;
	background-color: #E0E0E0;
	vertical-align: middle;
	height: 70px;
}
#menu{
	background-color: #FFFFFF;
	border-radius: 0 0 0 3px;
	bottom: 0;
	overflow: auto;
	position: absolute;
	top: 70px;
	width: 100%;
}
/* Right Pannel ################################### */
#errorMessage{
	border-radius: 0 3px 0 0;
	background-color: #CF3030;
	display: none;
	height: 70px;
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;
}
#errorMessage div{
	color: #FFFFFF;
	font-weight: bold;
	font-style: italic;
}
#mainSuccessfull{
	border-radius: 0 3px 0 0;
	background-color: #67C667;
	display: none;
	height: 70px;
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;
}
#mainSuccessfull div{
	color: #FFFFFF;
	font-weight: bold;
	font-style: italic;
}
#toolbar{
	border-radius: 0 3px 0 0;
	background-color: #E0E0E0;
	display: table;
	height: 70px;
	width: 100%;
}
#main{
	background-color: #EEEEEE;
	border-radius: 0 0 3px 0;
	bottom: 0;
	font-size: 14px;
	left: 0;
	overflow: auto;
	position: absolute;
	right: 0;
	top: 70px;
	-webkit-overflow-scrolling: touch;
	/*width: 100%;*/
}
#loadingFrame{
	background-color: #FFFFFF;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
#loadingMain{
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
/* Toolbar ################################ */
#toolbar #layoutSettings{
	display: none;
}
#toolbar #toolbarContainer .cell{ padding: 10px; }
#toolbar #toolbarContainer h2{ font-style: italic; }
/* Main ################################### */
#iloader{
	border: 0;
	height: 99%;
	width: 100%;
}
/* Layout Settings ################################### */
#layoutOptions{
	background-color: #FFFFFF;
	box-shadow: 0px 0px 3px #000000;
	border-radius: 5px;
	display: none;
	position: absolute;
	width: 170px;
	z-index: 1;
}
#layoutOptions li{
	padding: 10px 20px 10px 20px;
}
/* Frames ################################### */
#white-frame{
	background-color: #FFFFFF;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}
#loading{
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}
/* LAYOUT =========================================
#ajaxLoad{
	background-color: #FFFFFF;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}
#ajaxLoad #message{
	background-color: #EEEEEE;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	display: none;
	padding: 20px;
	text-align: center;
}













#loading{
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}



#iMain{
	background-color: #EEEEEE;
	border-radius: 0 0 3px 0;
	bottom: 0;
	overflow: auto;
	position: absolute;
	top: 70px;
	width: 100%;
}
#iMain iframe{
	width: 100%;
    height: 99%;
    border: 0;
}
*/
/* GRID ==================================================*/
table.grid{
	background-color: #FFFFFF;
	border-spacing: 0;
	border-collapse: 0;
}

table.grid button{
	background: none;
	border: none;
	padding: 0;
}
table.grid th{
	background-color: #0060A9;
	color: #FFFFFF !important;
	padding: 5px;
}

table.grid td{
	padding: 5px;
	border-bottom: 1px solid #DDDDDD;
}

/* Menu ===============================================*/
#menu a{ font-weight: normal; }
#menu a:hover{ text-decoration: none; }
#menu li{
	border-bottom: 1px solid #EEEEEE;
	cursor: pointer;
	background-color: #FFFFFF;
}
#menu li div{ padding: 10px }
#menu li li{
	border-bottom: 0;
	padding: 10px 10px 10px 30px;
}
#menu li li:hover{
	background-color: #EEEEEE;
}
#menu ul ul{ display: none; }
#menu li div.selected{
	background-color: #0060A9;
	color: #FFFFFF;
	border-radius: 5px;
}

/* CLASSES ============================================= */
.big-block{
	display: inline-block;
	height: 100%;
	width: 100%;
}

.cell{
	display: table-cell;
	vertical-align: middle;
}

.container{
	background: #DDDDDD;
	border: 1px solid #CCCCCC;
	display: inline-block;
	padding: 20px;
}

.danger{
	background-color: #d14836;
	border-color: #d14836;
	color: #FFFFFF;
}

.disabled, .disabled *{
	background-color: #EEEEEE;
	color: #888888;
	font-style: italic;
}

.hidden{ display: none; }

.no-padding{ padding: 0 !important; }

.o90{
	/* Theoretically for IE 8 & 9 (more valid) */	
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	
	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity=90);
	
	/* Older than Firefox 0.9 */
	-moz-opacity:0.9;
	
	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.9;
	
	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: 0.9;
}

.pointer{
	cursor: pointer
}

.primary{
	background-color: #0060A9;
	border-color: #0060A9;
	color: #FFFFFF;
}

.radiusbottom{
	border-radius: 0px 0px 5px 5px;
}

.red{
	background-color: #AA0000;
	color: #FFFFFF;
	font-weight: bold;
}

.sws{ display: none; }

.table{
	display: table;
	height: 100%;
	width: 100%;
}

.toolbar{
	display: table-cell;
	padding: 10px;
	vertical-align: middle;
}

.toolbar h2{
	color: #444444;
	font-style: italic;
}

.wrong{
	border-color: #CF3030;
}

