<div class="rrmRCP" ng-app="rrmRCP">
    <div class="container-fluid" ng-controller="CentrosController">

        <div class="row">
            <div class="col-xs-12">
                <div class="buscador">
                    <form class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Buscar Obra" ng-model="centro">
                        </div>
                        <button class="btn btn-default" ng-click="buscar_centro()"><i class="fa fa-search"></i> Buscar</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>{{titulo}}</h1>
                <div class="centros">
                    <ul class="nivel1">
                        <li ng-repeat="centro in centros.registros">
                            <span ng-click="mostrar_nivel2(centro.centro);"><i class="fa fa-chevron-right fa-fw"></i> Centro - {{centro.centro}}</span>
                            <ul class="nivel2 centro-{{centro.centro}}">
                                <li ng-repeat="frente in centro.frentes">
                                    <span ng-click="mostrar_nivel3(centro.centro,frente.frente);"><i class="fa fa-angle-right fa-fw"></i> Frente - {{frente.frente}}</span>
                                    <ul class="nivel3 centro-{{centro.centro}}-frente-{{frente.frente}}">
                                        <li ng-repeat="partida in frente.partidas">
                                            <span ng-click="mostrar_tabla(centro.centro,frente.frente,partida.partida);"><i class="fa fa-angle-double-right fa-fw"></i> Partida - {{partida.partida}}</span>
                                            <div class="table-responsive  centro-{{centro.centro}}-frente-{{frente.frente}}-partida-{{partida.partida}}">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <th width="50px" align="center"></th>
                                                        <th>CODIGO</th>
                                                        <th>INSUMO</th>
                                                        <th>U.M.</th>
                                                        <th>CANT.<br />PPTO. BASE</th>
                                                        <th>ADITIVAS</th>
                                                        <th>DEDUCTIVAS</th>
                                                        <th>PRESUPUESTO <br /> ACTUAL</th>
                                                        <th>CANT.<br /> COMPRADA</th>
                                                        <th>POR<br /> COMPRAR</th>
                                                        <th>CANT.<br /> RECIBIDA</th>
                                                        <th>POR<br /> RECIBIR</th>
                                                        <th>CANT.<br /> APLICADA</th>
                                                        <th>CANT. <br />ALMACEN</th>
                                                    </thead>
                                                    <tbody ng-repeat="dato in partida.datos">
                                                        <tr class="centro-{{centro.centro}}-frente-{{frente.frente}}-partida-{{partida.partida}}-tr{{$index}}">
                                                            <th ng-click="mostrar_desglose(centro.centro,frente.frente,partida.partida,$index)"><center class="boton"><i class="fa fa-toggle-off"></i></center></th>
                                                            <td>{{dato.codigo}}</td>
                                                            <td class="insumo"><span>{{dato.insumo}}</span></td>
                                                            <td>{{dato.um}}</td>
                                                            <td>{{dato.cant_ppto_base}}</td>
                                                            <td>{{dato.aditivas}}</td>
                                                            <td>{{dato.deductivas}}</td>
                                                            <td>10</td>
                                                            <td>{{dato.cant_comprada}}</td>
                                                            <td>{{dato.por_comprar}}</td>
                                                            <td>{{dato.cant_recibida}}</td>
                                                            <td>{{dato.por_recibir}}</td>
                                                            <td>{{dato.cant_aplicada}}</td>
                                                            <td>0</td>
                                                        </tr>
                                                        <tr class="centro-{{centro.centro}}-frente-{{frente.frente}}-partida-{{partida.partida}}-tr{{$index}}-mostrar" style="display: none;">
                                                            <td colspan="14">
                                                                <dl class="dl-horizontal">
                                                                    <dt>INSUMO:</dt>
                                                                    <dd>{{dato.insumo}}</dd>
                                                                </dl>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>