<div>
	<button type="button" id="pick" style="width: 160px;">
		<input type="file" id="file" name="" style="display: none;" />
		<label style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display:block;">
			Seleccione archivo...
		</label>
	</button>
	<button type="button" id="download" style="padding-botom: 0px; padding-top: 4px;">
		<img src="img/icons/download.png" height="16px" style="vertical-align: bottom; padding: 0;" />
	</button>
	<button type="button" id="download" style="padding-botom: 0px; padding-top: 4px;">
		<img src="img/icons/delete.png" height="16px" style="vertical-align: bottom; padding: 0;" />
	</button>
</div>