<div class="table">
	<div class="cell">
		<button type="button" class="pick" style="width: 160px;">
			<input type="file" id="file" name="" class="hidden" accept="{{format}}" />
			<input type="text" id="model" ng-model="ngModel" class="hidden" />
			<label style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display:block;">
				Seleccione archivo...
			</label>
		</button>
	</div>

	<div class="cell">
		<button type="button" id="download" style="padding-bottom: 4px;" title="Descargar archivo">
			<img src="img/icons/download.png" height="16px" style="vertical-align: bottom; padding: 0;" />
		</button>
		<input type="hidden" name="" id="lastFilePath">
	</div>
	<div class="cell">
		<button type="button" id="delete" class="danger" style="padding-bottom: 4px;"  title="Eliminar archivo anterior">
			<img src="img/icons/delete_white.png" height="16px"/>
		</button>
	</div>
	<input type="hidden" name="" id="folfile">
</div>