div.sc_menu_wrapper {
	position: relative; 	
	/*height: 500px;*/
    height:100%;
	/* Make bigger than a photo, because we need a place for a scrollbar. */
	/*width: 160px;*/
	width: 80px;
	margin-top: 10px;
    margin-bottom: 10px; /*no existia*/
	overflow: auto;
}

div.sc_menu {
	padding: 0px;
	/*padding-bottom:10px; */
	padding-bottom:5px;
}

.sc_menu a {
	display: block;
	/*
	margin-bottom: 7px;
	margin-left:7px;
	margin-right:7px;
	*/
	margin-bottom: 2px;
	margin-left:2px;
	margin-right:2px;
	
	/*width: 130px; yo lo modifique esteban*/
	width:auto;
	/*border: 4px rgb(79, 79, 79) solid;*/
	border: 1px #fff solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;	
	/* When image support is turned off */
	/*background: rgb(79, 79, 79);*/
	background:#fff;
	padding:2px; /*--*/
	/*2010-12-10: Esteban # Estilo para el titulo menu bajo la imagen */
	color: #000;
	font-family:Arial, Helvetica, sans-serif;
	/*
	font-size: 11px;
	font-weight:bold;
	*/
	font-size: 10px;
	font-weight:normal;
	text-decoration:none; /*Agregada por mi*/
	text-align:center; /*---*/
}

.sc_menu a:hover {
	/*background:#F7F7F7;*/
	background:#e1effa;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #5F95CB;
	border-right-color: #5F95CB;
	border-bottom-color: #5F95CB;
	border-left-color: #5F95CB;
	-moz-box-shadow: 0px 0px 6px #888;
	-webkit-box-shadow: 0px 0px 6px #888;
	box-shadow: 0px 0px 6px #888;
}

.sc_menu img {
	display: block;
	border: none;
	/* 2010-12-10: Esteban  # Margenes automaticos para centrar la imagen*/
	margin-left:auto; /*--Margen automatico Izquierdo de la imagen--*/
	margin-right:auto;/*--Margen automatico Izquierdo de la imagen--*/
	
	width:28px;/* Esto no estaba */
	height:28px;/* Esto no estaba */
}
 
.sc_menu_wrapper .loading {
	position: absolute;
	top: 50px;
	left: 10px;
	margin: 0 auto;
	padding: 5px;
	/*width: 100px; */
	width: auto; /* 2010-12-10: Esteban # Sustituye al default de arriba*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;	
	text-align: center;
	color: #fff;
	border: 1px solid rgb(79, 79, 79);
	background: #1F1D1D;
}
/* Styling tooltip */
.sc_menu_tooltip {
	display: none;
	position: absolute;
	padding: 6px;
	font-size: 12px;	
	color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;	
	border: 1px solid rgb(79, 79, 79);
	background: rgb(0, 0, 0);
	/* Make background a bit transparent for browsers that support rgba */	
	background: rgba(0, 0, 0, 0.5);
}
 
/* Here are styles for a link to an article. Not for you :) */
#back {
	margin-left: 8px;
	color: gray;
	font-size: 18px;
	text-decoration: none;
}
#back:hover {
	text-decoration: none;
}