.gridExcel{ margin:0px auto 0px auto; padding:0px; text-align:center; }
.gridExcel thead tr th{ background:#baddbd url(img/hd-bg.jpg) 0 0 repeat-x; border-bottom:1px solid #a6c9e2; font-size:12px; font-weight:bold; color:#030; padding:4px; }
.gridExcel tbody tr:hover { background:#d3e6d3 url(img/bg_vertical.jpg) 0 0 repeat-x; }
.gridExcel tbody td { color:#3D3D3D; border-bottom:1px solid #e8e8e8; }
.gridExcel tbody tr td input[type=text]{ border:none; width:95%; font-family:Arial; font-size:12px; background-color:transparent; }
.gridExcel tbody tr td input[type=text]:focus{ outline: 2px solid #ffcc33; }
.gridExcel .btnLateral{ background-image:url('img/bg_lateral.jpg'); width:20px; height:21px; margin:0px; padding:0px; cursor:pointer; }
.gridExcel .btnEliminar{ background-image:url('img/DeleteIcon-2.gif'); background-position:center center; background-repeat:no-repeat; width:20px; height:21px; margin:0px; padding:7px; cursor:pointer; opacity:0.3;filter:alpha(opacity=30) }
.gridExcel .btnEliminar:hover{ opacity:1;filter:alpha(opacity=100); }
.gridExcelFindButton{
	background-image:url('img/find.gif');
	background-position:center center;
	background-repeat:no-repeat;
	width:20px;
	height:20px;
	margin:0px;
	padding:10px;
	cursor:pointer;
	opacity:0.3;filter:alpha(opacity=30);
}
.gridExcelFindButton:hover{ opacity:1;filter:alpha(opacity=100); }