<html ng-app="app">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<!--meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"-->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!--meta charset="iso-8859-1"-->
	<meta charset="UTF-8">

	<title>Administraci&oacute;n de Obra</title>

	<link rel="shortcut icon" href="img/logo.ico">

	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/classes.css">
	<link rel="stylesheet" type="text/css" href="css/grid.css">
	<link rel="stylesheet" type="text/css" href="css/menu.css">
	<link rel="stylesheet" type="text/css" href="css/media-query.css">
	<link rel="stylesheet" type="text/css" href="css/lib/pace.css">
	<link rel="stylesheet" type="text/css" href="css/lib/bootstrap-datepicker.css">
	<link rel="stylesheet" type="text/css" href="css/lib/chosen/chosen.min.css">
	<link rel="stylesheet" type="text/css" href="css/lib/chosen/docsupport/prism.css">
	
</head>
<body ng-controller="appController" ng-init="init()">

	<div id="Body">

		<div id="LeftPannel">

			<!-- <div id="Header" class="table100">
				<div id="MenuOptions" class="cell padding" style="width: 30px;" align="center" ng-include="menuOptions" scope="" onload=""></div>
				<div ng-include="header" scope="" onload="" class="table100"></div>
			</div> -->

			<div id="AppMenu">
				<div ng-include="menu" scope="" onload="" class="table100"></div>
			</div>

		</div>

		<div id="RightPannel">
			<div id="AppToolbar" class="table100">
				<div id="MenuOptions" class="cell padding" style="width: 30px;" align="center" ng-include="menuOptions" scope="" onload=""></div>
				<div id="Toolbar" class="table100"></div>
				<div id="errorMessage">
					<div class="cell"></div>
				</div>
			</div>

			<div id="AppMain">
				<div id="MainLoader" ng-include="main.url" scope="" onload="main.scan()"></div>
				<iframe id="MainIFrame" ng-src="{{mainIFrame.src}}" ng-load="afterLoad()" frameBorder="0"></iframe>
			</div>

			<div id="loadingFrame"></div>
			<div id="loadingMain" class="table">
				<div class="cell" align="center">
					<img src="img/loading.gif" width="100px">
					<br><br>
					<i><h2 style="color: #0060A9;">Cargando...</h2></i>
				</div>
			</div>
			
		</div>

		<div id="submittingFrame"></div>
		<div id="submittingMain" class="table">
			<div class="cell" align="center">
				<img src="img/loading.gif" width="100px">
				<br><br>
				<i><h2 style="color: #0060A9;">Guardando...</h2></i>
			</div>
		</div>

	</div>
	<div id="SubmitterCont">
		<iframe name="Submitter" id="Submitter" class="hidden" ng-load="afterSubmit()" src=""></iframe>
	</div>

	<div ng-include="modal.template" scope="" onload=""></div>
</body>
</html>

<!-- JS Libaries -->
<script type="text/javascript" language="javascript" src="js/lib/jquery.js"></script>
<script type="text/javascript" language="javascript" src="js/lib/angular.js"></script>
<script type="text/javascript" language="javascript" src="js/lib/pace.min.js"></script>
<script type="text/javascript" language="javascript" src="js/lib/bootstrap-datepicker.js"></script>
<script type="text/javascript" language="javascript" src="js/lib/bootstrap-datepicker.es.js"></script>
<script type="text/javascript" language="javascript" src="js/lib/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" language="javascript" src="js/lib/chosen/docsupport/prism.js"></script>


<!-- Own JS -->
<script type="text/javascript" language="javascript" src="js/f.js"></script>
<script type="text/javascript" language="javascript" src="js/message-template.js"></script>
<script type="text/javascript" language="javascript" src="js/message.js"></script>
<script type="text/javascript" language="javascript" src="js/main.js"></script>