/*  Document CSS */
/*
	Colores
	border : #e7eaec;
	color: #676a6c;
	background : #f3f3f4;

*/

.rrmDesglose { }
.rrmDesglose .container-fluid { height: 100%;}
.rrmDesglose .container-fluid .row { height: 100%;}
.rrmDesglose .container-fluid .row .columna { height: 100%; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;}

.rrmDesglose hr { margin: 10px 0;}
.rrmDesglose .contenedor { height: 100%; background-color: #FFF; padding: 10px; border: 1px solid #e7eaec; border-top-width: 5px;}
.rrmDesglose .contenedor input[type="text"] { width: 100%; border: 0; padding: 5px 0;}

.rrmDesglose .contenedor ul { height: 90%; overflow-y: scroll; padding-right: 1px;}
.rrmDesglose .contenedor ul {

    scrollbar-face-color: #000000;  
    scrollbar-shadow-color: #2D2C4D;  
    scrollbar-highlight-color:#7D7E94;  
    scrollbar-3dlight-color: #7D7E94;  
    scrollbar-darkshadow-color: #2D2C4D;  
    scrollbar-track-color: #7D7E94;  
    scrollbar-arrow-color: #C1C1D1;   
}
.rrmDesglose .contenedor .opcion { overflow: hidden; margin-bottom: 10px; border: 1px solid #e7eaec; border-left: 1px dashed #FFF; cursor: pointer; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;}
.rrmDesglose .contenedor .opcion:hover { border-color: #e74c3c; border-left-color: #FFF; }
.rrmDesglose .contenedor .opcion:hover .texto h2 { color: #e74c3c;}
.rrmDesglose .contenedor .opcion .icono { float: left; width: 20%; text-align: center;}
.rrmDesglose .contenedor .opcion .icono i { padding-top: 20px; color: #FFF; font-size: 18px;}
.rrmDesglose .contenedor .opcion .texto { float: right; width: 78%; background-color: #FFF; padding: 5px;}
.rrmDesglose .contenedor .opcion .texto h2 { font-size: 18px; height: 21px; text-overflow:ellipsis; white-space: nowrap; overflow: hidden; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;}
.rrmDesglose .contenedor .opcion .texto .datos { }
.rrmDesglose .contenedor .opcion .texto .datos .dato { width: 100%; overflow: hidden;}
.rrmDesglose .contenedor .opcion .texto .datos .dato .titulo { float:left; width: 40%; text-align: right; padding: 0 5px;}
.rrmDesglose .contenedor .opcion .texto .datos .dato .texto { float: right; width: 49%; text-align: right; white-space: nowrap; padding: 0 5px;}


.rrmDesglose .contenedor .opcion.semaforo1 { background-color: #5cb85c;}
.rrmDesglose .contenedor .opcion.semaforo2 { background-color: #f0ad4e;}
.rrmDesglose .contenedor .opcion.semaforo3 { background-color: #d9534f;}

/* Large desktops and laptops */
@media (min-width: 1600px) {
	/*body { border: 2px solid brown;}/**/
	.rrmDesglose { height: 100%; overflow-y: scroll;}
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1599px) {
	/*body { border: 2px solid yellow;}/**/
	.rrmDesglose { height: 100%; overflow-y: scroll;}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	/*body { border: 2px solid green;}/**/
	.rrmDesglose { height: 100%; overflow-y: scroll;}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 1010px) {
	/*body { border: 2px solid cyan;}/**/
	.rrmDesglose { height: 100%; overflow-y: scroll;}
	.rrmDesglose .contenedor .opcion .texto .datos .dato .titulo { width: 100%; text-align: left;}
	.rrmDesglose .contenedor .opcion .texto .datos .dato .texto { width: 100%;}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	/*body { border: 2px solid orange;}/**/
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	/*body { border: 2px solid red;}/**/
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #CCC;
  box-shadow: 0 0 0 #FFF;
  outline: 0 none;
}