
/*
 * Clases del Layout
 */
.ui-layout-center{ 
	border:none!important;
	margin:0px!important;
	padding:0px!important; 
	border-top:1px solid #c0c0c0!important;
}
.ui-layout-west{ border:none!important; }
.ui-layout-south{
	border:none!important;
	margin:0px!important;
	padding:0px!important;
	background-color:#333333!important;
	background-image:url(images/bg_south.png)!important;
	font-family:Arial!important;
	font-size:12px!important;
	color:#FFFFFF!important;
	overflow:hidden!important;
}
.ui-layout-north{ 
	border:none!important; 
	font-family:Arial!important;
	font-size:18px!important;
	color:#003300!important;
	margin:0px!important;
	padding:0px!important;
	overflow:hidden!important;
	background-image:url(images/bg_sub.png)!important;
	background-position:center center!important;
	background-color:#333333!important;
	/*border-bottom:1px solid #CCCCCC!important;*/
}

/*
 * Clases Menu
 */
.ui-layout-menu-image{
	cursor:pointer;
	position:absolute;
	top:2px;
	left:2px;
}
.ui-layout-menu-search-icon{
	cursor:pointer;
	position:absolute;
	top:37px;
	left:175px;
	width:23px;
	height:23px;
	background-image:url(images/buscar.png);
	background-repeat:no-repeat;
}
.ui-layout-menu, .ui-layout-menu-module, .ui-layout-menu-sub{
	display:none;
	position:absolute;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	color:#333333;
	min-width:200px;
	border:1px solid #CCCCCC;
	background-image:url(images/bg_sub.png);
	background-color:#e3e2e2;
	background-position:center center;
	padding:5px;
}
.ui-layout-menu{
	top:28px;
	left:0px;
	font-size:14px;
	background-image:url(images/bg_menu_principal.png)!important;
	background-position:right;
	background-repeat:repeat-y;
}
.ui-layout-menu-sub{
	display:none;
	font-size:12px;
	position:absolute;
	overflow:auto;
}
.ui-layout-selected, .ui-layout-unselected, .ui-layout-menu-item{
	text-align:left;
	padding-top:10px;
	padding-bottom:10px;
	cursor:pointer;
}
.ui-layout-unselected:hover{
	font-weight:bold;
}
.ui-layout-selected{
	font-weight:bold;
	color:#FFFFFF;
	background-image:url(images/bg_selected.png);
	background-repeat:no-repeat;
	background-position:top right;
}
.ui-layout-menu-item{
	background:none;
	outline:none;
	font-weight:normal;
}
.ui-layout-menu-item:hover{
	font-weight:bold;
	color:#FFFFFF;
	background-image:url(images/bg_selected.png);
	background-repeat:no-repeat;
	background-position:top right;
}
.ui-layout-focus{
	outline:1px solid #FFFF99;
}
.ui-layout-item-focus{
	font-weight:bold;
	color:#FFFFFF;
	background-image:url(images/bg_selected.png);
	background-repeat:no-repeat;
	background-position:top right;
}
.ui-layout-menu-content td{
	border-left:1px solid #CCCCCC;
	padding:5px;
}

/* Clases de la barra de Notificaciones */
.ui-layout-pin-on{
	background-image:url(images/down.png);
	width:15px;
	min-width:15px;
	maxwidth:15px;
	height:15px;
	min-height:15px;
	max-height:15px;
	cursor:pointer;
}
.ui-layout-pin-off{
	background-image:url(images/up.png);
	width:15px;
	min-width:15px;
	maxwidth:15px;
	height:15px;
	min-height:15px;
	max-height:15px;
	cursor:pointer;
}
.ui-layout-logo-td{
	max-width:150px;
	width:150px;
	text-align:center;
}
.ui-layout-logo{
	max-height:68px;
}
.ui-layout-separator{
	background-image:url(images/seprador.png);
	background-repeat:repeat-y;
	max-width:5px;
	width:5px;
}
.ui-layout-info-td{
	vertical-align:top;
	max-width:250px;
	width:250px;
	text-align:left;
	padding-left:5px;
	padding-top:5px;
}
.ui-layout-alert-td{
	vertical-align:top;
	text-align:left;
	padding-left:5px;
	padding-top:5px;
}
.ui-layout-alert-icon{
	background-image:url(images/notificacion.png);
	width:8px;
	max-width:10px;
	background-repeat:no-repeat;
}
.ui-layout-icons-td{
	vertical-align:top;
	max-width:130px;
	width:130px;
	text-align:right;
}
.ui-layout-icon-close{
	background-image:url(images/salir.png);
	background-repeat:no-repeat;
	background-position:center center;
	width:55px;
	height:55px;
	cursor:pointer;
	position:relative;
	float:right;
	margin:4px;
}
.ui-layout-icon-config{
	background-image:url(images/config.png);
	background-repeat:no-repeat;
	background-position:center center;
	width:55px;
	height:55px;
	cursor:pointer;
	position:relative;
	float:right;
	margin:4px;
}