.x-box-tl{background:transparent url('img/corners.gif') no-repeat 0 0;zoom:1}.x-box-tc{height:8px;background:transparent url('img/tb.gif') repeat-x 0 0;overflow:hidden}.x-box-tr{background:transparent url('img/corners.gif') no-repeat right -8px}.x-box-ml{background:transparent url('img/l.gif') repeat-y 0;padding-left:4px;overflow:hidden;zoom:1}.x-box-mc{background:#eee url('img/tb.gif') repeat-x 0 -16px;padding:4px 10px;color:#393939;font-size:12px}.x-box-mc h3{font-size:14px;font-weight:bold;margin:0 0 4px 0;zoom:1}.x-box-mr{background:transparent url('img/r.gif') repeat-y right;padding-right:4px;overflow:hidden}.x-box-bl{background:transparent url('img/corners.gif') no-repeat 0 -16px;zoom:1}.x-box-bc{background:transparent url('img/tb.gif') repeat-x 0 -8px;height:8px;overflow:hidden}.x-box-br{background:transparent url('img/corners.gif') no-repeat right -24px}.x-box-tl,.x-box-bl{padding-left:8px;overflow:hidden}.x-box-tr,.x-box-br{padding-right:8px;overflow:hidden}.x-box-div{text-align:right;vertical-align:bottom;padding:5px}.x-box-hdn{overflow:hidden;display:none;bottom:0;height:0;text-align:left;padding:5px;font-size:12px}.x-box-down{padding-left:6px;padding-right:6px;padding-bottom:2px;background-image:url('img/down.gif');background-repeat:no-repeat;background-position:center center;cursor:pointer}.x-box-up{padding-left:6px;padding-right:6px;padding-bottom:2px;background-image:url('img/up.gif');background-repeat:no-repeat;background-position:center center;cursor:pointer}
.pnlbutton{
	background-color:transparent;
	border:none;
	cursor:pointer;
}