/* CSS Document */
div.calendar {
	position:relative;
}

.calendar,.calendar table {
	border:1px solid #565;
	font-size:11px;
	color:#666;
	cursor:default;
	background:#f6f6f6;
	font-family:tahoma,verdana,sans-serif;
}

.calendar .button {
	text-align:center;
	background:#6e6e6e;
	color:#fff;
	font-size:90%;
	padding:2px;
}

.calendar .nav {
	background:#6e6e6e url(menuarrow.gif) no-repeat 100% 100%;
}

.calendar thead .title {
	font-weight:700;
	text-align:center;
	background:#2a2a2a;
	color:#cccccc; /* efa */
	padding:2px;
}

.calendar thead .name {
	border-bottom:1px solid #565;
	text-align:center;
	color:#666;
	padding:2px;
}

.calendar thead .hilite {
	background-color:#d4d4d4;
	color:#666;
	border:1px solid #084;
	padding:1px;
}

.calendar thead .active {
	background-color:#f6f6f6; /*7c7*/
	padding:2px 0 0 2px;
}

.calendar thead .daynames {
	background:#dddddd;
}

.calendar tbody .day {
	width:2em;
	color:#564;
	text-align:right;
	padding:2px 4px 2px 2px;
}

.calendar tbody .day.othermonth {
	font-size:80%;
	color:#bbb;
}

.calendar tbody .day.othermonth.oweekend {
	color:#fbb;
}

.calendar table .wn {
	border-right:1px solid #8a8;
	background:#dddddd;
	padding:2px 3px 2px 2px;
}

.calendar tbody .rowhilite td {
	background:#eeeeee;
}

.calendar tbody .rowhilite td.wn {
	background:#f6f6f6;
}

.calendar tbody td.hilite {
	background:#efd;
	border:1px solid #bbb;
	padding:1px 3px 1px 1px;
}

.calendar tbody td.active {
	background:#dec;
	padding:2px 2px 0;
}

.calendar tbody td.selected {
	font-weight:700;
	border:1px solid #666;
	background:#f8fff8;
	color:#666;
	padding:1px 3px 1px 1px;
}

.calendar tbody td.today {
	font-weight:700;
	color:#727272; /*0a0*/
}

.calendar tbody .disabled {
	color:#999;
}

.calendar tbody .emptycell {
	visibility:hidden;
}

.calendar tbody .emptyrow {
	display:none;
}

.calendar tfoot .footrow {
	text-align:center;
	background:#565;
	color:#fff;
}

.calendar tfoot .ttip {
	background:#2a2a2a;
	color:#a7a7a7; /*efa*/
	padding:2px;
}

.calendar tfoot .hilite {
	background:#d4d4d4;
	border:1px solid #084;
	color:#666;
	padding:1px;
}

.calendar tfoot .active {
	background:#7c7;
	padding:2px 0 0 2px;
}

.calendar .combo {
	position:absolute;
	display:none;
	top:0;
	left:0;
	width:4em;
	cursor:default;
	border:1px solid #565;
	background:#efd;
	color:#666;
	font-size:90%;
	z-index:100;
}

.calendar .combo .label,.calendar .combo .label-IEfix {
	text-align:center;
	padding:1px;
}

.calendar .combo .label-IEfix {
width:4em;
}

.calendar .combo .hilite {
background:#af8;
}

.calendar .combo .active {
	border-top:1px solid #6a4;
	border-bottom:1px solid #6a4;
	background:#f6f6f6;
	font-weight:700;
}

.calendar td.time {
	border-top:1px solid #8a8;
	text-align:center;
	background-color:#dddddd;
	padding:1px 0;
}

.calendar td.time .hour,.calendar td.time .minute,.calendar td.time .ampm {
	border:1px solid #898;
	font-weight:700;
	background-color:#fff;
	padding:0 3px 0 4px;
}

.calendar td.time .ampm {
	text-align:center;
}

.calendar td.time .colon {
	font-weight:700;
	padding:0 2px 0 3px;
}

.calendar td.time span.hilite {
	background-color:#686;
	color:#fff;
	border-color:#666;
}

.calendar td.time span.active {
	background-color:#666;
	color:#0f0;
	border-color:red;
}

.calendarbutton {
	background-image:url(img/calendar3.png);
	background-repeat:no-repeat;
	vertical-align:text-bottom;
	width:16px;
	height:16px;
	border:none;
}

.calendar thead .weekend,.calendar tbody td.weekend {
	color:#a66;
}