body{
	background-color: #FEFEFE;
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
	font-size: 12px;
}

/* BODY CHROME */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #FFFFFF;
	
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
    background-color: #c5dbec;
	
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: #aaa;
}

/* IFRAME CHROME */
iframe::-webkit-scrollbar {
    width: 10px;
}

iframe::-webkit-scrollbar-track {
    background-color: #FFFFFF;
	
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

iframe::-webkit-scrollbar-thumb {
    background-color: #c5dbec;
	
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

iframe::-webkit-scrollbar-thumb:hover {
	background-color: #aaa;
}

/* DIV CHROME */
div::-webkit-scrollbar {
    width: 10px;
	height: 10px;
}

div::-webkit-scrollbar-track {
    background-color: #FFFFFF;
	
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

div::-webkit-scrollbar-thumb {
    background-color: #c5dbec;
	
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

div::-webkit-scrollbar-thumb:hover {
	background-color: #aaa;
}

.img_principal{
	text-align: center;
	position: relative;
}

input, select{
	appearance: none;
	
	border: 1px solid #d0d0d0;
	height: 20px;
	
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

input:hover, textarea:hover, select:hover{
	-webkit-box-shadow: -1px 1px 0px #5c9ccc;
    -moz-box-shadow: -1px 1px 0px #5c9ccc;
    -o-box-shadow: -1px 1px 0px #5c9ccc;
    box-shadow: -1px 1px 0px #5c9ccc;
}

textarea{
	border: 1px solid #d0d0d0;
	
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

#menu{
	top: 0px;
	left: 0px;
	right: 0px;
	position: fixed;
	/*height: 78px;*/
	padding: 5px;
	z-index: 900;
	
	-moz-box-shadow: 0 6px 6px -6px #000000;
  	-webkit-box-shadow: 0 6px 6px -6px #000000;
	-o-box-shadow: 0 6px 6px -6px #000000;
  	box-shadow: 0 6px 6px -6px #000000;
	
	backgroun: #2980b9;
	background: -webkit-linear-gradient(top,#90bae4,#2C59A8);
	background:    -moz-linear-gradient(top,#90bae4,#2C59A8);
	background: 	  -ms-linear-gradient(top,#90bae4,#2C59A8);
	background: 	   -0-linear-gradient(top,#90bae4,#2C59A8);
	background: 	      linear-gradient(top,#90bae4,#2C59A8);
	
	/*azul*/
	/*background: #b8e1fc;  Old browsers */
	/* background: -moz-linear-gradient(top, #b8e1fc 0%, #a9d2f3 10%, #90bae4 25%, #90bcea 37%, #90bff0 50%, #6ba8e5 51%, #a2daf5 83%, #bdf3fd 100%); FF3.6+ */
	/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8e1fc), color-stop(10%,#a9d2f3), color-stop(25%,#90bae4), color-stop(37%,#90bcea), color-stop(50%,#90bff0), color-stop(51%,#6ba8e5), color-stop(83%,#a2daf5), color-stop(100%,#bdf3fd)); Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%);  Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%);  Opera 11.10+ */
	/*background: -ms-linear-gradient(top, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%);  IE10+ */
	/*background: linear-gradient(to bottom, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%); W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e1fc', endColorstr='#bdf3fd',GradientType=0 );  IE6-9 */
}

.loggin{
	padding: 10px;
	width: 0px;
	height: 0px;
	margin-top: 80px;
	
	-webkit-box-shadow: 0px 2px 12px 1px #634B4B;
	   -moz-box-shadow: 0px 2px 12px 1px #634B4B;
		 -o-box-shadow: 0px 2px 12px 1px #634B4B;
  			box-shadow: 0px 2px 12px 1px #634B4B;
	
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
	
	backgroun: #2980b9;
	background: -webkit-linear-gradient(top,#ADC5D4,#2C59A8);
	background:    -moz-linear-gradient(top,#ADC5D4,#2C59A8);
	background: 	  -ms-linear-gradient(top,#ADC5D4,#2C59A8);
	background: 	   -0-linear-gradient(top,#ADC5D4,#2C59A8); 
	background: 	      linear-gradient(top,#ADC5D4,#2C59A8);
	
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#4297D7));Para chrome y Safari*/
    /*background-image: -moz-linear-gradient(top center, #FFF, #4297D7);Para Firefox*/
    /*background-image: -o-linear-gradient(top, #FFF, #4297D7);Para Opera*/
   /* background-image: linear-gradient(top, #FFF, #4297D7);El estandar por defecto
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#eaf4fd', EndColorStr='#4297D7');*/
}

/*.input_text{
	border: 1px solid #d0d0d0;
	height: 20px;
	
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}*/

/*.input_text:hover{
	-webkit-box-shadow: -1px 1px 0px #A6C9E2;
    -moz-box-shadow: -1px 1px 0px #A6C9E2;
    -o-box-shadow: -1px 1px 0px #A6C9E2;
    box-shadow: -1px 1px 0px #A6C9E2;
}*/

/*.input_textarea{
	border: 1px solid #d0d0d0;
	
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}*/

fieldset{
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
	
	border-color: #7cb8e8;
}

legend{
	text-align: left;
}

.txt_datepicker{
	width: 80px;
	text-align: center;
}

#div_contenido{
	margin-top: 120px;
}

.salir{
	cursor: pointer;
	position: absolute;
	top: 25px;
	right: 20px;
}

.menu_modulo{
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: table-row;
}

.menu_modulo li.menu_modulo_li{
	float: left;
	position: relative;
	
	margin-right: 10px;
	padding: 3px;
	font-weight: bold;
	font-size: 16px;
	text-shadow: 0px 1px 0px #000000;
	/* background-color: #4297d7; */
	color: #FFFFFF;
	cursor: pointer;
	
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
	-khtml-border-radius: 5px;
    
	border-radius: 6px; 
	/* border-bottom: 1px solid #FFFFFF; */
	
	/* -webkit-box-shadow: -4px 4px 4px #1F1F1F; */
    -moz-box-shadow: -4px 4px 4px #1F1F1F;
    -o-box-shadow: -4px 4px 4px #1F1F1F;
    
	/* box-shadow: -4px 4px 4px #1F1F1F; */
	
	 -webkit-transition: 0.3s linear all;
    -moz-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    transition: 0.3s linear all;
}

.menu_modulo li.menu_modulo_li:hover{
	top: 2px;
	
	-webkit-box-shadow: 0px 2px 2px #1F1F1F;
       -moz-box-shadow: 0px 2px 2px #1F1F1F;
         -o-box-shadow: 0px 2px 2px #1F1F1F;
            box-shadow: 0px 2px 2px #1F1F1F;
}

.menu_modulo li.menu_modulo_li:active{
	top: 4px;
	
	-webkit-box-shadow: -1px 1px 1px #1F1F1F;
    -moz-box-shadow: -1px 1px 1px #1F1F1F;
    -o-box-shadow: -1px 1px 1px #1F1F1F;
    box-shadow: -1px 1px 1px #1F1F1F;
}

.menu_modulo_li_selected{
    top: 4px;
	
	-webkit-box-shadow: -2px 2px 2px #1F1F1F;
    -moz-box-shadow: -2px 2px 2px #1F1F1F;
    -o-box-shadow: -2px 2px 2px #1F1F1F;
    box-shadow: -2px 2px 2px #1F1F1F;
	color: #006699;
}

.menu_categoria{	
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: table-row;
}

.menu_categoria li.menu_categoria_li{
	float: left;
	position: relative;
	cursor: pointer;
	color: #fff;
	text-shadow: 0px 1px 0px #000;
	margin-left: 16px;
	margin-top: 13px;
	padding: 4px;
	font-weight: bold;
	font-size: 14px;
	/* display: none; */
	
	-webkit-border-radius: 12px;
       -moz-border-radius: 12px;
         -o-border-radius: 12px;
	        border-radius: 12px; 
	
	/* -webkit-box-shadow: 2px 0px 0px #FFFFFF; */
    -moz-box-shadow: 2px 0px 0px #FFFFFF;
    -o-box-shadow: 2px 0px 0px #FFFFFF;
    
	/* box-shadow: 2px 0px 0px #FFFFFF; */
	
	/*Transiciones*/
    -webkit-transition: 0.3s linear all;
    -moz-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    transition: 0.3s linear all;
}

.menu_categoria li.menu_categoria_li:hover{
	/*border: 1px solid #A6C9E2;
	background-color: #5c9ccc;
	text-shadow: none;
	color: #FFFFFF;
	
	border-bottom: 1px solid #FFFFFF;
	*/
	top: 1px;
	
	-webkit-border-radius: 3px;
       -moz-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
	
    -webkit-box-shadow: 0px 1px 5px 0px #000;
       -moz-box-shadow: 0px 1px 5px 0px #000;
         -o-box-shadow: 0px 1px 5px 0px #000;
            box-shadow: 0px 1px 5px 0px #000;
	
	
}

.menu_categoria li.menu_categoria_li:active{
	-webkit-box-shadow: inset 0px 1px 5px 0px #000;
       -moz-box-shadow: inset 0px 1px 5px 0px #000;
         -o-box-shadow: inset 0px 1px 5px 0px #000;
            box-shadow: inset 0px 1px 5px 0px #000;
	top: 1px;
}

.menu_nom_usuario{
	text-shadow: 0px 1px 0px #000;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
}

button{
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
	
	position: relative;
	border: 1px solid #E3E3E3;
	cursor: pointer;
	text-shadow: 0px 1px 0px #FFF;
	color: #222222;
	
	-webkit-box-shadow: 0px 2px 0px #999999;
    -moz-box-shadow: 0px 2px 0px #999999;
    -o-box-shadow: 0px 2px 0px #999999;
    box-shadow: 0px 2px 0px #999999;
	
	background: url("images/ui-bg_glass_85_dfeffc_1x400.png") repeat-x scroll 50% 50% #DFEFFC;
}

button:hover{
	top: 2px;
}

button:active{
	top: 4px;
	
	-webkit-box-shadow: 0px 1px 0px #999999;
    -moz-box-shadow: 0px 1px 0px #999999;
    -o-box-shadow: 0px 1px 0px #999999;
    box-shadow: 0px 1px 0px #999999;
}

.espera{
	width: 180px;
	overflow: hidden;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -15px;
	margin-left: -90px;
	background-color: #FEFEFE;
	border-bottom: 1px solid #4297D7;
	border-top: 1px solid #4297D7;
	z-index: 3001;
	
	-moz-box-shadow: 0px 0px 2px 2px #CCCCCC;
	-webkit-box-shadow: 0px 0px 2px 2px #CCCCCC;
	-o-box-shadow: 0px 0px 2px 2px #CCCCCC;
	box-shadow: 0px 0px 2px 2px #CCCCCC;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	
	/*filter: alpha(opacity = 80);
	-khtml-opacity: 0.8;
	-moz-opacity: 0.8;
	opacity: 0.8;*/
}

.espera div{
	background-color: #FEFEFE;
	margin: 6px 0px 6px 0px;
}

.blocker{
	cursor: wait;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #000000;
	width: 100%;
	height: 100%;
	z-index: 3000;
	
	filter: alpha(opacity = 50);
	-khtml-opacity: 0.5;
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.notificacion{
	position: fixed;
	max-width: 300px;
	top: 50%;
	left: 50%;
	margin-left: -175px;
	background-color: #4297D7;
	border: 1px solid #4297D7;
	z-index: 4000;
	display: none;
	color: #000000;
	font-size: 17px;
	
	filter: alpha(opacity = 90);
	-khtml-opacity: 0.9;
	-moz-opacity: 0.9;
	opacity: 0.9;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

.notificacion div{
	padding: 4px;
	background-color: #FEFEFE;
	margin: 10px 0px 10px 0px;
}

.submenu{
	display: none;
	position: fixed;
	background-color: #4297D7;
	border: 1px solid #4297D7;
	z-index: 901;
	overflow: auto;
	
	-webkit-box-shadow: 0px 6px 6px -6px black;/*Chrome y Safari*/
    -moz-box-shadow: 0px 6px 6px -6px black;/*Firefox*/
    -o-box-shadow: 0px 6px 6px -6px black;/*Opera*/
    box-shadow: 0px 6px 6px -6px black;/*Estandar por defecto*/
}

.submenu div{
	background-color: #FEFEFE;
	margin: 10px 0px 10px 0px;
	/*background-image: -moz-linear-gradient(top center, #FFF, #c5dbec);*/
}

.submenu ul{
	list-style-type: decimal;
}

.submenu ul li{
	border-bottom: 1px solid #CCCCCC;
	font-size: 14px;
	padding: 1px;

	color: #000000;
	min-width: 200px;
	max-width: 400px;
	
	/*-webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
	-moz-transition: font-size 0.3s ease, background-color 0.3s ease;
	-o-transition: font-size 0.3s ease, background-color 0.3s ease;
	-ms-transition: font-size 0.3s ease, background-color 0.3s ease;
	transition: font-size 0.3s ease, background-color 0.3s ease;*/
	
	-webkit-transition: 0.3s linear all;
    -moz-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    transition: 0.3s linear all;
}

.submenu ul li:last-child{
  border: none;
}

.submenu ul li:hover{
	background-color: #c5dbec;
	font-size: 19px;
	cursor: pointer;
	color: #000000;
	
	-moz-transform:rotate(-2deg); 
	-webkit-transform:rotate(-2deg);
	-o-transform:rotate(-2deg);
	-ms-transform:rotate(-2deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	
	-webkit-box-shadow: 0px 6px 6px -4px black;/*Chrome y Safari*/
    -moz-box-shadow: 0px 6px 6px -4px black;/*Firefox*/
    -o-box-shadow: 0px 6px 6px -4px black;/*Opera*/
    box-shadow: 0px 6px 6px -4px black;/*Estandar por defecto*/
}

.catalogos_cabecero{
	padding: 6px; 
	text-align: center; 
	font-weight: bold;
}

.catalogos_cabecero_contenido{
	padding: 5px; 
	border-bottom: 1px solid #999999;
	
	-moz-box-shadow: 0 2px 4px -2px #999999;
  	-webkit-box-shadow: 0 2px 4px -2px #999999;
	-o-box-shadow: 0 2px 4px -2px #999999;
  	box-shadow: 0 2px 4px -2px #999999;
}

.titulo_opcion{
	padding: 6px; 
	text-align: center;
	text-shadow: 0px 1px 0px #FFFFFF;
	
	-webkit-box-shadow: 0px 6px 6px #999999;
    -moz-box-shadow: 0px 6px 6px #999999;
    -o-box-shadow: 0px 6px 6px #999999;
    box-shadow: 0px 6px 6px #999999;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

.catalogos_guardar_editar{
	display: none; 
	/*width: 900px;*/
}

.catalogos_guardar_editar_cabecero{
	padding: 2px; 
	text-align: right; 
	margin-left: 5%; 
	margin-right: 5%; 
	margin-top: 5px; 
	font-size: 12px;
	color: #A6C9E2;
}

.catalogos_guardar_editar_cabecero_contenido{
	padding: 5px;
	margin-left: 5%; 
	margin-right: 5%; 
	border-bottom: 1px solid #999999;
	
	-moz-box-shadow: 0 2px 4px -2px #999999;
  	-webkit-box-shadow: 0 2px 4px -2px #999999;
	-o-box-shadow: 0 2px 4px -2px #999999;
  	box-shadow: 0 2px 4px -2px #999999;
}

.catalogos_busqueda{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}

.gfieldset{
	
}

.gfieldset_borde_izq{
	background-color: #5C9CCC;
	
	border-radius: 8px 0px 0px 8px;
	-webkit-border-radius: 8px 0px 0px 8px;
	-moz-border-radius: 8px 0px 0px 8px;
	-o-border-radius: 8px 0px 0px 8px;
	-khtml-border-radius: 8px 0px 0px 8px;
}

.gfieldset_borde_der{
	background-color: #5C9CCC;
	
	border-radius: 0px 8px 8px 0px;
	-webkit-border-radius: 0px 8px 8px 0px;
	-moz-border-radius: 0px 8px 8px 0px;
	-o-border-radius: 0px 8px 8px 0px;
	-khtml-border-radius: 0px 8px 8px 0px;
}

.dias_mes{
	float: left;
	border: 1px solid #FFFFFF;
	height: 10px;
	font-size: 8px;
	color: #000000;
	vertical-align: baseline;
	height: 70%;
}

.cronograma{
	border-collapse: collapse;
	border: 1px solid #c5dbec;
	table-layout: fixed;
}

.cronograma th{
	border: 1px solid #c5dbec;
	/*padding: 4px;*/
	/*white-space: nowrap;*/
	overflow: hidden;
	height: 34px;
}

.cronograma td{
	border: 1px solid #c5dbec;
	white-space: nowrap;
	overflow: hidden;
}

.cronograma .cronograma_partidas{
	background-color: #FFFFFF;
	color: #006699;
	font-size: 14px;
}

.cronograma .cronograma_partidas td{
	/*padding: 4px;*/
	cursor: pointer;
	height: 24px;
	overflow: hidden;
}

.cronograma_partidas div.nb_PartidaCro{
	margin-left: 16px;
}

.cronograma .cronograma_etapas{
	background-color: #FFFFFF;
	color: #000000;
	font-size: 15px;
}

.cronograma .cronograma_etapas td{
	/*padding: 4px;*/
	cursor: pointer;
	height: 24px;
}

.cronograma_etapas div.nb_EtapaCro span.span_nb_Etapa{
	margin-left: 3px;
}

.cronograma_etapas div.nb_EtapaCro{
	margin-left: 1px;
}

.cronograma .cronograma_subpartidas{
	background-color: #FFFFFF;
	color: #A66BBE;
	font-size: 13px;
}

.cronograma .cronograma_subpartidas td{
	/*padding: 4px;*/
	cursor: pointer;
	height: 24px;
	overflow: hidden;
}

.cronograma_subpartidas div.nb_SubPartidaCro{
	margin-left: 32px;
}

.cronograma .cronograma_actividades td{
	/*padding: 1px;*/
	height: 18px;
	font-size: 11px;
	overflow: hidden;
}

.cronograma_req td{
	color: #000000;
	cursor: pointer;
	height: 28px;
}

.cronograma_actividades td:first-child div{
	margin-left: 52px;
}

cronograma-mm{
	font-size: 16px;
	font-weight: bold;
}

.et_disponibles{
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #c5dbec;
	table-layout: fixed;
}

.et_disponibles th{
	border: 1px solid #c5dbec;
	padding: 4px;
	overflow: hidden;
}

.et_disponibles td{
	border: 1px solid #c5dbec;
	padding: 2px;
	overflow: hidden;
}

.div_cronograma{
	width: 48%;
	overflow: auto;
	float: left;
}

.div_gantt{
	width: 48%;
	overflow: auto;
	float: left;
}

.gantt{
	border-collapse: collapse;
	table-layout: fixed;
}

.gantt th{
	text-align: center; 
	border: 1px solid #c5dbec; 
	overflow: hidden;
	height: 34px;
}

.gantt td{
	border: 1px solid #c5dbec; 
	/*overflow: hidden;*/
}

.gantt .gantt_ciclos{
	border: 1px solid #c5dbec; 
}

.gantt .gantt_partidas{
	border: 1px solid #FFFFFF; 
	background-color: #FFFFFF;
	color: #FFFFFF;
}

.gantt .gantt_etapas{
	border: 1px solid #FFFFFF; 
	background-color: #FFFFFF;
	color: #FFFFFF;
}

.gantt .gantt_subpartidas{
	border: 1px solid #FFFFFF; 
	background-color: #FFFFFF;
	color: #FFFFFF;
}

.barra_gantt_ciclos{
	background-color: black; 
	height: 8px; 
	margin-top: 10px; 
	margin-bottom: 10px;
	
	-webkit-box-shadow: 0px 2px 4px black;
	-moz-box-shadow: 0px 2px 4px black;
	-o-box-shadow: 0px 2px 4px black;
	box-shadow: 0px 2px 4px black;
}

.barra_gantt_sin_color_ciclos{
	height: 8px; 
	margin-top: 10px; 
	margin-bottom: 10px;
}

.barra_gantt_partidas{
	background-color: #006699; 
	height: 6px; 
	margin-top: 9px; 
	margin-bottom: 9px;
	
	-webkit-box-shadow: 0px 2px 4px #CCCCCC;
	-moz-box-shadow: 0px 2px 4px #CCCCCC;
	-o-box-shadow: 0px 2px 4px #CCCCCC;
	box-shadow: 0px 2px 4px #CCCCCC;
}

.barra_gantt_subpartidas{
	background-color: #A66BBE; 
	height: 6px; 
	margin-top: 9px; 
	margin-bottom: 9px;
	
	-webkit-box-shadow: 0px 2px 4px #CCCCCC;
	-moz-box-shadow: 0px 2px 4px #CCCCCC;
	-o-box-shadow: 0px 2px 4px #CCCCCC;
	box-shadow: 0px 2px 4px #CCCCCC;
}

.barra_gantt_sin_color_fases{
	height: 6px; 
	margin-top: 9px; 
	margin-bottom: 9px;
}

.barra_gantt_actividades{
	background-color: #000000; 
	height: 4px; 
	margin-top: 7px; 
	margin-bottom: 7px;
	
	-webkit-box-shadow: 0px 2px 4px #CCCCCC;
	-moz-box-shadow: 0px 2px 4px #CCCCCC;
	-o-box-shadow: 0px 2px 4px #CCCCCC;
	box-shadow: 0px 2px 4px #CCCCCC;
}

.barra_gantt_sin_color_actividades{
	height: 4px; 
	margin-top: 7px; 
	margin-bottom: 7px;
}

.div_medio_cg{
	border: 1px solid #c5dbec; 
	background-color: #c5dbec; 
	float: left;
	cursor: e-resize; 
	
	filter: alpha(opacity = 0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
}

#div_pre_suc{
	display: none; 
	position: fixed; 
	height: 100px; 
	width: 100%; 
	background-color: rgba(219,219,219,1); 
	border: 1px solid #FFFFFF;
	padding: 4px;
	
	left: 0px;
	right: 0px;
	bottom: 0px;
	
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-khtml-border-radius: 8px;
}

#div_acciones_cronograma{
	text-align: left;
	
	display: none;
	position: fixed;
	background-color: #DDDDDD;
	border: 1px solid #c5dbec;
	left: 50%;
	top: 200px;
	padding-bottom: 3px;
	border-bottom: 2px solid #c5dbec;
	
	-webkit-box-shadow: 0px 6px 6px -6px black;
    -moz-box-shadow: 0px 6px 6px -6px black;
    -o-box-shadow: 0px 6px 6px -6px black;
    box-shadow: 0px 6px 6px -6px black;
	
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

#div_acciones_cronograma_contenido{
	padding: 4px;
	background-color: #FEFEFE;
	margin: 5px 4px 5px 4px;
	overflow: auto;

	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

#div_acciones_cronograma li:hover{
	border-bottom: 1px dashed #c5dbec;
	
	color: #000000;
	font-weight: bold;
	padding: 3px;
	cursor: pointer;
	
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.chk_asignacion_masiva{
	width: 75px;
	height: 8px;
	display: block;
	border: 1px solid #d0d0d0;
	cursor: pointer;
	
	-webkit-box-shadow: 0px -1px 0px #c5dbec;/*Chrome y Safari*/
    -moz-box-shadow: 0px -1px 0px #c5dbec;/*Firefox*/
    -o-box-shadow: 0px -1px 0px #c5dbec;/*Opera*/
    box-shadow: 0px -1px 0px #c5dbec;/*Estandar por defecto*/
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#c5dbec));/*Para chrome y Safari*/
    background-image: -moz-linear-gradient(top center, #FFF, #c5dbec);/*Para Firefox*/
    background-image: -o-linear-gradient(top, #FFF, #c5dbec);/*Para Opera*/
    background-image: linear-gradient(top, #FFF, #c5dbec);/*El estandar por defecto*/
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#eaf4fd', EndColorStr='#bbcff0');
}

.chk_asignacion_masiva_seleccionado{
	-webkit-box-shadow: 0px -1px 0px #c5dbec;/*Chrome y Safari*/
    -moz-box-shadow: 0px -1px 0px #c5dbec;/*Firefox*/
    -o-box-shadow: 0px -1px 0px #c5dbec;/*Opera*/
    box-shadow: 0px -1px 0px #c5dbec;/*Estandar por defecto*/
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#37E12F));/*Para chrome y Safari*/
    background-image: -moz-linear-gradient(top center, #FFF, #37E12F);/*Para Firefox*/
    background-image: -o-linear-gradient(top, #FFF, #37E12F);/*Para Opera*/
    background-image: linear-gradient(top, #FFF, #37E12F);/*El estandar por defecto*/
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#37E12F', EndColorStr='#c5dbec');
}

#table_tiempos_actividades_masiva{
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #c5dbec;
	table-layout: fixed;
}

#table_tiempos_actividades_masiva th{
	padding: 4px;
}

#table_tiempos_actividades_masiva th, #table_tiempos_actividades_masiva td{
	border: 1px solid #c5dbec;
	overflow: hidden;
	white-space: nowrap;
}

.acciones_cronograma{
	text-align: left;
	border-radius: 8px;
	
	display: none;
	position: fixed;
	background-color: #DDDDDD;
	border: 1px solid #aed0ea;
	left: 50%;
	top: 200px;
	padding-bottom: 3px;
	border-bottom: 2px solid #aed0ea;
	
	-webkit-box-shadow: 0px 6px 6px -6px black;
    -moz-box-shadow: 0px 6px 6px -6px black;
    -o-box-shadow: 0px 6px 6px -6px black;
    box-shadow: 0px 6px 6px -6px black;
	
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.acciones_cronograma_contenido{
	padding: 4px 18px 4px 4px;
	background-color: #FEFEFE;
	margin: 5px 4px 5px 4px;
	overflow: auto;
	min-width:125px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.acciones_cronograma li{
	
	padding-bottom: 2px;
}

.acciones_cronograma li:hover{
	border-bottom: 1px dashed #aed0ea;
	
	color: #000000;
	font-weight: bold;
	padding: 3px;
	cursor: pointer;
	
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.configuraciones_cronograma{
	height: 300px;
	width: 100%;
	position: fixed;
	background-color: #F4F4F4;
	border: 2px dashed #c5dbec;
	z-index: 1000;
	display: none;
	
	bottom: 0px;
	left: 0px;
}

#div_color_actual{
	height: 20px;
	width: 20px;
	float: left;
	margin-left: 4px;
	cursor: pointer;
}

#div_ul_colores_actividades{
	margin-top: 4px;
	display: none;
}

#div_ul_colores_actividades ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#div_ul_colores_actividades li{
	float: left;
	margin-left: 4px;
}

#div_ul_colores_actividades li div{
}

#div_ul_colores_actividades li div:hover{
	cursor: pointer;
	
	filter: alpha(opacity = 80);
	-khtml-opacity: 0.8;
	-moz-opacity: 0.8;
	opacity: 0.8;
}

#div_configuraciones_cronograma_fondo{
	position: fixed;
	top: 0px; 
	bottom: 0px; 
	left: 0px; 
	right: 0px;
	background-color: #000000; 
    width: 100%; 
	height: 100%; 
	z-index: 999; 
	
	filter: alpha(opacity = 20); 
	-khtml-opacity: 0.2;
    -moz-opacity: 0.2; 
	opacity: 0.2; 
	display: none;
}