.gdialogo{
	display: none;
}

.gdialog{
	display: none;
	position: fixed;
	/*left: 50%;*/
	z-index: 1000;
	padding-bottom: 3px;
	border-bottom: 2px solid #17307F;
	
	-webkit-box-shadow: 0px 6px 6px -6px black;/*Chrome y Safari*/
    -moz-box-shadow: 0px 6px 6px -6px black;/*Firefox*/
    -o-box-shadow: 0px 6px 6px -6px black;/*Opera*/
    box-shadow: 0px 6px 6px -6px black;/*Estandar por defecto*/
	
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
	
	background: url("images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") repeat-x scroll 50% 50% #5C9CCC;
    border: 1px solid #4297D7;
}

.gdtitulo{
	margin-left: 10px;
	margin-top: 4px;
	padding: 6px;
	text-align: center;
	cursor: move;
	color: #FFFFFF;
    font-weight: bold;
	font-size: 14px;
}

.gdtitulo .gdcerrar{
	float: right; 
	font-size: 14px;
}

.gdtitulo .gdcerrar:hover{
	cursor: pointer;
}

.gdcontenido{
	background-color: #FEFEFE;
	margin: 5px 4px 5px 4px;
	overflow: auto;

	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
	
	-webkit-box-shadow: 1px 1px 1px #2D2D2D;/*Chrome y Safari*/
    -moz-box-shadow: 1px 1px 1px #2D2D2D;/*Firefox*/
    -o-box-shadow: 1px 1px 1px #2D2D2D;/*Opera*/
    box-shadow: 1px 1px 1px #2D2D2D;/*Estandar por defecto*/
}

.gdbotones{
	margin-right: 10px;
}