.ggantt{
	width: 100%; 
	border-collapse: collapse; 
	border: 1px solid #A6C9E2;
}

.ggantt td{
	border-right: 1px solid #D3D3D3;
}

.td_dia_actividad_gantt{
	background-color: #000000;
	padding: 4px;

	/*background-image: -webkit-gradient(linear, left top, left bottom, from(#e9d3e8), to(#2e83ff));
    background-image: -moz-linear-gradient(top center, #e9d3e8, #2e83ff);
    background-image: -o-linear-gradient(top, #e9d3e8, #2e83ff);
    background-image: linear-gradient(top, #e9d3e8, #2e83ff);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#e9d3e8', EndColorStr='#ac5ea9');*/
}

.border_linea_tiempo_gantt_izq{
	border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-o-border-radius: 5px 0px 0px 5px;
	-khtml-border-radius: 5px 0px 0px 5px;
}

.border_linea_tiempo_gantt_der{
	border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-o-border-radius: 0px 5px 5px 0px;
	-khtml-border-radius: 0px 5px 5px 0px;
}

.border_linea_tiempo_gantt_ambos{
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
}

.tr_actividad_ggantt{
	display: none;
}