.ggrids{
	display: none;
}

.ggrid{
	border: 1px solid #A6C9E2;
	border-collapse: collapse;
}

.ggrid_header{
	height: 30px;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	text-shadow: 0px 1px 0px #000;
	
	background-image: -moz-linear-gradient(top, #A6C9E2 30%, #4088c0 70%);
	background-image: -webkit-gradient(linear, 0 70%, 0 30%, from(#4088c0), to(#A6C9E2));
	background-image: -o-linear-gradient(top, #A6C9E2, #4088c0);
    background-image: linear-gradient(top, #A6C9E2, #4088c0);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#A6C9E2', EndColorStr='#4088c0');
}

.ggrid_footer{
	background-image: -moz-linear-gradient(top, #A6C9E2 30%, #4088c0 70%);
	background-image: -webkit-gradient(linear, 0 70%, 0 30%, from(#4088c0), to(#A6C9E2));
	background-image: -o-linear-gradient(top, #A6C9E2, #4088c0);
    background-image: linear-gradient(top, #A6C9E2, #4088c0);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#A6C9E2', EndColorStr='#4088c0');
}

.ggrid_rows{
	color: #000000;
	
	background-image: -moz-linear-gradient(top, #FFFFFF 30%, #F9F9F9 70%);
	background-image: -webkit-gradient(linear, 0 70%, 0 30%, from(#FFFFFF), to(#F9F9F9));
	background-image: -o-linear-gradient(top, #FFFFFF, #F9F9F9);
    background-image: linear-gradient(top, #FFFFFF, #F9F9F9);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FFFFFF', EndColorStr='#F9F9F9');
}

.ggrid_rows:hover{
	color: #336699;
	
	background: -moz-linear-gradient(top, #FFFFFF 30%, #d1e6f6 70%);
	background: -webkit-gradient(linear, 0 70%, 0 30%, from(#d1e6f6), to(#FFFFFF));
	background-image: -o-linear-gradient(top, #FFFFFF, #d1e6f6);
    background-image: linear-gradient(top, #FFFFFF, #d1e6f6);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FFFFFF', EndColorStr='#d1e6f6');
}

.ggrid_rows_selected{
	background: #d1e6f6;
	background: -moz-linear-gradient(top, #FFFFFF 30%, #d1e6f6  70%);
	background: -webkit-gradient(linear, 0 70%, 0 30%, from(#d1e6f6 ), to(#FFFFFF));
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FFFFFF', EndColorStr='#d1e6f6');
	color: #336699;
}

.ggrid th{
	text-align: center;
	padding: 5px;
}

.ggrid td{
	padding: 0px;
	margin: 0px;
}

.ggrid td div{
	font-size: 12px;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

.ggrid th{
	border: 1px solid #A6C9E2;
}

.ggrid_rows td{
	border: 1px solid #A6C9E2;
}

.ggrid_sin_registros{
	/*color: #000000;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	font-style: italic;*/
}

.ggrid_td_oculto{
	display: none;
}

.ggrid_acciones{
	/*display: none;*/
}

.ggrid_acciones div{
	border: 1px solid #A6C9E2;
	float: left;
	cursor: pointer;
	
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.ggrid_acciones div:hover{
	border: 1px solid #FFFFFF;
}

.ggrid_acciones span{
	float: left;
	text-shadow: 0px 1px 0px #FFFFFF;
	color: #000000;
}

.ggrid_pager{
	text-shadow: 0px 1px 0px #000000;
	color: #FFFFFF;
	font-weight: bold;
}

