#contenedor_notificaciones
{
	/*position: absolute;
	top: 105px;
	padding: 0px 5px 0px 0px;
	z-index: 5000;
	left: 10px;
	overflow: auto;
	font-family: helvetica,verdana,sans-serif;*/
	position: fixed;
	top: 89px;
	z-index: 900;
	left: 37%;
	font-family: helvetica,verdana,sans-serif;
	border: 1px solid #e0e0da;
	background: #fff;
	
	-webkit-box-shadow: 0px 0px 4px 0px #9b59b6;
	   -moz-box-shadow: 0px 0px 4px 0px #9b59b6;
		 -o-box-shadow: 0px 0px 4px 0px #9b59b6;
  			box-shadow: 0px 0px 4px 0px #9b59b6;
}

.notificacionUsuario 
{
	margin: 0px;
	position: relative;
	opacity: .95;
	filter: alpha(opacity=95);
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	color: #666;
	padding: 10px;
	border-bottom: 1px solid #e0e0da;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
}

.notificacionUsuario:hover
{
	background: #e9eaed;
}

.notificacionUsuario .fecha_notificacion
{
	font-size: 10px;
	font-weight: 400;
	position: absolute;
	right: 8px;
	bottom: 0;
}

/*	.cerrar_notificacion:hover
{
	color:red;
}*/
/*.notificacionUsuario:before
{
	content: '\2713';
	float: right;
	cursor: pointer;
	color:black;
}*/
.cerrar_notificacion
{
	float:right;
	cursor:pointer;
}
.notificacionUsuario .titulo_notificacion
{
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 2px;

}

.notificacionUsuario .mensaje_notificacion
{
	font-size: 12px;
	padding: 2px 2px 2px 8px;
	margin-bottom: 4px;
}

#div_contenido_notificaciones{
	width: 320px;
	overflow: auto;
}

#div_controles_notificaciones span{
	margin: 0px 60px 0px 60px;
}

#div_controles_notificaciones span{
	font-weight: 400; 
	font-size: 18px; 
	color: #666; 
	cursor: pointer;
	padding: 2px;
}

#div_controles_notificaciones span:hover{
	background-color: #eeeeee;
	
	color: #06960E;
}

#num_notificaciones
{
	font-size: 13px;
	margin: 2px 0 0 5px;
	padding: 0 5px;
	border: none;
	background: red;
	border-radius: 10px;
	position: relative;
	top: -5px;
	left: -5px;
	cursor: pointer;
}

.noti_leida{
	cursor: auto !important;
}