<!DOCTYPE html>
<html lang="es" ng-app="rrExpro">
    <head>
        
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="author" content="" />
        <meta name="description" content="" />
        <meta name="webmaster" content="" />
        <link rel="shortcut icon" href="img/home.ico" />
        <title>Expediente de Proveedor</title>
        
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/font-awesome/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="css/open-sans/open-sans-font.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        
        <!-- JS -->
        <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/template-angular.js"></script>
        <script type="text/javascript" src="js/template.js"></script>
        
    </head>
    <body>
        <header>
            <div class="container-fluid">
                <div class="logo">
                    <a href=""><i class="fa fa-book fa-fw"></i>Expediente de Proveedor</a>
                </div>
                <div class="salir">
                    <a href="">Salir</a>
                </div>
            </div>
        </header>
        <section>
            <div class="container">

                <div class="row">
                    <div class="col-xs-12">

                        <div class="proveedores" ng-controller="ProveedoresController">
                            <div class="filtro">
                                <div class="input-group">
                                    <input type="text" ng-model="proveedoresFiltro" ng-change="proveedoresInputCambio();" placeholder="Buscar Proveedor" class="form-control">
                                    <span class="input-group-btn">
                                        <button ng-click="proveedoresFiltroLimpiar();" class="btn btn-default" type="button"><i class="fa fa-close fa-fw"></i></button>
                                    </span>
                                </div>
                            </div>
                            <ul ng-if="proveedoresMostrar">
                                <li ng-repeat="proveedor in proveedores.registros | filter:proveedoresFiltro">
                                    <a href="" ng-click="mostrarAnios(proveedor);"><i class="fa fa-search fa-fw"></i> {{proveedor.id}} | {{proveedor.nombre}} | {{proveedor.rfc}}</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">

                        <div class="anios" ng-controller="AniosController">
                            <ul ng-if="aniosContenedor.aniosMostrar">
                                <li class="filtro">
                                    <h2>Buscar Año:</h2>
                                    <div class="input-group">
                                        <input type="text" ng-model="aniosFiltro" placeholder="" class="form-control">
                                        <span class="input-group-btn">
                                            <button ng-click="aniosFiltroLimpiar();" class="btn btn-default" type="button"><i class="fa fa-close fa-fw"></i></button>
                                        </span>
                                    </div>
                                </li>
                                <li ng-repeat="anio in anios.registros | filter:aniosFiltro | orderBy:anio.anio | limitTo:aniosLimite">
                                    <a href="" ng-click="mostrarExpedientes(anio)">
                                        <div class="anio">
                                            <h2><i class="fa fa-calendar fa-fw"></i> | {{anio.anio}}</h2>
                                        </div>
                                        <hr />
                                        <div class="cantidades">
                                            <div class="titulo">Facturado:</div>
                                            <div class="cantidad">{{anio.facturado | currency:$}}</div>
                                            <div class="titulo">Pagado:</div>
                                            <div class="cantidad">{{anio.pagado | currency:$}}</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">

                        <div class="expedientes" ng-controller="ExpedientesController">
                            <div class="tabla" ng-if="expedientesContenedor.expedientesMostrar">
                                <table class="table table-striped" >
                                    <thead>
                                        <th width="60">Obra</th>
                                        <th>Obra Descripción</th>
                                        <th>Factura</th>
                                        <th>Fecha Ingreso</th>
                                        <th>Fecha Pago</th>
                                        <th width="90">Días Vencidos</th>
                                        <th width="100">Estatus</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="expediente in expedientes.registros">
                                            <td>{{expediente.obra}}</td>
                                            <td>{{expediente.descripcion}}</td>
                                            <td>{{expediente.factura}}</td>
                                            <td>{{expediente.fecha_ingreso}}</td>
                                            <td>{{expediente.fecha_pago}}</td>
                                            <td>{{expediente.dias_vencidos}}</td>
                                            <td class="{{expediente.estatus}}">{{expediente.estatus}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>
        <footer>
            <div class="container-fluid">
                <div class=""><i class="fa fa-book fa-fw"></i> Expediente de Proveedor | <i class="fa fa-copyright"></i> 2015</div>
            </div>
        </footer>
    </body>
</html>