@charset "utf-8";
/* CSS Document */
.modalmask {
	position: fixed;
	font-family: Arial, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
	z-index: 99999;
	opacity:1;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	/*pointer-events: none;*/
}
.modalmask:target {
	opacity:1;
	pointer-events: auto;
}
.modalbox{
	width: 400px;
	position:static;
	margin:0 auto;
	margin-top:300px;	 
	padding: 5px 20px 13px 20px;
	background: #fff;
	border-radius:3px;
	-webkit-transition: all 500ms ease-in;
	-moz-transition: all 500ms ease-in;
	transition: all 500ms ease-in;
	box-shadow: 2px 2px 5px #000000;
	-webkit-box-shadow: 2px 2px 5px #000000;
	-moz-box-shadow: 2px 2px 5px #000000;
	filter: shadow(color=#000000, direction=135, strength=2);
	 
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 1px;
	text-align: center;
	top: 1px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	border-radius:3px;
}

.close:hover {
	background:#111111;
	color:#FFFFFF;
}
.boton_modal{
	text-decoration: none;
	font-weight: bold;
	border-radius:3px;
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
}
.boton_modal:hover {
	background:#111111;
	color:#FFFFFF;
}

.tabla_modal{
	background: #606061;
	color: #FFFFFF;
	font-weight: bold;
	border-radius:55px;
	font-size:12px;
	height:25px;
}
.td_cuadricula{
	border-top:1px solid #000000;
	border-right:1px solid #000000;
	font-size:12px;
}
.td_izquierda{
	border-left:1px solid #000000;
}
.EncabezadoModal{
	background:#175684;
	border-radius:3px;
	width:100%;
	height:20px;
	color:#FFFFFF;
	text-align:center;
	font-size:14px;
}
.Modal_contenedor{
	background:#FFFFFF;
	border:#175684;
	border-radius:3px;
	position:absolute;
	-webkit-transition: all 500ms ease-in;
	-moz-transition: all 500ms ease-in;
	box-shadow: 2px 2px 5px #000000;
	-webkit-box-shadow: 2px 2px 5px #000000;
	-moz-box-shadow: 2px 2px 5px #000000;
	filter: shadow(color=#000000, direction=135, strength=2);
}
.cargando{
	position:absolute;
	background:#175684;
	color:#FFFFFF;
	border-radius:3px;
	margin-left:45%;
	width:100px;
	-webkit-transition: all 500ms ease-in;
	-moz-transition: all 500ms ease-in;
	box-shadow: 2px 2px 5px #000000;
	-webkit-box-shadow: 2px 2px 5px #000000;
	-moz-box-shadow: 2px 2px 5px #000000;
	filter: shadow(color=#000000, direction=135, strength=2);
}
.cerrar{
	border:none;
	background:#175684;
	color:#FFFFFF;
	font-size:14px;
}
.cerrar:hover{
background:#326CAD;
}
.btnBuscar{
	border:none;
	background:#175684;
	border-radius:3px;
	height:150%;
	width:15%;
	color:#FFFFFF;
}
.btnBuscar:hover{
background:#326CAD;
}