<cfset CurrentPage=GetFileFromPath(GetTemplatePath())>
<cfparam name="Filtro_id_Obra" default="">
<cfparam name="Filtro_id_Estatus" default="101">
<cfparam name="sn_Mostrar" default="S">
<cfparam name="id" default="">
<cfparam name="Filtro_id_tipopedido" default="NULL">
<cfparam name="Filtro_id_tipoObra" default="NULL">
<cfparam name="Filtro_id_empresa" default="">



<cfinvoke component="#session.componentes#.insumos" method="obtenerAgrupadores" returnvariable="RS_MostrarAgrupadores">

<cfinvoke component="#Application.componentes#.funciones" method="StructToListStruct" returnvariable="SessionStruct" estructura="#Session#" separador_lista="|" separador_valores="=">
<cfinvoke component="#Application.componentes#.empresas" method="RSMostrarTodosEmpresas" returnvariable="RS_Empresas">

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="../css/style.css" type="text/css">
<link rel="stylesheet" type="text/css" href="../css/box.css">

<link rel="stylesheet" type="text/css" href="modal.css" id="link">
<!--- <link rel="stylesheet" href="../css/bootstrap/css/bootstrap.css"> --->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<script language="javascript" src="../js/jquery.js"></script>
<script language="javascript" src="../js/funciones.js"></script>
<script type="text/javascript" src="../calendario/calendar.js"></script>
<script type='text/javascript' src='../js/msg.js'></script>
<script type="text/javascript" src="js/modal/modal_con_cfm.js"></script>
<script type="text/javascript" src="modal.js"></script>
<script type="text/javascript" src="../calendario/calendar-setup.js"></script>
<script type="text/javascript" src="../calendario/lang/calendar-es.js"></script>
<style type="text/css"> @import url("../calendario/calendar-blue2.css");</style>
<link rel="stylesheet" type="text/css" href="modal_generadores_detalle.css">
<script>
	function filtrarProveedor( descripcion, id_Select )
    {
        $("#" + id_Select + " option").each(
            function()
            {
                descripcion_Option = $(this).text().toUpperCase();
                if ( descripcion_Option.search(descripcion.toUpperCase()) != -1  )
                    $(this).show();
                else
                    $(this).hide();
            }
        );
    }

    function CancelarFiltroProveedor(id_Select, id_txtBox)
    {
        $("#" + id_txtBox).val('');
        $("#" + id_Select + " option").each(
            function()
            {
                $(this).show();
            }
        );
    }

	var inicio=function(){

		Array.prototype.unique=function(a){
  				return function(){return this.filter(a)}}(function(a,b,c){return c.indexOf(a,b+1)<0
		});
		$('#Filtro_id_Obra').focus();
		$('body').delegate('.contenido_flotante','keypress', escanear_flotante);
		$('body').delegate('.contenido_numerico','keypress', escanear_numerico);
		var traeinsumos=function()
		{
			var empresa=$('#Filtro_id_empresa').val();
			var obra=$('#Filtro_id_Obra').val();
			var estatus=$('#Filtro_id_Estatus').val();
			var agrupador=$('#id_Agrupador').val();
			var insumo=$('#Filtro_insumo').val();
			var id_Empleado=<cfoutput>#session.id_empleado#</cfoutput>;
			if(empresa!='' && obra!=''){	
					$('#result').html('');
					$('#cargando').html('<img src="../images/cargando_procesando.gif" /></p>');
					var arreglo=[];
					$.ajax({
						url:"componentes/ordenes_compras.cfc?method=Rs_Listado_compras",
						method:"GET",
						data:{
								id_Empresa:empresa,
								id_obra:obra,
								tipo_obra:'',
								Estatus:'',
								id_Agrupador:agrupador,
								insumo:insumo,
								id_Empleado:id_Empleado
						},
						cache:false,
						success:function(response){
							arreglo=JSON.parse(response);
							var renglones=""; 
							$('#tbl1').removeClass('mostrar');
							if(arreglo.length>0){	
								 for(var i=0;i<arreglo.length;i++){
								 		var UMA=arreglo[i].UM+''.split('¦').join('"');
								 		renglones += "<tr id='id_"+arreglo[i].id+"' class='encabezado' border='5px' style='cursor:pointer;' title='click para ver detalle'>"+
								 						
								 						"<td class='cuadricula compras' id='id_td_"+arreglo[i].id+"' style='background-color:#B4CBE6;'>"+arreglo[i].clave+"</td>"+
								 						"<td class='cuadricula compras' id='id_td_"+arreglo[i].id+"' style='background-color:#B4CBE6;'>"+arreglo[i].descripcion+"</td>"+
								 						"<td class='cuadricula compras' align='right' id='id_td_"+arreglo[i].id+"' style='background-color:#B4CBE6;'></td>"+
								 						"<td class='cuadricula compras' id='id_td_"+arreglo[i].id+"' style='background-color:#B4CBE6;'>"+UMA+"</td>"+
								 						"<td class='cuadricula compras' align='right' id='id_td_"+arreglo[i].id+"' style='background-color:#B4CBE6;'></td>"+
								 						"<td class='cuadricula compras' align='right' id='id_td_"+arreglo[i].id+"' style='background-color:#B4CBE6;'></td>"+
								 						"<td class='cuadricula compras' align='right' id='id_td_"+arreglo[i].id+"' style='background-color:#B4CBE6;'></td>"+
								 						"<td class='cuadricula compras numeric' align='right' id='id_td_"+arreglo[i].id+"' style='background-color:#B4CBE6;'>"+formatea(arreglo[i].Cantida_ppto,2)+"</td>"+
								 						"<td class='cuadricula compras numeric' align='right' id='id_td_"+arreglo[i].id+"' style='background-color:#B4CBE6;'>$"+formatea(arreglo[i].im_precio_ppto,2)+"</td>"+
								 						"<td class='cuadricula compras numeric' align='right' id='id_td_"+arreglo[i].id+"' style='background-color:#B4CBE6;'>$"+formatea(arreglo[i].im_subtotal_ppto,2)+"</td>"+
								 						"<td class='cuadricula compras numeric' align='right' id='id_td_"+arreglo[i].id+"' style='background-color:#B4CBE6;'>"+formatea(arreglo[i].nu_solicitado,2)+"</td>"+
								 						"<td class='cuadricula compras numeric' align='right' id='id_td_"+arreglo[i].id+"' style='background-color:#B4CBE6;'>$"+formatea((arreglo[i].nu_solicitado*arreglo[i].im_precio_ppto),2)+"</td>"+
								 						"<td class='cuadricula compras numeric' align='right' id='id_td_"+arreglo[i].id+"' style='background-color:#B4CBE6;'>"+formatea(arreglo[i].nu_comprado,2)+"</td>"+
								 						"<td class='cuadricula compras numeric' align='right' id='id_td_"+arreglo[i].id+"' style='background-color:#B4CBE6;'>$"+formatea(arreglo[i].im_precio_com,2)+"</td>"+
								 						"<td class='cuadricula compras numeric' align='right' id='id_td_"+arreglo[i].id+"' style='background-color:#B4CBE6;'>$"+formatea(arreglo[i].im_subtotal_com,2)+"</td>"+
								 						"<td class='cuadricula compras numeric' align='right' id='id_td_"+arreglo[i].id+"' style='background-color:#B4CBE6;'>"+formatea(arreglo[i].nu_pendiente,2)+"</td>"+
								 						"<td class='cuadricula compras' align='right' id='id_td_"+arreglo[i].id+"' style='background-color:#B4CBE6;'></td>"+
								 						"<td class='cuadricula compras' align='right' id='id_td_"+arreglo[i].id+"' style='background-color:#B4CBE6;'></td>"+
								 						"<td class='cuadricula' align='left' style='font-weight:bold;background-color:#B4CBE6;' ><input type='checkbox' style='width:98%;' id='chkagrup_"+arreglo[i].id+"'></td>"+
								 						
								 					 "</tr>";
								 		
								 		for(var j=0;j<arreglo[i].insumos.length;j++){
								 			var de_insumo=arreglo[i].insumos[j].nombre.split('¦').join('"');
								 			var UM=arreglo[i].insumos[j].UM.split('¦').join('"');
											var de_MedidaEspecial = arreglo[i].insumos[j].de_MedidaEspecial;
											
											renglones+="<tr class='id_"+arreglo[i].id+"' style='display:none;' title='click para ver detalle' id='id_"+arreglo[i].insumos[j].id+"'>"+
															
															"<td class='cuadricula' align='left' id='id_"+arreglo[i].insumos[j].id+"'>"+arreglo[i].insumos[j].id+"</td>"+
															"<td class='cuadricula' align='left'>"+de_insumo+
																"&nbsp;&nbsp;<button type='button' style='cursor: pointer; cursor: hand;' id='boton_"+arreglo[i].insumos[j].id+"' insumo='"+arreglo[i].insumos[j].id+"' requisiciones='"+arreglo[i].insumos[j].requisicion+"' click='0'  agrupado='"+arreglo[i].id+"'>"+
																" <img src='../images/todo.png' id='mostrarDetalles' insumo='"+arreglo[i].insumos[j].id+"' requisiciones='"+arreglo[i].insumos[j].requisicion+"' click='0' agrupado='"+arreglo[i].id+"' alt='' title='Mostrar detalle'></button>"+ 		
															"</td>"+
															"<td class='cuadricula' align='left'>";
											renglones += 	
					                                    		'<input type="text" name="txt_FiltroProveedor_' + arreglo[i].insumos[j].id + '" id="txt_FiltroProveedor_' + arreglo[i].insumos[j].id + '" placeholder="Filtro Proveedor" style="width:100px;" title="Filtro" class="contenido">&nbsp;&nbsp;'+
					                                        	'<button type="button" style="vertical-align: bottom;" onclick="filtrarProveedor( $(\'#txt_FiltroProveedor_' + arreglo[i].insumos[j].id + '\' ).val() , \'Filtro_id_Proveedor_' + arreglo[i].insumos[j].id + '\' );"><img src="../images/iverify.gif" title="Clic para filtrar"></button>'+
					                                        	'<button type="button" style="vertical-align: bottom;" onclick="CancelarFiltroProveedor(\'Filtro_id_Proveedor_' + arreglo[i].insumos[j].id + '\', \'txt_FiltroProveedor_' + arreglo[i].insumos[j].id + '\');"><img src="../images/idelete.gif" title="Clic para quitar el filtro"></button>';

											renglones +=		"<select class='Filtro_id_Proveedor contenido'style='width:150px' id='Filtro_id_Proveedor_"+arreglo[i].insumos[j].id+"'>"+
																	"<option value='' selected>SELECCIONE UN PROVEEDOR</option>"+
																"</select>"+
															"</td>"+
															"<td class='cuadricula' align='left'>"+UM+"</td>"+
															"<td class='cuadricula' align='right'>"+formatea(arreglo[i].insumos[j].Nu_Tramos,2)+"</td>"+
															"<td class='cuadricula' align='right'>"+ Math.ceil(arreglo[i].insumos[j].Nu_Tramos)+"</td>"+
															"<td class='cuadricula'>"+de_MedidaEspecial+
																"<input type='hidden' id='de_MedidaEspecial_"+arreglo[i].insumos[j].id+"' value='" + de_MedidaEspecial + "'></td>"+
															"</td>"+
															"<td class='cuadricula' align='left'></td>"+
															"<td class='cuadricula' align='left'></td><td class='cuadricula' align='left'></td>"+
															"<td class='cuadricula' align='right'>"+formatea(arreglo[i].insumos[j].nu_solicitado,2)+"</td>"+
															"<td class='cuadricula' align='left'></td>"+
															"<td class='cuadricula' align='left'>"+
																"<input type='text' style='width:98%;text-align:right;' value='"+formatea(arreglo[i].insumos[j].nu_comprado,2)+"' class='contenido_readOnly' readOnly>"+
															"</td>"+
															"<td class='cuadricula' align='left'>"+
																"<input type='text' style='width:98%;text-align:right;' value='$"+formatea(arreglo[i].insumos[j].im_precio_com,2)+"' class='contenido_readOnly' readOnly>"+
															"</td>"+
															"<td class='cuadricula' align='left'>"+
																"<input type='text' style='width:98%;text-align:right;' value='$"+formatea(arreglo[i].insumos[j].im_subtotal_com,2)+"' class='contenido_readOnly' readOnly>"+
															"</td>"+
															"<td class='cuadricula' align='left'>"+
																"<input type='text' style='width:98%;text-align:right;'id='cantidad_pendiente_"+arreglo[i].insumos[j].id+"'class='contenido_flotante' value='"+arreglo[i].insumos[j].nu_pendiente+"' maxlength='16' insumo='"+arreglo[i].insumos[j].id+"'>"+
															"</td>"+
															"<td class='cuadricula' align='left'>"+
																"<input type='text' style='width:98%;text-align:right;' id='precio_pendiente_"+arreglo[i].insumos[j].id+"' class='contenido_flotante' value='0.00' maxlength='16' insumo='"+arreglo[i].insumos[j].id+"'>"+
															"</td>"+
															"<td class='cuadricula' align='left'>"+
																"<input type='text' style='width:98%;text-align:right;' id='importe_pendiente_"+arreglo[i].insumos[j].id+"' value='0.00' class='contenido_readOnly' readOnly  insumo='"+arreglo[i].insumos[j].id+"'>"+
															"</td>"+
															"<td class='cuadricula' align='left'>"+
																"<input type='checkbox' class='chkagrup_"+arreglo[i].id+"' style='width:98%;' id='chk_"+arreglo[i].insumos[j].id+"'>"+
															"</td>"+
															"<input type='hidden' id='id_requisicion_"+arreglo[i].insumos[j].id+"' value='"+arreglo[i].insumos[j].requisicion+"'>"+
															"<input type='hidden' id='Centros_"+arreglo[i].insumos[j].id+"' value='"+arreglo[i].insumos[j].Centros+"'>"+
														"</tr>";

										}
								 }
							 $('#result').html(renglones);	
							 $('#cargando').html('');
							 $('#botones').show();
							 cargarProv();
						  }else{

								$('#result').html("<tr><td align='center' colspan='19' style='font-size:14px; font-weigth:bold;'>No existen Registros<tr></td>");
								$('#cargando').html('')
						  } 

						},
						error:function(error){
							alert('error');
						}


					});
					
			}else{
				var mensaje='';
				if(empresa==''){
					mensaje+='\n-La Empresa Es Requerida.';
				}
				if(obra==''){
					mensaje+='\n-La Obra Es Requerida';
				}

				alert(mensaje);
			}			


		}
		var cargarProv=function(){
			
			$('.Filtro_id_Proveedor').each(function(){
				var identificador=$(this).attr('id');
				var insumo=$(this).attr('id').substring(20);
				var arreglo=[];
				$.ajax({
					url:"componentes/ordenes_compras.cfc?method=proveedores",
					method:"GET",
					cache:false,
					data:{
						id_insumo:insumo
					},
					success:function(response){
						arreglo=JSON.parse(response);
						var opciones="";
						for(var i=0;i<arreglo.DATA.length;i++){
							
								opciones+="<option value='"+arreglo.DATA[i][0]+"'>"+arreglo.DATA[i][1]+"</option>";	
						}	
						$('#'+identificador).append(opciones);

							
					},
					error:function(){

					}
				});	
			});
		}
		function cargar_Medios (){
			
			$('.Medio_envio').each(function(){
				var identificador=$(this).attr('id');
								var arreglo=[];
				$.ajax({
					url:"componentes/Requisiciones.cfc?method=Medios",
					method:"GET",
					cache:false,
					success:function(response){
						arreglo=JSON.parse(response);
						var opciones="";
						for(var i=0;i<arreglo.DATA.length;i++){
							
								opciones+="<option value='"+arreglo.DATA[i][0]+"'>"+arreglo.DATA[i][1]+"</option>";	
						}	
						$('#'+identificador).append(opciones);
						

							
					},
					error:function(){

					}
				});	




			});
	

		}
		function carga_almacenes (){
			var empresa=$('#Filtro_id_empresa').val();
			var obra=$('#Filtro_id_Obra').val();
			
			$('.Almacenes').each(function(){
				var identificador=$(this).attr('id');
				var arreglo=[];
				$.ajax({
					url:"componentes/Requisiciones.cfc?method=Almacenes",
					method:"GET",
					cache:false,
					data:
						{	
							id_Empresa:empresa,
							id_Obra:obra
						},
					success:function(response){
						arreglo=JSON.parse(response);
						var opciones="";
						for(var i=0;i<arreglo.DATA.length;i++){
							
								opciones+="<option value='"+arreglo.DATA[i][0]+"'>"+arreglo.DATA[i][1]+"</option>";	
						}	
						$('#'+identificador).append(opciones);

							
					},
					error:function(){

					}
				});	
			});
		}
		function carga_Iva (){
			$('.Iva').each(function(){
				var identificador=$(this).attr('id');
				var arreglo=[];
				$.ajax({
					url:"componentes/Requisiciones.cfc?method=Iva",
					method:"GET",
					cache:false,
					success:function(response){
						arreglo=JSON.parse(response);
						var opciones="";
						for(var i=0;i<arreglo.DATA.length;i++){
							
								opciones+="<option value='"+arreglo.DATA[i][0]+"'>"+arreglo.DATA[i][0]+"</option>";	
						}	
						$('#'+identificador).append(opciones);	
					},
					error:function(){}
				});	
			});
		}
		var apertura= function (){ 
                var id_ren=$(this).attr('id').substring(6);
                var agrupado="id_"+id_ren;
              	/*alert('Agrupador:'+agrupado);*/
                $('.'+agrupado).toggle(function(){});
		}

	  	var checartodos= function(){
	  		if($(this).prop('checked')){
				$('input[id^=chk_').attr('checked',true);
			}else{
				$('input[id^=chk_').attr('checked',false);
			}
	     }  
        var Autorizar = function (password){
        	var autorizo=false;
	        $.ajax({
	           type: 'GET',
	           async: false,
	           dataType: 'JSON',
	           url: 'componentes/ferrominio_pass.cfc',
	           data: 
	           {
	              method: 'validar_Ferrominio_Password',
	              de_Password:password
	           },
	           success: function(response) {
	              if (response) //Contraseña valida
	                autorizo=true;
	        	},
	           error: function()
	           {
	            alert('No se pudo comprobar la contrase\u00f1a.\n\n\nFavor de intentar mas tarde.');
	           }
	        });
	        return autorizo;
      }
      var generar_oc=function(){
      	var empresa=$('#Filtro_id_empresa').val();
      	var id_obra=$('#Filtro_id_Obra').val();
      	var proveedores="";
      	var cantidades="";
      	var insumos="";
      	var precios="";
      	var provedoresaux=[];
    	var bandera=false;  	
        var checks=0;
        var insumosFueraPresupuesto='Los insumos ';
	
      	$('#tbl1 input[type="checkbox"][id^="chk_"]:checked').each( function(index) {  
			var id=$(this).attr('id');
			var insumo=id.substring(4);
			var id_Proveedor=$('#Filtro_id_Proveedor_'+insumo).val();
			var cantidad=parseFloat($('#cantidad_pendiente_'+insumo).val());
			var precio=parseFloat( $('#precio_pendiente_'+insumo).val().replace('$','') );
			var check=$(this).prop('checked');
	    	var renglones=[];

			if(check){
				checks++;
				if(cantidad>0.000000){
					if(precio>0.0000){
						if(id_Proveedor!=''){
							bandera=true;
						}else{
							bandera=false;
							inlineMsg($('#Filtro_id_Proveedor_'+insumo).attr('id'),'proveedor no valido');
							return false;
						}
					}else{
						inlineMsg($('#precio_pendiente_'+insumo).attr('id'),'Precio no valido');
						bandera=false;
						return false;
					}
				}else{
					inlineMsg($('#cantidad_pendiente_'+insumo).attr('id'),'Cantidad no Valida');
					bandera=false;
					return false;
				}
			}
		});		
				
		if(bandera && checks>0)
		{
			$('#tbl1 input[type^="checkbox"][id^="chk_"]:checked').each( function()
            {
				var id=$(this).attr('id');
				var insumo=id.substring(4);
				var id_Proveedor=$('#Filtro_id_Proveedor_'+insumo).val();
				var check=$(this).prop('checked');	
				if(check){
					provedoresaux.push(id_Proveedor);
				}
			} );
					          	
          	provedoresaux=provedoresaux.unique();
          	provedoresaux.sort();
          	var presupuesto=0;
		   
		    $('#tbl1 input[type^="checkbox"][id^="chk_"]:checked').each( function(i) {  
		    	var id=$(this).attr('id');
				var insumo=id.substring(4); 
	          	var cantidad=$('#cantidad_pendiente_'+insumo).val();
	          	cantidad=cantidad.split(',').join('');

	          	var precio=$('#precio_pendiente_'+insumo).val();
	          	precio=precio.split(',').join('');
	          	precio=precio.split('$').join('');

	          	var im_subtotal=(parseFloat(cantidad))*(parseFloat(precio));	


				
          		var check=$(this).prop('checked');
          		if(check){
          			$.ajax({
      					url:"componentes/ordenes_compras.cfc",
      					method:'POST',
      					cache:false,
      					async:false,
      					data:{
      						method:'Verificar_disponible_traspaso',
      						id_Obra:id_obra,
      						id_Empresa:empresa,
      						id_insumo:insumo,
      						im_subtotal:im_subtotal
      					},
      					success:function(data){
      						var arreglo=JSON.parse(data);
      					
      						if(!arreglo.BANDERA){
      							presupuesto++;
      							debugger;
      							
      							insumosFueraPresupuesto+=insumo+' ';
          					}
      					}
          			})
				}	
          	})
			if(presupuesto>0){
        		insumosFueraPresupuesto+=' estan fuera del presupuesto';
        		
        		cerrar_modal();
				$('#link').attr('href','modal_pasword.css');
          		modal(insumosFueraPresupuesto,'<center style="font-size:14px;"><b>Ingrese contrase&ntilde;a de Autorizaci&oacute;n</b><br><input type="password" id="password" class="contenido" style="width:250px;height:21px;"><br><br><button type="button" class="boton_imagen" id="checar"><img src="../images/autorizar.png" alt="Clic para buscar insumos"></button><br></center>','style="background-image:url(../images/bg_gris.gif);color:#007670"');
                $("#modal_box").css('width','40%');
                $("#modal_box").css('height','');
                $("#modal_box").css('height','200px');
                $("#modal_box").css('overflow-y','hidden');
                $('#checar').on('click',function(){
						if(!Autorizar($('#password').val())){
	                    	alert('La contraseña es incorrecta');
						}else{
	                    	 cargarModalOC(provedoresaux);
	                    }
               })
			}else{
               cargarModalOC(provedoresaux);
            }
		}
		else if(checks==0)
				alert('Seleccione al menos un insumo');
		}

		  var cargarModalOC=function(provedoresaux){
		  	$("#modal_box").css('overflow-y','auto');
		  	var empresa=$('#Filtro_id_empresa').val();
          	var id_obra=$('#Filtro_id_Obra').val();
		  	var nota="";
	  		var requisiciones="";
          	var notas=[];
          	contador=0;
	    	var subtotal_nota=[];
	    	var renglones=[];
          	var notas=[];
       	
		  	 $('#tbl1 input[type^="checkbox"][id^="chk_"]:checked').each( function(i) {   
	                	var id=$(this).attr('id');
						var insumo=id.substring(4); 
			          	var im_subtotal=0;
						var id_requisicion=$('#id_requisicion_'+insumo).val();
						var sub_insumo=$('#importe_pendiente_'+insumo).val().split(',').join('');
						sub_insumo=sub_insumo.replace('$','');
						var id_Proveedor=$('#Filtro_id_Proveedor_'+insumo).val();
						var nb_proveeodr=$('#Filtro_id_Proveedor_'+insumo+' option:selected').html();
						var cantidad=$('#cantidad_pendiente_'+insumo).val();
						var precio=$('#precio_pendiente_'+insumo).val();
						var check=$(this).prop('checked');
						var descripcion=$('#id_'+insumo).find("td").eq(1).html();
						aux_descripcion=descripcion.split('&nbsp');
						descripcion=aux_descripcion[0];
					
						var UM=$('#id_'+insumo).find("td").eq(4).html();
						var de_MedidaEspecial = $('#de_MedidaEspecial_' + insumo).val();
						if(check)
						{
							for(var i=0;i<provedoresaux.length;i++)
							{
								if(provedoresaux[i]==id_Proveedor)
								{
									subtotal_nota[id_Proveedor]=0;
									nota+='<table width="90%" cellpadding="0" cellspacing="0" border="1" align="center" id="tbl_'+id_Proveedor+'">'
											+'<tr style="background-color:#CCCCCC">'
												+'<td style="text-align:center;font-weight:bold" colspan="7">ORDEN DE COMPRA</td>'
											+'</tr>'
											+'<tr>'
												+'<td colspan="7">'+empresa+" - "+$('#Filtro_id_empresa option:selected').html()+'</td>'
											+'</tr>'
											+'<tr>'
												+'<td colspan="7">'+id_Proveedor+' - '+nb_proveeodr+'</td>'
											+'</tr>'
											+'<tr><td colspan="7">'+id_obra+" - "+$('#de_Obra_lab').val()+'</td></tr>'
									 		+'<tr style="background-color:#CCCCCC" id="cabecera">'
												+'<td style="text-align:center">Insumo</td>'
												+'<td style="text-align:center">Descripci\u00f3n</td>'
												+'<td style="text-align:center">UM</td>'
												+'<td style="text-align:center">Notas</td>'
												+'<td style="text-align:center">Cantidad</td>'
												+'<td style="text-align:center">Precio</td>'
												+'<td style="text-align:center">Importe</td>'
											+'</tr>'
											+'<tbody id="contenido_'+id_Proveedor+'"></tbody>'
											+'<tr>'
												+'<td colspan="6" style="text-align:right">Subtotal:</td>'
												+'<td><input type="text" id="subtotal_nota_'+id_Proveedor+'" value="0" class="contenido_readOnly" readOnly style="text-align:right;width:99%;"></td>'
											+'</tr>'
											+'<tr>'
												+'<td style="text-align:right" colspan="6" >Otros Gastos:</td>'
												+'<td><input type="text" readOnly style="text-align:right;width:99%;" value="0" id="otros_gastos_nota_'+id_Proveedor+'" class="contenido_readOnly"></td>'						
											+'</tr>'
											+'<tr>'
												+'<td style="text-align:right" colspan="6" >Iva:</td>'
												+'<td><input type="text" readOnly style="text-align:right;width:99%;" value="0" id="Iva_nota_'+id_Proveedor+'" class="contenido_readOnly"></td>'						
											+'</tr>'
											+'<tr>'
												+'<td style="text-align:right" colspan="6" >Retencion:</td>'
												+'<td><input type="text" style="text-align:right;width:99%;" value="0" id="retencion_nota_'+id_Proveedor+'" class="contenido_flotante"></td>'						
											+'</tr>'
											+'<tr>'
												+'<td style="text-align:right" colspan="6" >Total:</td>'
												+'<td><input type="text" readOnly style="text-align:right;width:99%;" value="0" id="total_nota_'+id_Proveedor+'" class="contenido_readOnly"></td>'						
											+'</tr>'
											+'<tr align="center">'
												+'<td valign = "top" colspan="7">DATOS DE ENTREGA'
													+'<table cellpadding="0" cellspacing="0" style="vertical-align: top" align="center" width="100%">'
														+'<tr>'
															+'<td class="x-box-tl" width="1px"></td>'
															+'<td class="x-box-tc"></td>'
															+'<td class="x-box-tr" width="1px"></td>'
														+'</tr>'
														+'<tr>'
															+'<td class="x-box-ml"></td>'
															+'<td class="x-box-mc">'
																+'<table align="left" border="0" >'
																	+'<tr>'
																		+'<td align="right">Almacen:</td>'
																		+'<td>	'
																			+'<select class="Filtro_Almacen contenido Almacenes" style="width:200px" id="id_Almacen_'+id_Proveedor+'">'
																				+'<option value="" selected>SELECCIONE UN ALMACEN</option>'
																			+'</select>'
																		+'</td>'
																	+'</tr>'
																	+'<tr>'
																		+'<td align="right">Fecha de Entrega:</td>'
																		+'<td><input type="date" id="fh_Entrega_'+id_Proveedor+'" style="width:196px"></td>'
																		+'<td align="right">Telefono:</td>'
																		+'<td><input type="text" style="width:200px;"id="de_telefono_'+id_Proveedor+'" class="contenido_numerico" maxlength="11"></td>'
																		+'<td align="right">Persona quien recibe:</td>'
																		+'<td><input type="text" class="contenido" style="width:300px;"id="nb_persona_'+id_Proveedor+'"  maxlength="50"></td>'
																	+'</tr>'
																	+'<tr>'
																		+'<td align="right">Medio de Envio:</td>'
																		+'<td>'
																			+'<select class="Medio_envio contenido Filtro_medio" style="width:200px" id="Medio_envio_'+id_Proveedor+'">'
																				+'<option value="" selected>SELECCIONE MEDIO ENVIO</option>'
																			+'</select>'
																		+'</td>'
																		+'<td align="right">Otros Gastos:</td>'
																		+'<td><input type="text" style="width:200px;" id="Gasto_maniobra_'+id_Proveedor+'" class="contenido_flotante"></td>'
																	+'</tr>'
																	+'<tr>'
																		+'<td align="right">Domicilio:</td>'
																		+'<td colspan="3"><textarea maxlength="200" cols="45" rows="6" id="de_domicilio_'+id_Proveedor+'" style="width:489px" class="contenido"></textarea></td>'
																		+'<td align="right">Comentarios:</td>'
																		+'<td colspan="1"><textarea maxlength="200" cols="36" rows="6" id="de_comentarios_'+id_Proveedor+'" style="width:303px;" class="contenido"></textarea></td>'
																	+'</tr>'
																	+'</tr>'
																	+'<tr>'
																		+'<td align="right">Moneda:</td>'
																		+'<td>'
																			+'<select class="Filtro_moneda contenido"  id="id_moneda'+id_Proveedor+'">'
																			+'<option value="1" selected>MN</option>'
																			+'<option value="2" >USD</option>'
																			+'</select>'
																		+'</td>'
																		+'<td align="right">Tipo de Cambio:</td>'
																		+'<td><input type="text" id="Tipo_Cambio_'+id_Proveedor+'" class="contenido_flotante" style="width:200px;">'
																		+'<td align="right">Porcentaje Anticipo:</td>'
																		+'<td><input type="text" id="Anticipo_'+id_Proveedor+'" class="contenido_flotante" style="width:303px;"></td>'
																	+'</tr>'
																	+'<tr>'
																		+'<td align="right">IVA:</td>'
																		+'<td align="left">'
																			+'<select class="Filtro_Iva contenido Iva" id="Iva_'+id_Proveedor+'" style="width:65px;">'
																			+'<option value="" selected>Iva</option>'
																			+'</select>'
																		+'</td>'
																		+'<td align="right">Tipo Orden:</td>'
																		+'<td align="left">'
																			+'<select class="contenido" id="id_TipoOrdenCompra_'+id_Proveedor+'" style="width:110px;">'
																			+'<option value="3" selected>Materiales</option>'
																			+'<option value="8">Servicios</option>'
																			+'</select>'
																		+'</td>'
																	+'</tr>'
																	+'<tr>'
																		+'<td>&nbsp;</td>'
																	+'</tr>'
																	+'<tr>'
																		+'<td align="center" colspan="8" style="margin:0 auto;"><button name="btn_Aceptar" id="btn_Aceptar_'+id_Proveedor+'" type="button" class="boton_imagen"><img src="../images/aceptar.png" height="20" width="90"></button></td>'
																	+'</tr>'
																+'</table>'
															+'</td>'
															+'<td class="x-box-mr"></td>'
														+'</tr>'
														+'<tr>'
															+'<td class="x-box-bl" width="1px"></td>'
															+'<td class="x-box-bc"></td>'
															+'<td class="x-box-br" width="1px"></td>'
														+'</tr>'
													+'</tr>'
												+'</table>'
											+'</td>'
										+'</tr>'
									+'</table>'
									+'<br>';
									var index=provedoresaux.indexOf(provedoresaux[i]);
									 provedoresaux.splice(index,1);	
								}
							}
							renglon="<tr class='id_"+id_Proveedor+"'>"
											+"<td>"+insumo+"</td>"
											+"<td>"+descripcion+"</td>"
											+"<td>"+UM+"</td>"
											+"<td align='right'><input type='text' id='de_MedidaEspecialOC_"+insumo+"' class='contenido' id_Proveedor='"+id_Proveedor+"' value='"+de_MedidaEspecial+"' style='width:99%;' placeholder='Notas'></td>"
											+"<td align='right'><input type='text' value='"+cantidad+"' class='contenido_flotante contenido_readOnly' style='text-align:right;width:99%;' readOnly ></td>"
											+"<td align='right'><input type='text' value='"+precio+"'  class='contenido_flotante contenido_readOnly' style='text-align:right;width:99%;' readOnly></td>"
											+"<td align='right'><input type='text' value='"+formatea(sub_insumo,2)+"'  class='contenido_flotante contenido_readOnly' style='text-align:right;width:99%;' readOnly></td>"
										+"<tr>";
							im_subtotal=eval(sub_insumo+'+'+im_subtotal);
							
							renglones.push({
										id_prov:id_Proveedor,
										insumo:renglon,
										subtotal:im_subtotal
							});
						}
						cerrar_modal();
						modal('NOTA',nota,'style="background-image:url(../images/bg_gris.gif);color:#007670"');
						$("#modal_box").css('height','500px');
						$("#modal_box").css('overflow-y','scroll');
						
					
					})	
					for(var i=0;i<renglones.length;i++){
							
							$('#contenido_'+renglones[i].id_prov).append(renglones[i].insumo);
							subtotal_nota[renglones[i].id_prov]+=renglones[i].subtotal;

							$('#subtotal_nota_'+renglones[i].id_prov).val('$'+formatea(subtotal_nota[renglones[i].id_prov],2));	
						}					
						cargar_Medios();
						carga_almacenes();
						carga_Iva();	 
		  }
        
          var enviar_oc=function(){
         	$(this).prop('disabled',true);
         	var id_boton=$(this).attr('id');
			$('#'+id_boton+' > img').attr('src','../images/loader.gif');
		    var id=$(this).attr('id').split('_');
          	var subfijo=id[2];
          	var empresa=$('#Filtro_id_empresa').val();
          	var id_obra=$('#Filtro_id_Obra').val();
          	var proveedores="";
          	var cantidades="";
          	var insumos="";
          	var precios="";
          	var im_subtotal=0;
          	var renglon="";
			var de_MedidasEspeciales="";
          	var id_Almacen=$('#id_Almacen_'+subfijo).val();
          	var fh_entrega=$('#fh_Entrega_'+subfijo).val();
          	var nb_Recibe=$('#nb_persona_'+subfijo).val();
          	var nu_telefono=$('#de_telefono_'+subfijo).val();
          	var medio_envio=$('#Medio_envio_'+subfijo).val();
          	var Gasto_maniobra=$('#Gasto_maniobra_'+subfijo).val();
			var de_domicilio=$('#de_domicilio_'+subfijo).val();
          	var de_comentarios=$('#de_comentarios_'+subfijo).val();
          	var id_moneda=$('#id_moneda'+subfijo).val();
          	var Tipo_cambio=$('#Tipo_Cambio_'+subfijo).val();
          	var anticipo=$('#Anticipo_'+subfijo).val();
          	var iva =$('#Iva_'+subfijo).val();
			var id_TipoOrdenCompra = $('#id_TipoOrdenCompra_'+subfijo).val();
			if($('#retencion_nota_'+subfijo).val() != ''){
				var im_Retencion = $('#retencion_nota_'+subfijo).val();
			}
			else{
			   var im_Retencion =0;
			}
         	var requisiciones="";
         	var centros="";
          	var bandera=true;
          	var mensaje='';
          	
 
          	if(id_Almacen == ''){
          		inlineMsg($('#id_Almacen_'+subfijo).attr('id'),'Especifique un Almacen');
          		bandera=false;
          	}
          	if(fh_entrega ==''){
          		inlineMsg($('#fh_Entrega_'+subfijo).attr('id'),'Especifique Fecha de Entrega');
          		bandera=false;
          	}
          	if(nb_Recibe == ''){
          		inlineMsg($('#nb_persona_'+subfijo).attr('id'),'Especifique Persona que Recibe');
          		bandera=false;
          	}
          	if(nu_telefono==''){
          		inlineMsg($('#de_telefono_'+subfijo).attr('id'),'Especifique Numero de telefono');
          		bandera=false;
          	}
          	if(medio_envio==''){
          		inlineMsg($('#Medio_envio_'+subfijo).attr('id'),'Especifique Medio de Envio');
          		bandera=false;
          	}
          	if(de_domicilio==''){
          		inlineMsg($('#de_domicilio_'+subfijo).attr('id'),'Especifique Domicilio');
          		bandera=false;
          	}
          	if(id_moneda==''){
          		inlineMsg($('#id_moneda'+subfijo).attr('id'),'Especifique Moneda');
          		bandera=false;
          	}
          	if(Tipo_cambio==''){
          		inlineMsg($('#Tipo_Cambio_'+subfijo).attr('id'),'Especifique Tipo Cambio');
          	
          		bandera=false;
          	}
          	if(iva==''){
          		inlineMsg($('#Iva_'+subfijo).attr('id'),'Especifique el iva');
          	
          		bandera=false;
          	}
			$('input[id^="de_MedidaEspecialOC_"]').each( function(i) { 
          	 	  if($(this).val().length > 250){
          	 	  	inlineMsg($(this).attr('id'),'La nota debe contener menos de 250 caracteres');
          	 	  	bandera=false;
          	 	  }
          	 });

           
          	if(bandera){
				$('#contenido_'+subfijo+' .id_'+subfijo).each(
	                                          function()
	                                          {    
													var insumo= $(this).find("td").eq(0).html();
													var sub_insumo=$(this).find("td").eq(6).find("input").val().split(',').join('');
													var de_MedidaEspecial = $(this).find("td").eq(3).find("input").val().split("'").join('').trim();
													de_MedidaEspecial = de_MedidaEspecial.length > 0 ?  de_MedidaEspecial : '!';
													//Esta condicion es para no mandar vacio el campo cuando se haga el split en el componente
													de_MedidaEspecial = de_MedidaEspecial.split('#').join('').split('°').join('');
													var cantidad=$(this).find("td").eq(4).find("input").val();
													cantidad=cantidad.replace(',','');
													var precio=$(this).find("td").eq(5).find("input").val();
													precio=precio.split(',').join('');
													precio=precio.replace('$','');
													requisiciones+=$('#id_requisicion_'+insumo).val()+'-';
													centros+=$('#Centros_'+insumo).val()+'_';
													insumos+=insumo+',';
													proveedores+=subfijo+',';
													im_subtotal=eval(sub_insumo+'+'+im_subtotal);
													cantidades+=cantidad+',';
													precios+=precio+',';
													de_MedidasEspeciales += de_MedidaEspecial.split("¦").join('') + '¦';
	                                           
	                                           } 
	                   );
	 				 precios=precios.substring(0,precios.length-1);
					 cantidades=cantidades.substring(0,cantidades.length-1);	
	          		 insumos=insumos.substring(0,insumos.length-1);
	          		 requisiciones=requisiciones.substring(0,requisiciones.length-1);
	          		 proveedores=proveedores.substring(0,proveedores.length-1);
          		 	 var contador=0;
          			 $('table[id^="tbl_"]').each(function(){
          								contador++;
          			 });
         			$.ajax({
		          			url:'componentes/ordenes_compras.cfc?method=RS_Inserta_Orden_compra',
		          			method:'POST',
		          			cache:false,
		          			data:
		          			{
	          					id_Empresa:empresa,
	          					id_obra:id_obra,
	          					id_empleado:<cfoutput>#session.id_Empleado#</cfoutput>,
	          					nb_Recibe:nb_Recibe,
	          					nu_Telefono:nu_telefono,
	          					de_Domicilio:de_domicilio,
	          					de_Comentarios:de_comentarios,
	          					fh_entrega:fh_entrega,
	          					medio:medio_envio,
	          					G_Maniobra:Gasto_maniobra,
	          					tipo_cambio:Tipo_cambio,
	          					pj_anticipo:anticipo,
	          					iva:iva,
	          					id_Almacen:id_Almacen,
	          					id_moneda:id_moneda,
	          					proveedores:proveedores,
	          					insumos:insumos,
	          					cantidades:cantidades,
	          					precios:precios,
	          					subtotal:im_subtotal,
	          					Centros:centros,
	          					Requisiciones:requisiciones,
								de_Detalles: de_MedidasEspeciales,
								id_TipoOrdenCompra:id_TipoOrdenCompra,
								im_Retencion:im_Retencion
		          			},
		          			success:function(response){
		          				var arreglo=JSON.parse(response);
		          				
		          				if(arreglo.OK){

		          						$('#tbl_'+subfijo).remove();
		          							contador--;
		          							if(!arreglo.ERRORCORREO){
		          									alert(arreglo.MESSAGE)
		          							}	
		          							if(contador==0){
		          								
		          								$('#modal_container').html("Se han generado las ordenes de compra seleccionadas!");
		          								$('#modal_container').css('text-align','center');
		          								$('#modal_container').css('font-size','16px');
		          								$('#modal_container').css('font-weight','bold');
		          								$('#modal_box').css('height','200px');
		          								$('#filtrar').click();

		          							}

		          					
		          				}


		          			},
		          			error:function(error){
		          				$('#'+id_boton).prop('disabled',false);
		          				$('#'+id_boton+' > img').attr('src','../images/aceptar.png');
		          				alert('Ha Ocurrido un error al intentar realizar la OC, Contacte a sistemas RedRabbit!')
		          			}
					});
			}else{
		    	$(this).prop('disabled',false);
         		$('#'+id_boton+' > img').attr('src','../images/aceptar.png');
		    } 
          }
          var subtotales=function(){
	  			var insumo=$(this).attr('insumo');
	  			var cantidad=$('#cantidad_pendiente_'+insumo).val().split(',').join('');
				var precio=$('#precio_pendiente_'+insumo).val().split(',').join('');
				precio=precio.replace('$','');
				var subtotal=eval(cantidad+'*'+precio);
				$('#cantidad_pendiente_'+insumo).val(formatea(cantidad,6));
				$('#precio_pendiente_'+insumo).val('$'+formatea(precio,4));
				$('#importe_pendiente_'+insumo).val('$'+formatea(subtotal,4));
							
		  }
		  var otros_gastos=function(){
		  		var id=$(this).attr('id');
					id=id.substring(15);
          	    var insumo=id;
				var gastos_maniobra =$('#Gasto_maniobra_'+insumo).val();
				$('#otros_gastos_nota_'+insumo).val('$'+formatea(gastos_maniobra,2));
				var iva = parseFloat($('#Iva_'+insumo).val()/100);
				var subtotal=($('#subtotal_nota_'+insumo).val().split(',').join(''));
				var otros_gastos=($('#otros_gastos_nota_'+insumo).val().split(',').join(''));
				 	subtotal = parseFloat(subtotal.replace('$',''));
					otros_gastos = parseFloat(otros_gastos.replace('$',''));
				var suma=subtotal + otros_gastos;
				var im_iva = (suma*iva);
				if($('#retencion_nota_'+insumo).val() != ''){
				var retencion= parseFloat($('#retencion_nota_'+insumo).val());	
				}
				else{
				var retencion=0;
				}
				var total = (suma + im_iva) - retencion;
				$('#Iva_nota_'+insumo).val('$'+formatea(im_iva,2));
				$('#total_nota_'+insumo).val('$'+formatea(total,2));
				
          }
		  var Iva=function(){
		    	var id=$(this).attr('id');
					id=id.substring(4);
          	    var insumo=id;
				var iva = parseFloat($('#Iva_'+insumo).val()/100);
				var subtotal=($('#subtotal_nota_'+insumo).val().split(',').join(''));
				var otros_gastos=($('#otros_gastos_nota_'+insumo).val().split(',').join(''));
				 	subtotal = parseFloat(subtotal.replace('$',''));
					otros_gastos = parseFloat(otros_gastos.replace('$',''));
				var suma=subtotal + otros_gastos;
				var im_iva = (suma*iva);
				if($('#retencion_nota_'+insumo).val() != ''){
				var retencion= parseFloat($('#retencion_nota_'+insumo).val());	
				}
				else{
				var retencion=0;
				}
				var total = (suma + im_iva) - retencion;
				$('#Iva_nota_'+insumo).val('$'+formatea(im_iva,2));
				$('#total_nota_'+insumo).val('$'+formatea(total,2));
		  }
		  var retencion=function(){
		  	var id=$(this).attr('id');
				id=id.substring(15);
          	var insumo=id;
			if($('#retencion_nota_'+insumo).val() != ''){
				var retencion= parseFloat($('#retencion_nota_'+insumo).val());	
				}
				else{
				var retencion=0;
				}
			var iva = parseFloat($('#Iva_'+insumo).val()/100);
				var subtotal=($('#subtotal_nota_'+insumo).val().split(',').join(''));
				var otros_gastos=($('#otros_gastos_nota_'+insumo).val().split(',').join(''));
				 	subtotal = parseFloat(subtotal.replace('$',''));
					otros_gastos = parseFloat(otros_gastos.replace('$',''));
				var suma=subtotal + otros_gastos;
				var im_iva = (suma*iva);
				var total = (suma + im_iva) - retencion;
				$('#Iva_nota_'+insumo).val('$'+formatea(im_iva,2));
				$('#total_nota_'+insumo).val('$'+formatea(total,2));
						  
		  }
          var subtotalesCheck=function(){
          			var id=$(this).attr('id').split("_");
          			var insumo=id[1];
          			var cantidad=$('#cantidad_pendiente_'+insumo).val().split(',').join('');
					var precio=$('#precio_pendiente_'+insumo).val().split(',').join('');
					precio=precio.replace('$','');
					
					var subtotal=eval(cantidad+'*'+precio);
					$('#cantidad_pendiente_'+insumo).val(formatea(cantidad,6));
					$('#precio_pendiente_'+insumo).val('$'+formatea(precio,4));
					$('#importe_pendiente_'+insumo).val('$'+formatea(subtotal,4));
		}
		var cotizar=function(){
         	var insumos='';
			var checado = 0;
			$('#tbl1 input[type^="checkbox"][id^="chk_"]').each(function(i){
				var id=$(this).attr('id');
				var insumo=id.substring(4);
				if($('#chk_'+insumo).is(':checked')){
					checado++;
					insumos+="'"+insumo+"',";	
				}
			});

			insumos=insumos.substring(0,insumos.length-1);
			
			if(checado == 0){
				alert('Debe seleccionar al menos un insumo');
				return false;
			}
			modal_con_cfm('Cotizar','cotizacion_modal.cfm?id_Empresa='+$('#Filtro_id_empresa').val()+'&id_Obra='+$('#Filtro_id_Obra').val()+'&insumos='+insumos+'','style="background-image:url(../images/bg_gris.gif);color:#007670"');
		}
		var comparativa=function(){
			var empresa=$('#Filtro_id_empresa').val();
          	var id_obra=$('#Filtro_id_Obra').val();
			modal_con_cfm('Tabla comparativa','cotizaciones_tabla_comparativa.cfm?id_Empresa='+empresa+'&id_obra='+id_obra,'style="background-image:url(../images/bg_gris.gif);color:#007670"');
		}
		var Comparativa_enviar=function(){
			
			$('#tbl_comparativa input[type="radio"][id^="rdb_Insumo_"]').each(function(){
					if($(this).is(':checked')){

						var id_radio=$(this).attr('id').split('_');	
						var insumo=$(this).attr('id_Insumo');
						var proveedor=$(this).attr('id_Proveedor');
						var precio=$(this).val();
						var cantidad=$('#comparativa_'+insumo).find("td").eq(3).attr('id');

						$('#chk_'+insumo).attr('checked',false);
						
						$('#Filtro_id_Proveedor_'+insumo).val(proveedor);
						$('#cantidad_pendiente_'+insumo).val(cantidad).change();
						$('#precio_pendiente_'+insumo).val(precio);
						
						$('#id_'+insumo).css('background-color','#ff6600');
					}
			});
			$('.close_bottom').click();
		}
		var rechazar=function(){
			var empresa=$('#Filtro_id_empresa').val();
      		var id_obra=$('#Filtro_id_Obra').val();
			modal_con_cfm('Rechazar pedido','rechazar_pedido.cfm?Filtro_id_Empresa='+empresa+'&Filtro_id_obra='+id_obra,'style="background-image:url(../images/bg_gris.gif);color:#007670"');
		}
		var checar_agrup=function(){
			var id=$(this).attr('id');
			if($(this).prop('checked')){
				$('.'+id).attr('checked',true);
				
			}else{
				$('.'+id).attr('checked',false);
			}
		}
		var comprar_plaza=function(){
			var empresa=$('#Filtro_id_empresa').val();
          	var id_obra=$('#Filtro_id_Obra').val();
			var insumos='';
			var checado = 0;
			$('#tbl1 input[type^="checkbox"][id^="chk_"]').each(function(i){
				var id=$(this).attr('id');
				var insumo=id.substring(4);
				if($('#chk_'+insumo).is(':checked')){
					checado++;
					insumos+=""+insumo+",";	
				}
			});
			insumos=insumos.substring(0,insumos.length-1);
			if(checado == 0){
				alert('Debe seleccionar al menos un insumo');
				return false;
			}else{
						
					 if(confirm('\u00bfDesea que estos insumos se compren en plaza?')){

						$.ajax({
							url:'componentes/ordenes_compras.cfc?method=comprar_plaza',
				          	method:'POST',
				          	cache:false,
				          	data:{
				          		id_Empresa:empresa,
				          		id_obra:id_obra,
				          		insumos:insumos
				          	},
				          	success:function(response){
				          		var arreglo=JSON.parse(response);
				          		if(arreglo.OK){
				          			alert('Se han enviado los insumos a residentes!');
				          			$('#filtrar').click();
				          		}else{
				          			alert('Ha ocurrido un error en el servidor!');
				          		}
				          	}

						});
					}
			}
		}
		var mostrarDetalles=function(){
			event.preventDefault();
			var id_boton=$(this).attr('id');
			$('#'+id_boton).attr("disabled", true);
			var insumo=$(this).attr('insumo');
			var requisiciones=$(this).attr('requisiciones');
			var Empresa=$('#Filtro_id_empresa').val();
			var id_obra=$('#Filtro_id_Obra').val();
			var click=$(this).attr('click');
			var agrupado=$(this).attr('agrupado');
			
			if(click==0){	

				$('#'+id_boton+' > #mostrarDetalles').attr('src','../images/cargando.gif');
				$(this).attr('click',1);
				$.ajax({
				url:'componentes/ordenes_compras.cfc',
				method:'GET',
				cache:true,
				async:true,
				data:{
					method:'obtenerDetallesInsumo',
					id_Empresa:Empresa,
					id_Obra:id_obra,
					id_requisicion:requisiciones,
					id_insumo:insumo
				},
				success:function(data){
				
					var arreglo=JSON.parse(data);
					
							var contenido="<tr style='background-color:#B4CBE6;font-size:12px;font-weight:bold;' class='encabezado id_"+agrupado+" detalle_"+insumo+"'>"+
												"<td class='cuadricula' colspan='2' align='center' style='background-color:#BDBDBD'><b>Requisicion</b></td>"+
												"<td class='cuadricula' colspan='5' align='center' style='background-color:#BDBDBD'><b>Fecha</b></td>"+
												"<td class='cuadricula' colspan='4' align='center' style='background-color:#BDBDBD'><b>Solicitante</b></td>"+
												"<td class='cuadricula' colspan='4' align='center' style='background-color:#BDBDBD'><b>Insumo</b></td>"+
												"<td class='cuadricula' colspan='2' align='center' style='background-color:#BDBDBD'><b>Cantidad</b></td>"+
												"<td class='cuadricula' colspan='2' align='center' style='background-color:#BDBDBD'><b>Pendiente Por comprar</b></td>"+
												
											  "</tr>";
						for(var i=0;i<arreglo.length;i++){
							
							contenido+=	"<tr class='id_"+agrupado+" detalle_"+insumo+"'>"+
												"<td class='cuadricula' colspan='2' align='center'>"+arreglo[i].ID_REQUISICION+"</td>"+
												"<td class='cuadricula' colspan='5' align='left'>"+arreglo[i].FH_REQUISICION+"</td>"+
												"<td class='cuadricula' colspan='4' align='left'>"+arreglo[i].SOLICITANTE+"</td>"+
												"<td class='cuadricula' colspan='4' align='left'>"+arreglo[i].ID_INSUMO+"</td>"+
												"<td class='cuadricula' colspan='2' align='right'>"+formatea(arreglo[i].NU_CANTIDAD,2)+"</td>"+
												"<td class='cuadricula' colspan='2' align='right'>"+formatea(arreglo[i].NU_PORCOMPRAR,2)+"</td>"+
											"</tr>";
							}	
						contenido+=	"<tr class='id_"+agrupado+" detalle_"+insumo+"'>"+
												"<td class='cuadricula'  style='background-color:#BDBDBD' colspan='19' align='center'></td>"+
									"</tr>";
						$('#id_'+insumo).after(contenido);
						$('#'+id_boton+'> img').attr('src','../images/todo.png');
				},
				error:function(){
					$(this).attr('click',0);
					$('#'+id_boton+' > #mostrarDetalles').attr('src','../images/todo.png');
				}
			})
			}else{
				$('.detalle_'+insumo).remove();
				$(this).attr('click',0);
			}
			$('#'+id_boton).attr("disabled", false);
		}
		$('#tbl1').on('click','.compras',apertura);
		$('#filtrar').on('click',traeinsumos);
		$('#chktodos').on('click',checartodos);
		$('#tbl1').on('click','input[type="checkbox"][id^="chkagrup_"]',checar_agrup);
		$('#tbl1').on('click','button[id^="boton_"]',mostrarDetalles);
		$('#generar_oc').on('click',generar_oc);
		$('#cotizacion').on('click',cotizar);
		$('#tabla_comparativa').on('click',comparativa);
		$('#rechazar').on('click',rechazar);
		$('#comprar_plaza').on('click',comprar_plaza);
		$('body').on('click','button[id^="btn_Aceptar_"]',enviar_oc);
		$('#tbl1').on('change',' input[type="text"]',subtotales);
		$('body').on('change',' input[type="text"][id^="Gasto_maniobra_"]',otros_gastos);
		$('body').on('change','input[type="text"][id^="retencion_nota_"]',retencion);
		$('body').on('change','[id^="Iva_"]',Iva);
		$('#tbl1').on('click',' input[type="checkbox"][id^="chk_"]',subtotalesCheck);
		$('body').on('click','#btnComparativa',Comparativa_enviar);
	}
	$(document).on('ready',inicio);
</script>
<style type="text/css">
	.mostrar{
		display:none;
	}
	.letra{
		font-size:10px;
	}
	.encabezado_compras td{
			background-image:url(../images/bg_gray_enorme.gif);
	/*color:#007670;*/
	font-weight:bold;
	font-size:8px;
	border-bottom:solid; 
	border-bottom-color:#666666; 
	border-bottom-width:2px; 
	border-right:solid; 
	border-right-width:1px; 
	border-right-color:#666666;
	text-align:center;
	text-transform:uppercase;	
	
	}
	.compras{
		 font-weight: :bold;
		 background-color:#AAAAAB;
	}
</style>
</head>
<body >
<cfinclude template="menu.cfm">&nbsp;
<cfform name="form1" method="post" action="#CurrentPage#">
    <table width="80%" align="center">
        <tr class="titulo">
            <td align="left">ORDENES COMPRA</td>
        </tr>
    </table>
	<table width="80%" cellpadding="0" cellspacing="0" align="center">
        <tr><td class="x-box-tl" width="1px"></td><td class="x-box-tc"></td><td class="x-box-tr" width="1px"></td></tr>
        <tr><td class="x-box-ml"></td><td class="x-box-mc" width="99%">	
            <table width="100%" align="left" border="0">
            	<tr>
                	<td align="right">Empresa:</td>
					<td align="left">
					<cfselect name="Filtro_id_empresa" style="width:300px" class="contenido" required="no">
                        <option value="">TODAS</option>
                            <cfoutput query="RS_Empresas.rs">
                                <option value="#RS_Empresas.rs.id_empresa#"  <cfif #RS_Empresas.rs.id_empresa# EQ #Filtro_id_empresa#>selected="selected"</cfif>>
                                #RS_Empresas.rs.nb_empresa# 
                                </option>
                            </cfoutput>
                        </cfselect> 
                	</td>
					<td align="right">Obra:</td>
					<td align="left">
						<cfinput type="text" class="contenido_numerico" name="Filtro_id_Obra" id="Filtro_id_Obra" validate="integer" size="10" value="#Filtro_id_Obra#">
						<cfinput type="text" onFocus="cambiarFocus($(this).before());" bind="cfc:#Application.componentes#.obras.getObraPorID(1,{Filtro_id_Obra@blur})" bindonload="yes" id="de_Obra_lab" name="de_Obra_lab" class="contenido_readOnly" style="width:250px" message="La Clave de Obra no es válida.">
						<button type="button" id="btnBuscarObra" onClick="javascript:AbrirPopUpBusquedaChrome('Filtro_id_Obra', 'pop_obras_busqueda.cfm', 'id_Empresa=<cfoutput>#Session.id_Empresa#</cfoutput>', '700px', '600px')" class="boton_popup" value=""><img src="../images/buscar.png" width="24"></button>
					</td>
                </tr>
                <tr>
                	<td align="right">Insumo:</td>
					<td align="left">
						<input type="text" name="Filtro_insumo" id="Filtro_insumo" placeholder="Introduzca clave o descripcion del insumo" style="width:298px;">
					</td>
                    <td align="right">Agrupador:</td>
                    <td align="left">
                      
                        <cfselect name="id_Agrupador" id="id_Agrupador" class="contenido" style="width:343px;height:20px;" required="no" message="Seleccione un Agrupador" title="Seleccione un Agrupador">
                            <option value="">SELECCIONE UN AGRUPADOR</option>
                            <cfoutput query="RS_MostrarAgrupadores">
                                  <option value="#id_Agrupador#">#de_Agrupador#</option>  
                             </cfoutput> 
                        </cfselect>  
                    </td>
                </tr>
				<tr>
					<td>&nbsp;</td>
				</tr>	
				<tr>
					<td colspan="4" align="center">
						<button type="button" class="boton_imagen" id="filtrar" style="vertical-align: middle;"><img src="../images/filtro_azul.png" ></button>
					</td>
				</tr>
				<cfinput type="hidden" name="sn_Mostrar" value="S">	
                <cfinput type="hidden" name="id" value="">
		</table>
		</td><td class="x-box-mr"></td></tr><tr><td class="x-box-bl" width="1px"></td><td class="x-box-bc"></td><td class="x-box-br" width="1px"></td>
	</tr>
</table>
<br>
<center id="botones" style="display:none">
	<button type="button" style='border:0px;' id="cotizacion"><img src="../images/cotizar.png" alt="" /></button>
	<button type="button" style='border:0px;' id="generar_oc"><img src="../images/generar_oc.png" alt="" /></button>
	<button type="button" style='border:0px;' id="comprar_plaza"><img src="../images/comprar_plaza.png" alt="" /></button>
	<button type="button" style='border:0px;' id="tabla_comparativa"><img src="../images/tabla_comparativa.png" alt="" /></button>
	<button type="button" style='border:0px;' id="rechazar"><img src="../images/rechazar.png" alt="" /></button>
	<br />
	<button type="button" class="boton_imagen" title="Agregar Insumos Proveedor" style="vertical-align: middle;" onclick="AbrirModalInsumosProveedor();">
		<img src="../images/insumos_proveedor.png">
	</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<button type="button" class="boton_imagen" title="Agregar Proveedor" style="vertical-align: middle;" onclick="AbrirModalAgregarProveedor();">
		<img src="../images/agregar_proveedor.png">
	</button>
</center>
<br />
		<table border="0" cellpadding="0" cellspacing="0" width="99%" class="Tabla_Azul mostrar letra" align="center" id="tbl1">
				<thead class="encabezado" style='font-size:10px'>
					<td colspan="7"> </td>
					<td colspan="3" width="120px">PRESUPUESTO</td>
					<td colspan="2">SOLICITADO</td>
					<td colspan="3">COMPRADO</td>
					<td colspan="3" width="200px">PENDIENTE POR COMPRAR</td>
					<td></td>
				</thead>	
				<thead class="encabezado">
					</td>
					<td>CLAVE</td>
					<td width="300px">DESCRIPCION</td>
					<td style="width:162px;">PROVEEDOR</td> 
					<td>UM</td> 
					<td>TRAMOS</td> 
					<td>TRAMOS CERRADOS</td>
					<td>MEDIDA ESPECIAL</td> 
					<td>CANTIDAD</td>
		            <td>PRECIO</td>           
					<td width="120px">IMPORTE</td>
					<td>CANTIDAD</td>
		            <td width="120px">IMPORTE</td>
		            <td>CANTIDAD</td>
		            <td>PRECIO</td>           
					<td width="120px">IMPORTE</td>
					<td width="60px">CANTIDAD</td>
					<td width="60px">precio</td>
		            <td width="120px">IMPORTE</td>
		            <td><input type="checkbox" id='chktodos'></td>
					</td>
				</thead>
				<tbody id="result">
				</tbody>
				
			</table>
	</div>
	<center>
    	<div id="cargando"></div>
    </center>   
</cfform>
	<!--- Modal para cargar insumnos a proveedor --->
	<div id="Modal_InsumosProveedor" class="modalmask" style="display:none; width: 100%; overflow-y: scroll;">
    	<div  class="Modal_contenedor" style="position: relative; margin:auto; margin-top: 50px; width:40%; min-width:800px;  display:none;">
            <div class="EncabezadoModal">
                <table style="width: 100%; height:10%;">
                    <tr>
                        <td width="98%"><span id="span_Titulo"></span></td>
                        <td width="2%" style="border:#FFFFFF"><button type="button" class="cerrar" style="height:100%; width:100%" onClick="CerrarModalInsumosProveedor()">X</button></td>
                    </tr>
                </table>
            </div>
            <div id="Detalle" style="height:90%; back">
				<table width="97%" cellpadding="0" cellspacing="0" border="0" id="tabla_main_" align="center">
					<tr>
						<td nowrap="nowrap" align="center">
							<br />
							<table width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
								<tr>
									<td>
										<input type="hidden" name="sn_CargarProveedores" id="sn_CargarProveedores" value="0">
										<iframe id="frame_InsumosProveedor" src="" style="height:600px; width:100%"></iframe>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr align="center">
						<td align="center">
							<br />
							<div id="controles">
								<center>
									<button type="button" id="btn_CerrarModalInsumosProveedor" class="boton_imagen" title="Cerrar" style="vertical-align: middle;" onclick="CerrarModalInsumosProveedor();">
										<img src="../images/cerrar.png">
									</button>
								</center>
							</div>
							<br />&nbsp;
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<!---Termina Modal --->
<script>
	function CerrarModalInsumosProveedor()
	{
		$('#Modal_InsumosProveedor').hide();
		$('#frame_InsumosProveedor').attr('src', '');
		$('#span_Titulo').text('');
		if (Number($('#sn_CargarProveedores').val()) == 1 )
		{
			$('.Filtro_id_Proveedor').each(
				function()
				{
					$(this).html('<option value="">SELECCIONE UN PROVEEDOR</option>')
				}
			);
			$('.Filtro_id_Proveedor').each(function(){
				var identificador=$(this).attr('id');
				var insumo=$(this).attr('id').substring(20);
				var arreglo=[];
				$.ajax({
					url:"componentes/ordenes_compras.cfc?method=proveedores",
					method:"GET",
					cache:false,
					data:{
						id_insumo:insumo
					},
					success:function(response){
						arreglo=JSON.parse(response);
						var opciones="";
						for(var i=0;i<arreglo.DATA.length;i++){
							
								opciones+="<option value='"+arreglo.DATA[i][0]+"'>"+arreglo.DATA[i][1]+"</option>";	
						}	
						$('#'+identificador).append(opciones);
					},
					error:function(){
					}
				});	
			});
		}
	}
	function AbrirModalInsumosProveedor()
	{
		$('#Modal_InsumosProveedor').show('slow');
		$('.Modal_contenedor').show('slow');
		$('#span_Titulo').text('Agregar Insumos a Proveedor');
		$('#sn_CargarProveedores').val('1')
		$('#frame_InsumosProveedor').attr('src', 'asignar_insumosproveedor_agrupadores_listado.cfm?sn_Modal=1');
	}
	function AbrirModalAgregarProveedor()
	{
		$('#Modal_InsumosProveedor').show('slow');
		$('.Modal_contenedor').show('slow');
		$('#span_Titulo').text('Agregar Proveedor');
		$('#sn_CargarProveedores').val('0')
		$('#frame_InsumosProveedor').attr('src', 'proveedores_agregar.cfm');
	}

	function validar_preasignacion ()
	{
		var proveedor = true;
		$('select[id^="id_Proveedor_"]').each(function(i){
			if($(this).val() == '')
			{proveedor=false;}
		});
		if(proveedor)
		{
			form1.sn_Preasignar.value = 'S';return true;
		}
		else
		{
			alert('Debe seleccionar contratista para preasignar');
			return false;
		}
	}
	
	function colorMouseOut(renglon, color)
	{		
		if(regresaColor(color, renglon) == "#99cccc")
		{
			renglon.style.backgroundColor = "";
		}
	}

	function colorMouseOver(renglon, color)
	{
		if(regresaColor(color, renglon) == "#nannannan") 
		{
			renglon.style.backgroundColor = "#99cccc";
		}
	}

	function color(renglon, color)
	{		
		if(regresaColor(color, renglon) == "#nannannan" || regresaColor(color, renglon) == "#99cccc")
		{
			renglon.style.backgroundColor = "#ff6600";
		}
		else if(regresaColor(color, renglon) == "#ff6600")
		{
			renglon.style.backgroundColor = "#ff0000";
		}
		else if(regresaColor(color, renglon) == "#ff0000")
		{
			renglon.style.backgroundColor = "";
		}
	}
    
    function regresaColor(color, renglon)
    {
         var str = renglon.style['backgroundColor'];
         str = str.replace(/rgb\(|\)/g, "").split(",");
         str[0] = parseInt(str[0], 10).toString(16).toLowerCase();
         str[1] = parseInt(str[1], 10).toString(16).toLowerCase();
         str[2] = parseInt(str[2], 10).toString(16).toLowerCase();
         str[0] = (str[0].length == 1) ? '0' + str[0] : str[0];
         str[1] = (str[1].length == 1) ? '0' + str[1] : str[1];
         str[2] = (str[2].length == 1) ? '0' + str[2] : str[2];
         return ('#' + str.join(""));
 	}
	
	
	var cambiarFocus = function(pop_up){				
		var nom_campo = $($(pop_up).prev())[0].id;
		var valor = $("#" + nom_campo).val();
		if(valor != "")
		{	
			$("#" + nom_campo).focus().blur();
		}
	};
</script>
</body>
</html> 