/* Document CSS */
/*
	Colores
	border : #e7eaec;
	color: #676a6c;
	background : #f3f3f4;

*/

.rmmFlujo { }

.rmmFlujo .semaforo { background-color: #FFF; padding: 5px; border-radius: 5px;}
.rmmFlujo .semaforo .rojo { background-color: #d9534f; color: #FFF;}
.rmmFlujo .semaforo .amarillo { background-color: #f0ad4e; color: #FFF;}
.rmmFlujo .semaforo .verde { background-color: #5cb85c; color: #FFF;}
.rmmFlujo .semaforo {}
.rmmFlujo .indicador { margin-bottom: 10px; text-align: right;}
.rmmFlujo .indicador h2 { text-align: center; font-size: 25px;}
.rmmFlujo .columna { background-color: #FFF; border: 1px solid #e7eaec; border-top-width: 5px; padding: 10px; margin-bottom: 10px;}
.rmmFlujo .columna .minimizar { position: absolute; width: 100%; text-align: right; padding-right: 50px;}
.rmmFlujo .columna .minimizar a { display: block; padding: 5px 10px; color: #666; float: right; cursor: pointer;}
.rmmFlujo .columna h2 { margin: 5px 0 10px 0; font-size: 20px;}
.rmmFlujo .columna hr { margin: 10px 0; border-color: #e74c3c}
.rmmFlujo .columna form { overflow: hidden;}
.rmmFlujo .columna form label { width: 100%;}
.rmmFlujo .columna form input { width: 100%;}
.rmmFlujo .columna form button { float: right;}
.rmmFlujo .columna .form-group { overflow: hidden;}
.rmmFlujo .columna .registro { padding: 5px;}
.rmmFlujo .columna .registro:nth-child(2n+1) { background-color: #f3f3f4;}
.rmmFlujo .columna .registro.total { background-color: transparent;}
.rmmFlujo .columna .registro label { width: 90%;}
.rmmFlujo .columna .registro label.cantidad { text-align: right;}
.rmmFlujo .columna .registro a { float: right; height: 40px; padding: 10px 5px; color: #666; cursor: pointer;}
.rmmFlujo .columna .registro.ingresos label.cantidad { color: #4cae4c;}
.rmmFlujo .columna .registro.gastos label.cantidad { color: #d9534f;}

/* Large desktops and laptops */
@media (min-width: 1600px) {
	/*body { border: 2px solid brown;}*/
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1599px) {
	/*body { border: 2px solid yellow;}*/
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	/*body { border: 2px solid green;}*/
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	/*body { border: 2px solid cyan;}*/
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	/*body { border: 2px solid orange;}*/
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	/*body { border: 2px solid red;}*/
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #FFF;
  box-shadow: 0 0 0 #FFF;
  outline: 0 none;
}

