/* Document CSS */
/*
	Colores
	border : #e7eaec;
	color: #676a6c;
	background : #f3f3f4;

*/

.rrmRCP { overflow-y: scroll; height: 100%;}

.rrmRCP .buscador { padding: 20px 0;}
.rrmRCP h1 { margin-bottom: 10px; margin-top: 20px;}
.rrmRCP ul { padding: 15px 15px;}
.rrmRCP ul .table-responsive { }
.rrmRCP ul li { border-bottom: 1px dashed #ddd;}
.rrmRCP ul li:last-child { border-bottom: 0;}
.rrmRCP ul li .contenido { }
.rrmRCP ul li span { padding: 15px 0; display: block;}
.rrmRCP ul.nivel1 > li{ background-color: #FFF; border: 1px solid #ddd; border-radius: 5px; margin-bottom: 20px; padding: 15px;}
.rrmRCP ul.nivel1 span { }
.rrmRCP ul.nivel2 span { }
.rrmRCP ul.nivel3 span { }
.rrmRCP ul.nivel1 { cursor: pointer; padding: 0;} 
.rrmRCP ul.nivel1 ul.nivel2 { background-color: #f9f9f9; border: 1px solid #ddd; margin-bottom: 15px; }
.rrmRCP ul.nivel1 ul.nivel2 ul.nivel3 { background-color: #FFF; border: 1px solid #ddd; margin-bottom: 15px; }
.rrmRCP ul.nivel1 ul.nivel2 ul.nivel3 table.table { margin-bottom: 15px; border-top-color: #c0392b; }
.rrmRCP ul.nivel1 ul.nivel2 ul.nivel3 table.table thead { background-color: #e74c3c; color: #FFF;}
.rrmRCP ul.nivel1 ul.nivel2 ul.nivel3 table.table thead th { border-color: #c0392b;}
.rrmRCP ul.nivel1 ul.nivel2 ul.nivel3 table.table tbody tr td.insumo span {  width: 100px; padding: 0; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; display: inline-block;}

/* Large desktops and laptops */
@media (min-width: 1600px) {
	/*body { border: 2px solid brown;}*/
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1599px) {
	/*body { border: 2px solid yellow;}*/
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	/*body { border: 2px solid green;}*/
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	/*body { border: 2px solid cyan;}*/
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	/*body { border: 2px solid orange;}*/
	button { float: right; width: 29%;}
	input[type="text"] { float: left; width: 69%;}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	/*body { border: 2px solid red;}*/
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #FFF;
  box-shadow: 0 0 0 #FFF;
  outline: 0 none;
}

