button.cssredbutton{height:26px;max-height:26px;cursor:pointer;border:hidden 2px #FC3;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px}
button.cssredbutton table.cssredbuttontable tbody.btnBody tr.btnTr td.btnLC{
width:31px;height:26px;
max-width:31px;max-height:26px;
min-width:31px;min-height:26px;
background-position:top;background-image:url('img/lc.png');border:none;
background-repeat:no-repeat;
}
button.cssredbutton table.cssredbuttontable tbody.btnBody tr.btnTr td.btnR{
background-image:url('img/c.png');
background-repeat:repeat-x;
vertical-align:top;
height:26px;max-height:26px;border:none}
button.cssredbutton table.cssredbuttontable tbody.btnBody tr.btnTr td.btnR div{margin-top:4px;width:100%;height:26px;max-height:26px;font-family:Arial;font-size:11px;font-weight:bold;color:#FFF;border:none}
button.cssredbutton table.cssredbuttontable tbody.btnBody tr.btnTr td.btnRC{
width:28px;height:26px;max-width:28px;max-height:26px;min-width:28px;min-height:26px;
background-image:url('img/rc.png');background-repeat:no-repeat;border:none;}
button.cssredbutton:hover table.cssredbuttontable tbody.btnBody tr.btnTr td.btnLC{background-image:url('img/lc_hover.png')}
button.cssredbutton:hover table.cssredbuttontable tbody.btnBody tr.btnTr td.btnR{background-image:url('img/c_hover.png')}
button.cssredbutton:hover table.cssredbuttontable tbody.btnBody tr.btnTr td.btnRC{background-image:url('img/rc_hover.png')}
button.cssredbutton:focus{outline-style:solid;outline-width:1px;outline-color:#FC0}