body{ margin:3px 10px auto 10px; padding:0px; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:lighter; text-align:justify; color:666; }
input[type=text] { border: 1px solid #999999; padding: 3px; font-size:12px; text-transform:uppercase;}
input[type=text]:focus{ outline: 1px solid #ffcc33; font-size:12px; }
input[type=password] { border: 1px solid #999999; padding: 3px; font-size:12px; }
input[type=password]:focus{ outline: 1px solid #ffcc33; font-size:12px; }
select{border: 1px solid #999999; text-transform:uppercase;}
select:focus{outline: 1px solid #ffcc33;}
textarea{border: 1px solid #999999; padding:3px; font-size:12px; text-transform:uppercase;}
textarea:focus{outline: 1px solid #ffcc33; font-size:12px; }
img:focus{outline: 1px solid #ffcc33;}
button:focus{outline: 1px solid #ffcc33; }
