button.cssredbutton{  height:26px;  max-height:26px;  cursor:pointer;  border:none;  margin:0;  padding:0}
button.cssredbutton table td.btnLC{  width:18px;  height:26px;  max-width:18px;  max-height:26px;  background-position:top;  background-image:url(img/lc.png);  border:none}
button.cssredbutton table td.btnR{  background-image:url(img/c.png);  vertical-align:top;  height:26px;  max-height:26px;  border:none}
button.cssredbutton table td.btnR div{  margin-top:5px;  height:26px;  max-height:26px;  font-family:Arial;  font-size:11px;  font-weight:700;  color:#FFF;  border:none}
button.cssredbutton table td.btnRC{  width:18x;  height:26px;  max-width:18px;  min-width:18px;  max-height:26px;  background-image:url(img/rc.png);  border:none}
button.cssredbutton:hover table td.btnLC{  background-image:url(img/lc_hover.png)}
button.cssredbutton:hover table td.btnR{  background-image:url(img/c_hover.png)}
button.cssredbutton:hover table td.btnRC{  background-image:url(img/rc_hover.png)}
button.cssredbutton:focus{ outline-style:solid; outline-width:1px; outline-color:#FC0}